﻿@model SaRaEcommerce.ViewModel.HomeModel
@{
    ViewBag.Title = "Home";
}

@if (ViewBag.Popup != null)
{
    <!--Modal Popup Before Home Page Loading-->
    @*<div class="modal fade" id="overlay">
        <div class="modal-dialog">
            <div class="modal-content" id="modal_popup" style="height:auto;position:relative; margin-top: 21%; margin-left: 15px;">
                <div class="modal-header" style="padding: 12px 15px;">
                        <button type="button" class="close" aria-label="Close" style="margin-top: -3px !important;margin-right: -7px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                <div class="modal-body">*@
    @*<img src="@Path.Combine("/Files/Popup/", ViewBag.Popup)" style="height: auto;width: 100%;" />*@
    @*<img src="/plugins/pages/img/modal_popup/offer.jpg" style="height: auto;width: 100%;" />


                    </div>
                </div>
            </div>
        </div>*@



    @*<div id="overlay" style="display: none; width: 550px; margin: auto;">*@
    <div id="overlay" style="display: none; margin: auto;">
        @*<img src="/plugins/pages/img/modal_popup/offer.jpg" style="height: auto;width: 100%;" class="img-responsive" />*@
        <img src="@Path.Combine("/Files/Popup/", ViewBag.Popup)" style="height: auto;width: 100%;" class="img-responsive" alt="promotional offer" />
    </div>


    <!--End Modal Popup Before Home Page Loading-->
}



<!--Start Main Slider-->
<div class="row margin-bottom-35">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                @{
                    int counterSlider = 0;
                    foreach (var slider in Model.HomepageSliders)
                    {
                        if (counterSlider == 0)
                        {
                            <li data-target="#myCarousel" data-slide-to="@counterSlider" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#myCarousel" data-slide-to="@counterSlider"></li>
                        }
                        counterSlider++;
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    int sliderCounter = 0;

                    foreach (var slider in Model.HomepageSliders)
                    {
                        <div class="item @(sliderCounter == 0 ? "active" : "item")">
                            <a href="@slider.SliderUrl" target="_blank">
                                <img src="@Path.Combine("/Files/Slider/", slider.SliderImage)" style="width: 100%" class="img-responsive">
                            </a>
                        </div>
                        sliderCounter++;
                    }
                }

            </div>


            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: none;">
                <span class="icon-prev"></span>

            </a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: none;">
                <span class="icon-next"></span>
            </a>
        </div>
        <!-- /.carousel -->

    </div>
</div>

<!-- Main Slider End -->
<!--BEGIN BRAND-->

@if (Model.HomepageOffers != null && Model.HomepageOffers.Any())
{
    int counter = 1;
    <div class="row margin-bottom-35">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="margin-bottom: -5px;">
                    @foreach (var data in Model.HomepageOffers)
                    {
                        <div class="item @(counter == 1 ? "active" : "item")">
                            <a href="@data.OfferUrl">
                                <img src="@Path.Combine("/Files/Offer/", data.OfferImage)" class="img-responsive" id="offer_image" alt="@data.OfferId" style="width: 100%;" />
                            </a>
                        </div>
                        counter = counter + 1;
                    }

                </div>

                @if (Model.HomepageOffers.Count() > 1)
                {
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: none !important;">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: none !important;">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                }

            </div>
        </div>
    </div>
}


<!--END BRAND-->
<!-- BEGIN HEADER THREE IMAGES & CONTENT -->
<div class="row margin-bottom-35">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
        <div class="owl-carousel owl-carousel3">
            @foreach (var banner in Model.HomepageBanners)
            {
                <div class="product-item" style="margin-right: 0px !important;">
                    @*<div class="pi-img-wrapper">*@
                    <div>
                        @*<h3 style="position: absolute; margin-left: 10px">
                                <a class="text-center" href="@banner.BannerUrl">@banner.BannerTitle</a>
                            </h3>*@
                        @*<a href="@banner.BannerUrl">
                                <img src="@Path.Combine("/Files/Banner/", banner.BannerImage)" class="img-responsive" alt="@banner.BannerTitle" style="width: 100% !important; position: relative;"/>
                            </a>
                            <div>
                                <a href="@banner.BannerUrl" class="btn btn-default" target="_blank">Shop Now</a>
                            </div>*@

                        <div class="home-section-img-left text-center">
                            <div class="home-section-grid-effect slow-zoom vertical">
                                <div class="img-box">
                                    <img src="@Path.Combine("/Files/Banner/", banner.BannerImage)" alt="image" class="img-responsive zoom-img">
                                </div>
                                <div class="info-box">
                                    <div class="info-home-section simpleCart_shelfItem">
                                        <h4>@banner.BannerTitle</h4>
                                        <br />
                                        <a href="@banner.BannerUrl" class="btn btn-default" target="_blank">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            }
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END HEADER THREE IMAGES & CONTENT -->
<!--BEGIN PROMO VIDEO & SLIDER IMAGES -->
<div class="row margin-bottom-35">
    @{
        Html.RenderAction("OccasionalProduct", "Home");
    }
</div>
<!--END PROMO VIDEO & SLIDER IMAGES -->
<!--BEGIN PROMOTIONAL PRODUCTS -->
<div class="row margin-bottom-40">
        @{
            Html.RenderAction("PromotionalProducts", "Home");
        }
    </div>
<!-- END PROMOTIONAL PRODUCTS -->
<!--BEGIN NEW ARRIVALS -->
<div class="row margin-bottom-35">
    @{
        Html.RenderAction("NewArrivals", "Home");
    }
</div>
<!-- END NEW ARRIVALS -->
<!--BEGIN UPCOMING PRODUCT -->
@*<div class="row margin-bottom-35">
        @{
            Html.RenderAction("UpcomingProduct", "Home");
        }
    </div>*@
<!-- END UPCOMING PRODUCT -->
<!--BEGIN Trending Product -->
<div class="row margin-bottom-35">
    @{
        Html.RenderAction("TrendingProducts", "Home");
    }
</div>
<!-- END trending product -->
