﻿@{
    ViewBag.Title = "News";
}


<div class="row margin-bottom-20 news-events" style="min-height:500px !important;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">LATEST NEWS FEED</div>
            <div class="list-group list-group-flush news-menu">
                <a href="#page-one" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; News Card</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->

    <div class="col-md-9 col-sm-7">
        <div class="news-content-page" id="page-one">
            <!-- BEGIN CONTENT -->
            <h2 class="news-feed" style="margin-top:-5px !important;">MAGAZINES</h2>
            <hr />
            <div class="row margin-bottom-20 news-event-content">
                <div class="col-md-12 col-xs-12">
                    <div class="demo-gallery">
                        <ul class="list-unstyled row">

                            <li class="col-xs-6 col-sm-6 col-md-2">
                                <a href="@Url.Action("MagazineOne", "Magazine")">
                                    <img class="img-responsive" src="~/plugins/pages/img/news/4.jpg" alt="sara starts its journey in dhaka" />
                                    <div class="demo-gallery-poster">
                                        <img src="/plugins/pages/img/news/zoom.png" class="img-responsive hidden-xs" alt="sara starts its journey in dhaka" />
                                    </div>
                                </a>
                            </li>

                            <li class="col-xs-6 col-sm-6 col-md-2">
                                <a href="@Url.Action("MagazineTwo", "Magazine")">
                                    <img class="img-responsive" src="~/plugins/pages/img/news/1.jpg" alt="sara starts its journey in dhaka" />
                                    <div class="demo-gallery-poster">
                                        <img src="/plugins/pages/img/news/zoom.png" class="img-responsive hidden-xs" alt="sara starts its journey in dhaka" />
                                    </div>
                                </a>
                            </li>

                            <li class="col-xs-6 col-sm-6 col-md-2">
                                <a href="@Url.Action("MagazineThree", "Magazine")">
                                    <img class="img-responsive" src="~/plugins/pages/img/news/5.jpg" alt="sara starts its journey in dhaka" />
                                    <div class="demo-gallery-poster">
                                        <img src="/plugins/pages/img/news/zoom.png" class="img-responsive hidden-xs" alt="sara starts its journey in dhaka" />
                                    </div>
                                </a>
                            </li>

                            <li class="col-xs-6 col-sm-6 col-md-2">
                                <a href="@Url.Action("MagazineFour", "Magazine")">
                                    <img class="img-responsive" src="~/plugins/pages/img/news/2.jpg" alt="sara starts its journey in dhaka" />
                                    <div class="demo-gallery-poster">
                                        <img src="/plugins/pages/img/news/zoom.png" class="img-responsive hidden-xs" alt="sara starts its journey in dhaka" />
                                    </div>
                                </a>
                            </li>

                            <li class="col-xs-6 col-sm-6 col-md-2">
                                <a href="@Url.Action("MagazineFive", "Magazine")">
                                    <img class="img-responsive magazine" src="~/plugins/pages/img/news/7.jpg" alt="sara starts its journey in dhaka" style="height:85px !important;" />
                                    <div class="demo-gallery-poster">
                                        <img src="/plugins/pages/img/news/zoom.png" class="img-responsive hidden-xs" alt="sara starts its journey in dhaka" />
                                    </div>
                                </a>
                            </li>
                            
                            <li class="col-xs-6 col-sm-6 col-md-2">
                                <a href="@Url.Action("MagazineSix", "Magazine")">
                                    <img class="img-responsive magazine" src="~/plugins/pages/img/news/9.jpg" alt="sara starts its journey in dhaka" style="height:85px !important;" title="Opening ceremony at uttara outlet"/>
                                    <div class="demo-gallery-poster">
                                        <img src="/plugins/pages/img/news/zoom.png" class="img-responsive hidden-xs" alt="sara starts its journey in dhaka" />
                                    </div>
                                </a>
                            </li>







                        </ul>
                    </div>

                </div>
            </div>



        </div>
        <!-- END CONTENT -->









    </div>
</div>


<!--Script For News Event Sidebar Menus-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        //Layout.init();
        //Layout.initOWL();
        //Layout.initTwitter();


        // jQury for right side content //

        //$('.list-group a:first').addClass('active');
        $('.news-content-page:not(:first)').hide();
        $('.news-menu a').click(function (event) {
            event.preventDefault();
            var content = $(this).attr('href');
            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active');
            $(content).show();
            $(content).siblings('.news-content-page').hide();
        });


        // End jQury for right side content //



    });


    // Magazine Photo Gallery
    //$(document).ready(function () {
    //    $('#lightgallery').lightGallery();
    //});

</script>


<!--End Script For News Event Sidebar Menus-->
