﻿@model IEnumerable<SaRaEcommerce.ViewModel.MenuMain>
@{
    string colMd2 = "col-md-3 col-lg-2 col-sm-4 col-xs-6";
    string colMd3 = "col-md-3 col-sm-4 col-xs-6";
    string colMd4 = "col-md-4 col-sm-4 col-xs-6";
    string colMd6 = "col-md-6 col-sm-4 col-xs-6";

    string colMd12 = "col-md-12";
}
@foreach (var menu in Model)
{
    <li class="dropdown dropdown100 nav-catalogue">
        <a class="dropdown-toggle menu-main" href="@Url.Action("ProductList", "Product", new { categoryId = menu.MenuMainId })"> @menu.MenuMainName</a>
        <ul class="dropdown-menu" id="UlId" role="menu">
            <li>
                <div class="header-navigation-content">
                    <div class="row">
                        @{
                            int subMenuCount = menu.MenuSubs.Count();
                            foreach (var subMenu in menu.MenuSubs)
                            {
                                <div class="@(subMenuCount > 4 ? colMd2 : subMenuCount == 4 ? colMd3 : subMenuCount == 3 ? colMd4 : subMenuCount == 2 ? colMd6 : colMd12)">
                                    <a href="@Url.Action("ProductList", "Product", new { categoryId = menu.MenuMainId, subCategoryId = subMenu.MenuSubId})"><h4>@subMenu.MenuSubName</h4></a>
                                    <ul>
                                        @foreach (var subSubMenu in subMenu.MenuSubSubs)
                                        {
                                            <li><a href="@Url.Action("ProductList", "Product", new { categoryId = menu.MenuMainId, subCategoryId = subMenu.MenuSubId, subSubCategoryId = subSubMenu.MenuSubSubId })">@subSubMenu.MenuSubSubName</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                </div>
            </li>
        </ul>
    </li>
}

<script>
    $(document).ready(function() {
        if ("ontouchstart" in document.documentElement)
        {
            $(".menu-main").attr("data-toggle", "dropdown");
        }
    });
</script>