﻿@model IEnumerable<SaRaEcommerce.ViewModel.ProductDisplaySection>
<div class="col-md-12">
    <h2 class="new-arrival">New Arrival</h2>
    <div class="owl-carousel owl-carousel6">
        @foreach (var data in Model)
        {
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <a href="#product-pop-up" data-id="@data.ProductId" style="border-width: 0px !important;" class="btn btn-default fancybox-fast-view button-first-view">
                            <img src="@Path.Combine("/Files/ImageProductMain/", Url.Content(data.ProductImage))" class="img-responsive" alt="New arrival products of SaRa Lifestyle Ltd" />
                        </a>
                        <div>
                            <a href="@Url.Content("/Files/ImageProductMain/" + data.ProductImage)" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" data-id="@data.ProductId" class="btn btn-default fancybox-fast-view button-first-view">View</a>
                        </div>
                    </div>
                    <h3><a href="@Url.Action("SingleProduct", "Product", new { productId = data.ProductId })">@data.ProductName || @data.Sku</a></h3>
                    @*<div class="pi-price">
                        <span>&#2547  @data.NewPrice</span>
                    </div>*@
                    @if (data.DiscountPercentage != "0")
                    {
                        <div class="pi-price">
                            <span style="text-decoration: line-through;">&#2547  @data.PreviousPrice</span>&nbsp;&nbsp; <span style=" color:red;">&#2547 @data.NewPrice</span>
                        </div>
                    }
                    else
                    {
                        <div class="pi-price">
                            <span>&#2547  @data.NewPrice</span>
                        </div>
                    }
                    <a href="@Url.Action("SingleProduct", "Product", new { productId = data.ProductId })" class="btn btn-default add2cart">Details</a>
                    @*@if (data.DiscountPercentage != "0")
                    {
                        <div class="sticker-discount">
                            <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@data.DiscountPercentage%</p>
                        </div>
                    }*@
                    @*<a href="@Url.Action("SingleProduct", "Product", new { productId = data.ProductId })" class="btn btn-default add2cart">Details</a>
                    @if (data.DiscountPercentage != "0")
                    {
                        <div class="sticker-discount">
                            <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@data.DiscountPercentage%</p>
                        </div>
                    }*@
                </div>
            </div>
        }
    </div>
</div>

@*<script>
    $(document).ready(function () {
        Layout.init();
        Layout.initOWL();
    });
</script>*@






