﻿@using SaRaEcommerce.ViewModel
@model IEnumerable<SaRaEcommerce.ViewModel.ProductDisplaySection>
@{
    var occasionalProductSlider = ViewBag.OccasionalSlider as List<HomepageSlider>;
}
<!-- BEGIN TWO PRODUCTS & PROMO -->
<div class="row">
    <div class="col-md-12">


        <!-- BEGIN PROMO -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="embed-container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" style="bottom: 30px !important;">
                        @{
                            int counter = 0;
                            System.Diagnostics.Debug.Assert(occasionalProductSlider != null, nameof(occasionalProductSlider) + " != null");
                            foreach (var slider in occasionalProductSlider)
                            {
                                if (counter == 0)
                                {
                                    <li data-target="#myCarousel" data-slide-to="@counter" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#myCarousel" data-slide-to="@counter"></li>
                                }
                                counter++;
                            }
                        }
                    </ol>
                    <div class="carousel-inner">
                        @{
                            int counter1 = 0;
                            foreach (var slider in occasionalProductSlider)
                            {
                                if (counter1 == 0)
                                {
                                    <div class="item active">
                                        <a href="@slider.SliderUrl"><img src="@Path.Combine("/Files/Slider/", slider.SliderImage)" class="img-responsive" alt="Ladies single pcs ethnic,mens regular fit panjabi" style="width: 100%;" /></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <a href="@slider.SliderUrl"><img src="@Path.Combine("/Files/Slider/", slider.SliderImage)" class="img-responsive" alt="Ladies party wear,mens regular fit panjabi" style="width: 100%;" /></a>
                                    </div>
                                }
                                counter1++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROMO -->

        <div class="col-md-6 col-sm-6 col-xs-12" style="">
            <div class="embed-container">
                <iframe id="promo_video" width="100%" src="https://www.youtube.com/embed/6McaKs_XFLY?autoplay=1&playlist=6McaKs_XFLY&loop=1&cc_load_policy=1&rel=0&controls=1&showinfo=0" frameborder="0" allow="fullscreen;autoplay" allowfullscreen></iframe>

            </div>
        </div>


    </div>
</div>
<!-- END TWO PRODUCTS & PROMO -->
