﻿@model IEnumerable<SaRaEcommerce.ViewModel.ProductDisplaySection>
<div class="col-md-12">
    <h2 class="trending-products">Big Fat Sale</h2>
    <div class="owl-carousel owl-carousel5">
        @foreach (var product in Model)
        {
            <div>
                <div class="product-item trending-products">
                    <div class="pi-img-wrapper">
                        <a href="#product-pop-up" data-id="@product.ProductId" style="border-width: 0px !important;" class="btn btn-default fancybox-fast-view button-first-view">
                            <img src="@Path.Combine("/Files/ImageProductMain/", product.ProductImage)" class="img-responsive" alt="@product.ProductName">
                        </a>
                        <div>
                            <a href="@Url.Content("/Files/ImageProductMain/" + product.ProductImage)" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" data-id="@product.ProductId" class="btn btn-default fancybox-fast-view button-first-view">View</a>
                        </div>
                    </div>
                    <h3><a href="@Url.Action("SingleProduct", "Product", new { productId = product.ProductId })">@product.ProductName || @product.Sku</a></h3>
                        <div class="pi-price">
                            <span style="text-decoration: line-through;">&#2547  @product.PreviousPrice</span>&nbsp;&nbsp; <span style=" color:red;">&#2547 @product.NewPrice</span>
                        </div>
                    <a href="@Url.Action("SingleProduct", "Product", new { productId = product.ProductId })" class="btn btn-default add2cart">Details</a>
                        <div class="sticker-discount" style="display: none;">
                            <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@product.DiscountPercentage%</p>
                            @*<p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">P</p>*@
                        </div>
                </div>
            </div>
        }
    </div>
</div>



