﻿<div class="top-cart-info" id="cartSummeryTop">
</div>
<i class="fa fa-shopping-cart"></i>

<div class="top-cart-content-wrapper">
    <div class="top-cart-content">
        <ul class="scroller" style="height: 250px;" id="cartSummeryBody">
        </ul>
        <div class="text-right">
            <a href="@Url.Action("Cart", "Product")" class="btn btn-default">View Cart</a>
            <a href="@Url.Action("Index", "CheckOut")" class="btn btn-primary">Checkout</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        loadTopCart();
    });

</script>