﻿@model IEnumerable<SaRaEcommerce.ViewModel.ProductDisplaySection>
@using Microsoft.AspNet.Identity
<dBiv class="col-md-12">
    <h2 class="trending-products">Upcoming Products</h2>
    <div class="owl-carousel owl-carousel6">
        @foreach (var product in Model)
        {
            <div>
                <div class="product-item trending-products">
                    <div class="pi-img-wrapper">
                        <a href="@Url.Content("/Files/UpcomingProduct/" + product.ProductImage)" style="border-width: 0px !important;" class="btn btn-default fancybox-button">
                            <img src="@Path.Combine("/Files/UpcomingProduct/", product.ProductImage)" class="img-responsive" alt="@product.ProductName" />
                        </a>
                        <div>
                            <a href="@Url.Content("/Files/UpcomingProduct/" + product.ProductImage)" class="btn btn-default fancybox-button">Zoom</a>
                        </div>
                    </div>
                    <h3>@product.ProductName || @product.Sku</h3>
                    <div class="pi-price">
                        <span>&#2547  @product.NewPrice</span>&nbsp;&nbsp;
                    </div>
                    <a class="btn btn-primary preorder add2cart" data-id="@product.ProductId"><i class="fa fa-hand-o-up"></i> pre-order</a>

                    @*@if (product.DiscountPercentage != "0")
                        {
                            <div class="sticker-discount">
                                <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@product.DiscountPercentage%</p>
                            </div>
                        }*@
                </div>
            </div>
        }
    </div>
</dBiv>

<script>
    $(document).ready(function () {
        $(".preorder").click(function () {
            @if (User.Identity.IsAuthenticated)
            {
                <text>
            var userId = '@User.Identity.GetUserId()';
            var productId = $(this).data("id");
             $.confirm({
                icon: 'fa fa-spinner fa-spin',
                title: 'Processing!',
                content: 'Press "CONFIRM" Or hit "ENTER" to Order this Product',
                buttons: {
                    confirm: {
                        text: 'Confirm',
                        btnClass: 'btn-danger',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: 'POST',
                                url: '/Home/PlacePreOrder/',
                                data: { productId: productId, customerId: userId },
                                dataType: 'json',
                                success: function (data) {
                                    $.dialog({
                                        title: 'Status!',
                                        content: data
                                    });
                                },
                                error: function () {
                                    toastr.info("something not right, Please try again!!", 'Information!');
                                }
                            });
                        }
                    },
                    cancel: function () {

                    }
                }
             });
                </text>
            }
            else
            {
                <text>
                    $.dialog({
                      title: 'Authentication Required!',
                        content: 'Only Registered Member can Place an Upcoming Products Order.<br> For Registration Please <a href="/Account/Register">Click Here</a>'
                    });
                </text>
            }
        });
    });
</script>
