/* here you can put your own css to customize and override the theme */

/*.container,
 .navbar-static-top .container,
 .navbar-fixed-top .container,
 .navbar-fixed-bottom .container {
     width: 80%;
 }

 @media only screen and (max-width: 750px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 100%;
    }
         
 }

@media screen and (min-width: 1400px) {
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 80%;
    }
}*/
@media screen and (min-width: 1400px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 80%;
    }
}

.menu-search {
    z-index: 1000;
}



/* Start Slider Product Item CSS */
.slider-product-item {
    _background: #fff;
    position: relative;
    height: 350px;
    width: 270px;
}

.slider-pi-img-wrapper img {
    width: 100%;
    height: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
    _border-right: 2px solid #222;
    background-size: cover;
}

.owl-item.active .slider-product-item {
    margin-right: 0px;
    _border-right: 2px solid #292B2D;
}

.slider-product-item:hover {
    _box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
    _box-shadow: 5px 5px #000;
}

.slider-product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

*html .slider-product-item {
    zoom: 1;
}

* + html .slider-product-item {
    zoom: 1;
}

.slider-pi-img-wrapper {
    position: relative;
    height: auto;
}

    .slider-pi-img-wrapper div {
        background: rgba(0,0,0,0.3);
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }

.slider-product-item:hover > .slider-pi-img-wrapper > div {
    display: block;
}

.slider-pi-img-wrapper div .btn-default {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: 20px 5px 0;
    background: transparent;
    position: relative;
    top: 36%;
    font-size: 12px;
}

.slider-product-item .btn:hover {
    background: #798B97;
    border-color: #c8c8c8;
}


/*End Slider Item CSS*/


/* CSS For Registration Page */
.modal-content-reg {
    position: relative;
    background-color: #ffffff;
    _border: 1px solid #999999;
    _border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    _box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    _box-shadow: 0px 0px 6px 2px #d9d9d9;
    background-clip: padding-box;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    background: #F9F9F9;
    min-height: 16.4286px;
    padding: 10px 15px;
    color: #000;
    font-weight: 700;
}

    .modal-header h4 {
        margin: 0;
        line-height: 1.42857143;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 17px;
    }

.modal_header_top {
    margin-right: 5px;
    margin-top: -79px;
}

    .modal_header_top p {
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        font-family: inherit;
    }

.pull-right p {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: inherit;
}

.btn-icon {
    background-color: #1E1F19;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
/* End CSS For Registration Page */

/*Footer*/
.pre-footer-col {
    border-right: 1px solid #484848 !important;
}

    .pre-footer-col:last-child {
        border-right: 0px !important;
    }

.copyright-text a {
    text-decoration: none !important;
    color: #fff !important;
    font-size: 14px !important;
    font-family: "Open Sans",sans-serif;
}
/*End Footer*/

/*News Event Sidebar*/
#sidebar-wrapper {
    _margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 1.25rem;
        font-size: 17px;
        background-color: #1E1F19;
        margin-top: 10px;
        color: #FFF;
        text-align: center;
    }

    #sidebar-wrapper .list-group {
        width: 100%;
    }

.list-group-item {
    padding: 15px 20px;
}

a.list-group-item {
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: #2F3337;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page-content-wrapper {
    min-width: 100vw;
}

.trending-products {
    /*margin-left: 10px !important;*/
}
/*Registration Form Required*/
.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top: 7px;
}
/*End Registration Form Required*/


/*Responsive News Section*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .news-content h4 {
        text-align: center !important;
        margin-top: 10px !important;
    }

    .news-event-content img {
        width: 100% !important;
        height: 100% !important;
    }

    .btn-icon {
        float: left !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}
/*End Responsive Stylesheet*/
/*End News Event Sidebar*/

.dropdown-backdrop {
    display: none;
}

/*Theme Color Panel Responsive*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .color-panel {
        margin-top: 70px !important;
        right: 0;
    }

        .color-panel .color-mode-icons {
            padding: 10px !important;
        }

    .owl-buttons {
        position: absolute !important;
        top: -29px !important;
        right: 10px !important;
    }

    .new-arrival {
        font-size: 15px !important;
    }

    .trending-products {
        font-size: 15px !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}
/*End Theme Color Panel Responsive*/

.field-validation-error, label.error {
    color: red;
}

.input-validation-error, input.error {
    border: 2px solid red;
}

/*Fast View Product Discount Tags*/
.discount_tags {
    font-size: 20px;
    float: right;
    color: #fff;
    color: #fff;
    background: #e64723;
    padding: 2px 0px;
    width: 20%;
    text-align: center;
}
/*End Fast View Product Discount Tags*/
/*New Login CSS*/
/***
Login page
***/

.login {
    background-color: #444 !important;
}

    .login .logo {
        margin: 60px auto 20px auto;
        padding: 15px;
        text-align: center;
    }


.content {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}



    .content h3 {
        color: #000;
    }

    .content h4 {
        color: #555;
        margin-top: 15px;
    }

    .content p {
        color: #222;
    }

    .content .login-form,
    .content .forget-form {
        padding: 0px;
        margin: 0px;
    }

    .content .input-icon {
        border-left: 2px solid #64AED9 !important;
    }

    .content .input-icon {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

        .content .input-icon .form-control {
            border-left: 0;
        }

    .content .forget-form {
        display: none;
    }

    .content .register-form {
        display: none;
    }

    .content .form-title {
        font-weight: 300;
        margin-bottom: 25px;
    }

    .content .form-actions {
        background-color: #fff;
        clear: both;
        border: 0px;
        border-bottom: 1px solid #eee;
        padding: 0px 30px 25px 30px;
        margin-left: -30px;
        margin-right: -30px;
    }

        .content .form-actions .checkbox {
            margin-left: 0;
            padding-left: 0;
        }

    .content .forget-form .form-actions {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .content .register-form .form-actions {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    .content .form-actions .checkbox {
        margin-top: 8px;
        display: inline-block;
    }

    .content .form-actions .btn {
        margin-top: 1px;
    }

    .content .forget-password {
        margin-top: 25px;
    }

    .content .create-account {
        border-top: 1px dotted #eee;
        padding-top: 10px;
        margin-top: 15px;
    }

        .content .create-account a {
            display: inline-block;
            margin-top: 5px;
        }

/* select2 dropdowns */
.registration_form .select2-container {
    border-left: 2px solid #44B6AE !important;
}

    .registration_form .select2-container .select2-choice {
        border-left: none !important;
    }

    .registration_form .select2-container i {
        display: inline-block;
        position: relative;
        color: #ccc;
        z-index: 1;
        top: 1px;
        margin: 4px 4px 0px -1px;
        width: 16px;
        height: 16px;
        font-size: 16px;
        text-align: center;
    }

.registration_form .has-error .select2-container i {
    color: #b94a48;
}

.registration_form .select2-container a span {
    font-size: 13px;
}

    .registration_form .select2-container a span img {
        margin-left: 4px;
    }

/*Registration Page*/
.registration_form {
    background-color: #fff;
    width: 700px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    _padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

    .registration_form .input-icon {
        border-left: 2px solid #64AED9 !important;
    }

    .registration_form .input-icon {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

/*End Registration Page*/

/*Forget Password */
.forget_password {
    background-color: #fff;
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

    .forget_password .input-icon {
        border-left: 2px solid #64AED9 !important;
    }

    .forget_password .input-icon {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }

.content .input-icon .form-control {
    border-left: 0;
}

.content .forget-form {
    display: none;
}



/*End Forget Password*/

/*Password Reset Form*/
.password_reset_form {
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 40px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
/*End Password Reset Form*/

/* Update Accounts info */
.update_account_info {
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: 0 auto;
    _margin-bottom: 20px;
    _padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

    .update_account_info .input-icon {
        border-left: 2px solid #64AED9 !important;
    }


/* End Update Accounts info*/

/*Reset Password*/
.reset_password {
    background-color: #fff;
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

    .reset_password .input-icon {
        border-left: 2px solid #64AED9 !important;
    }

    .reset_password .input-icon {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
    }
/*End Reset Password*/





@media (max-width: 480px) {
    /***
  Login page
  ***/

    .content {
        width: 100% !important;
    }

    .forget_password {
        width: 320px;
    }

    .reset_password {
        width: 320px;
    }

    .registration_form {
    }

    .content h3 {
        font-size: 22px;
    }

    .password_reset_form h3 {
        font-size: 22px;
    }

    .password_reset_form p {
        font-size: 12px;
    }

    .checkbox {
        font-size: 13px;
    }

    .update_account_info {
        box-shadow: none !important;
        margin-top: -18px !important;
        margin-bottom: -20px !important;
    }
}

@media (max-width: 360px) {


    /*User Info Update */

    .table > tbody > tr > td,
    .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > thead > tr > th {
        padding: 7px !important;
    }

    /*End User Info Update */
    .update_account_info {
        box-shadow: none !important;
        margin-top: -18px !important;
        margin-bottom: -20px !important;
    }

    .content {
        width: 100% !important;
    }

    .forget_password {
        width: 320px;
    }

    .reset_password {
        width: 320px;
    }

        .reset_password p {
            font-size: 9.8px !important;
        }

        .reset_password h3 {
            font-size: 20px !important;
        }

    .forget_password p {
        font-size: 9.8px !important;
    }

    .content h3 {
        font-size: 20px;
    }

    .password_reset_form h3 {
        font-size: 20px !important;
    }

    .password_reset_form p {
        font-size: 12px !important;
    }

    .registration_form {
        width: 100% !important;
        padding: 15px !important;
    }

        .registration_form h3 {
            font-size: 20px !important;
        }

    .checkbox {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    /***
  Login page
  ***/
    .update_account_info {
        box-shadow: none !important;
        margin-top: -18px !important;
        margin-bottom: -20px !important;
    }

    .content {
        width: 100% !important;
    }

    .forget_password {
        width: 320px;
    }

        .forget_password p {
            font-size: 9.8px !important;
        }

    .reset_password {
        width: 320px;
    }

        .reset_password p {
            font-size: 9.8px !important;
        }

    .password_reset_form h3 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 20px;
    }

    .registration_form {
        width: 100% !important;
        padding: 25px !important;
    }

        .registration_form h3 {
            font-size: 20px !important;
        }

    .checkbox {
        font-size: 13px;
    }
}

@media (max-width: 384px) {


    .update_account_info {
        box-shadow: none !important;
        margin-top: -18px !important;
        margin-bottom: -20px !important;
    }

    .content {
        width: 320px;
    }

    .forget_password {
        width: 320px;
    }

        .forget_password p {
            font-size: 9.8px !important;
        }

    .reset_password {
        width: 320px;
    }

        .reset_password p {
            font-size: 9.8px !important;
        }

        .reset_password h3 {
            font-size: 20px !important;
        }

    .content h3 {
        font-size: 20px;
    }

    .password_reset_form h3 {
        font-size: 17px !important;
    }

    .registration_form {
        width: 100% !important;
        padding: 25px !important;
    }

        .registration_form h3 {
            font-size: 20px !important;
        }

    .checkbox {
        font-size: 13px;
    }
}


/*End New Login CSS*/


/*Image Gallery Page */
.photo_gallery {
    margin-bottom: 40px;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

    .photo_gallery img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: .9;
    }

.underline {
    text-decoration: none;
    position: relative;
}

    .underline:after {
        margin-bottom: 30px;
        position: absolute;
        content: '';
        height: 2px;
        /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
        bottom: -4px;
        /****** 
       optional values below 
       ******/
        /* center - (optional) use with adjusting width   */
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 10%;
        background: #222;
        /* optional animation */
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }


    /* optional hover classes used with anmiation */
    .underline:hover:after {
        width: 15%;
        background: #64aed9;
    }

/*End Image Gallery Page*/







/*CSS For Product Filter Mobile Devices*/
.filter-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1111111;
    display: none;
    background: #fff;
    overflow: hidden;
    _max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.close-button {
    position: fixed;
    z-index: 111111111;
    top: 16px;
    right: 16px;
    width: 39px;
    height: 37px;
    border-radius: 50%;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 0;
        display: none !important;
    }
}

.zoomOut {
    animation-name: zoomOut;
}
/*End CSS For Product Filter Mobile Devices*/


/*Two Image Slide*/
.two-items-bottom-items {
    margin-top: -25px !important;
    left: 0px !important;
    padding: 16px !important;
}
/*End Two Image Slide*/


/*Single Product Page Color*/
/* Product Color */
.product-color {
    margin-bottom: 30px;
}

.color-choose div {
    display: inline-block;
}

.color-choose input[type="radio"] {
    display: none;
}

    .color-choose input[type="radio"] + label span {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50% !important;
    }

    .color-choose input[type="radio"] + label span {
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    }

    .color-choose input[type="radio"]#red + label span {
        background-color: #C91524;
    }

    .color-choose input[type="radio"]#blue + label span {
        background-color: #314780;
    }

    .color-choose input[type="radio"]#black + label span {
        background-color: #323232;
    }

    .color-choose input[type="radio"]#green + label span {
        background-color: green;
    }

    .color-choose input[type="radio"]#cyan + label span {
        background-color: cyan;
    }

    .color-choose input[type="radio"]#orange + label span {
        background-color: orange;
    }

    .color-choose input[type="radio"]#navy + label span {
        background-color: navy;
    }

    .color-choose input[type="radio"]:checked + label span {
        background-image: url(../img/icons/check-icn.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
/*End Single Product Page Color*/

/* Size Configuration */
.cable-choose {
    margin-bottom: 20px;
    margin-top: 5px;
}

    .cable-choose button {
        border: 2px solid #E1E8EE;
        border-radius: 6px !important;
        padding: 6px 14px;
        font-size: 12px;
        color: #5E6977;
        background-color: #fff;
        cursor: pointer;
        transition: all .5s;
    }

        .cable-choose button:hover,
        .cable-choose button:active,
        .cable-choose button:focus {
            _border: 2px solid #64aed9;
            _outline: none;
        }

.btn-size.active {
    background-color: #64aed9 !important;
    color: #FFF;
}


.cable-config {
    _border-bottom: 1px solid #E1E8EE;
    margin-bottom: 30px;
}

    .cable-config a {
        color: #358ED7;
        text-decoration: none;
        font-size: 12px;
        position: relative;
        margin: 10px 0;
        display: inline-block;
    }

        .cable-config a:before {
            content: "?";
            height: 15px;
            width: 15px;
            border-radius: 50% !important;
            border: 2px solid rgba(53, 142, 215, 0.5);
            display: inline-block;
            text-align: center;
            line-height: 16px;
            opacity: 0.5 !important;
            margin-right: 5px;
        }


/* Product Quantity */
.quantity {
    _padding-top: 0px;
    _margin-right: 60px;
}

    .quantity input {
        -webkit-appearance: none;
        border: 1px solid #ddd;
        text-align: center;
        width: 60px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
        border-radius: 3px !important;
        height: 28px;
    }

button[class*=product_quantity] {
    width: 28px;
    height: 26px;
    background-color: #E1E8EE;
    border-radius: 3px !important;
    _border: none;
    cursor: pointer;
    border: 1px solid #d5cccc;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: -3px;
}

button:focus,
input:focus {
    outline: 0;
}

/*Header Search Bar*/
input[type=text] {
    _background: #fdfdfd url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
    _border-bottom: solid 1px #64AED9;
    _padding: 9px 10px 9px 32px;
    _width: 55px;
    _border-radius: 3px 0 0 3px !important;
}
    input[type=text]:focus {
        background-color: #f8f8f8;
        border: solid 1px #64AED9;
    }
    input[type=password]:focus {
        background-color: #f8f8f8;
        border: solid 1px #64AED9;
    }

#searchProduct {
    _background-color: #64AED9 !important;
    color: #FFF !important;
    width: 50px !important;
    border-radius: 0 3px 3px 0 !important;
}
/*End Header Search Bar*/

/* Start Career Form */
.career_content {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    _border: 1px solid #ddd;
    min-height: 310px;
}
/* End Career Form */

/*Start Payment Method*/
.my-list--selected {
    border-left: 1px solid #64aed9;
    border-right: 1px solid #64aed9;
}

.my-list--selected:first-child {
    _border-top: 1px solid #ccc;
}
/*End Payment Method*/

/*Start Order Tracking*/
#work-process {
    background-color: #171717
}

    #work-process .divider {
        margin-bottom: 60px
    }

.work-process {
    margin-top: 20px;
    _margin-bottom: 20px;
}

@media (min-width:768px) {
    .work-process {
        margin-top: 10px;
        padding: 10px 0px;
        min-height: 200px;
        background: #fdfdfd;
        border: 1px solid #ddd;
    }
}

.work-process .item {
    position: relative;
    padding: 0;
}

@media (max-width:767px) {
    #work-process .text-justify {
        text-align: center;
    }

    #work-process .divider {
        margin-right: auto;
        margin-left: auto;
    }

    .work-process .item {
        margin: 0 auto;
        width: 200px;
        height: 132px;
    }

        .work-process .item:before {
            position: absolute;
            z-index: 10;
            content: '';
            bottom: 0;
            left: 0;
            width: 1px;
            height: 100%;
            margin-bottom: -66px;
            border-left: 1px dashed #6e6e6e;
        }
}

.work-process .item .inner-content {
    z-index: 5;
    position: relative;
    width: 100%;
    height: 132px;
}

@media (min-width:768px) {
    .work-process .item .inner-content {
        _margin-top: 102px;
        height: 102px;
    }
}

.work-process .item .inner-content:before {
    position: absolute;
    z-index: 10;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #6e6e6e;
}

.work-process .item .inner-content:after {
    position: absolute;
    z-index: 10;
    content: '';
    top: 50%;
    right: 0;
    width: 1px;
    height: 100%;
    margin-top: -132px;
    _border-left: 1px dashed #6e6e6e;
}

@media (min-width:768px) {
    .work-process .item .inner-content:after {
        margin-top: -102px;
    }
}

.work-process .item .inner-content > i {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -33px;
    margin-left: -43px;
    background-color: #64aed9;
    font-size: 26px;
    text-align: center;
    border-radius: 50% !important;
    color: #fff;
}

.work-process .item .inner-content > span.title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    line-height: 66px;
    margin-top: -18px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .work-process .item .inner-content > span.title {
        margin-top: 69px;
        font-size: 16px;
    }
}

.work-process .item .inner-content > span.dot {
    position: absolute;
    z-index: 15;
    content: '';
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #64aed9;
    border-radius: 25% !important;
}

.work-process .item > i.the-arrow-icon {
    display: block;
    position: absolute;
    z-index: 15;
    top: -20%;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 46px;
    margin-right: -10px;
    font-size: 20px;
    text-align: center;
    color: #64aed9;
}

@media (max-width:767px) {
    .work-process .item > i.the-arrow-icon.icon-step-up {
        left: 0;
        margin-left: -25px;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .work-process .item.last:before {
        display: none;
    }
}

.work-process .item.first .inner-content:before {
    left: auto;
    right: 0;
}

.work-process .item.last .inner-content:after {
    display: none;
}

@media (min-width:768px) {
    .work-process .item > i.the-arrow-icon.icon-step-down {
        margin-top: 25px;
    }

    .work-process .item > i.the-arrow-icon.icon-step-up {
        margin-top: -25px;
    }

    .work-process .item.last .inner-content > span.dot {
        right: 0;
        left: auto;
    }

    .work-process .item.no-margin .inner-content > span.title {
        top: auto;
        bottom: 0;
        margin-bottom: -33px;
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .work-process .item.last .inner-content:before {
        left: auto;
        right: 0;
    }

    .work-process .item.no-margin:before {
        display: none;
    }
}

.work-process .item.no-margin .inner-content,
.work-process .item.no-margin .inner-content:after {
    margin-top: 0;
}

.order_tracking_info {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 10px 0px;
    height: auto;
    background-color: rgba(240, 240, 240, 0.03);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.order_summary_info {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 0px;
    height: auto;
}

.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
}

    .card > .card-link {
        color: #333;
    }

        .card > .card-link:hover {
            text-decoration: none;
        }

        .card > .card-link .card-img img {
            border-radius: 6px 6px 0 0;
        }

    .card .card-img {
        position: relative;
        padding: 0;
        display: table;
    }

        .card .card-img .card-caption {
            position: absolute;
            right: 0;
            bottom: 16px;
            left: 0;
        }

    .card .card-body {
        display: table;
        width: 100%;
        padding: 12px;
    }

    .card .card-header {
        border-radius: 6px 6px 0 0;
        padding: 8px;
    }

    .card .card-footer {
        border-radius: 0 0 6px 6px;
        padding: 8px;
    }

    .card .card-left {
        position: relative;
        float: left;
        padding: 0 0 8px 0;
    }

    .card .card-right {
        position: relative;
        float: left;
        padding: 8px 0 0 0;
    }

    .card .card-body h1:first-child,
    .card .card-body h2:first-child,
    .card .card-body h3:first-child,
    .card .card-body h4:first-child,
    .card .card-body .h1,
    .card .card-body .h2,
    .card .card-body .h3,
    .card .card-body .h4 {
        margin-top: 0;
    }

    .card .card-body .heading {
        display: block;
    }

        .card .card-body .heading:last-child {
            margin-bottom: 0;
        }

    .card .card-body .lead {
        text-align: center;
    }

@media( min-width: 768px ) {
    .card .card-left {
        float: left;
        padding: 0 8px 0 0;
    }

    .card .card-right {
        float: left;
        padding: 0 0 0 8px;
    }

    .card .card-4-8 .card-left {
        width: 33.33333333%;
    }

    .card .card-4-8 .card-right {
        width: 66.66666667%;
    }

    .card .card-5-7 .card-left {
        width: 41.66666667%;
    }

    .card .card-5-7 .card-right {
        width: 58.33333333%;
    }

    .card .card-6-6 .card-left {
        width: 50%;
    }

    .card .card-6-6 .card-right {
        width: 50%;
    }

    .card .card-7-5 .card-left {
        width: 58.33333333%;
    }

    .card .card-7-5 .card-right {
        width: 41.66666667%;
    }

    .card .card-8-4 .card-left {
        width: 66.66666667%;
    }

    .card .card-8-4 .card-right {
        width: 33.33333333%;
    }
}

/* -- default theme ------ */
.card-default {
    border-color: #ddd;
    background-color: #fff;
    margin-bottom: 24px;
}

    .card-default > .card-header,
    .card-default > .card-footer {
        color: #333;
        _background-color: #f1f1f1;
    }

    .card-default > .card-header {
        border-bottom: 1px solid #ddd;
        padding: 8px;
    }

    .card-default > .card-footer {
        border-top: 1px solid #ddd;
        padding: 8px;
    }

    .card-default > .card-body {
    }

    .card-default > .card-img:first-child img {
        border-radius: 6px 6px 0 0;
    }

    .card-default > .card-left {
        padding-right: 4px;
    }

    .card-default > .card-right {
        padding-left: 4px;
    }

    .card-default p:last-child {
        margin-bottom: 0;
    }

    .card-default .card-caption {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
/*End Order Tracking*/

