/* BEGIN max width 1200px */
@media (max-width: 1200px) {
    .content-form-page .control-label {
        padding-left: 30px;
        padding-bottom: 5px;
    }

    .content-form-page .col-md-offset-4 {
        margin-left: 15px;
    }

    .content-form-page .pull-right {
        float: left !important;
    }

    .quote-v1 span {
        font-size: 20px;
    }
}
/* END max width 1200px */

/* BEGIN min width 1025px */
@media (min-width: 1025px) {
    .header .header-navigation {
        display: block !important;
    }
}
/* END min width 1025px */

/* BEGIN min width 1025px max width 1205 */
@media (min-width: 1025px) and (max-width: 1205px) {
    body.page-header-fixed {
        padding-top: 121px !important; /* height of the header */
    }

    .header .header-navigation {
        display: block !important;
        clear: both;
        margin-top: -10px;
        float: left !important;
    }

    .reduce-header .header-navigation {
        margin-top: -6px;
    }

    .header .header-navigation > ul > li {
        margin-right: 27px;
    }

        .header .header-navigation > ul > li > a {
            padding: 5px 0 18px;
        }

    .reduce-header .header-navigation > ul > li > a {
        padding-bottom: 13px;
    }

    .header .header-navigation > ul > li.active > a, .header .header-navigation > ul > li > a:hover, .header .header-navigation > ul > li > a:focus, .header .header-navigation > ul > li.open > a, .header .header-navigation > ul > li.open > a:hover, .header .header-navigation > ul > li.open > a:focus {
        background: none;
    }

    .header-navigation > ul > li.dropdown:hover > a:after {
        margin-left: 10px;
    }

    .dropdown-fix-right .dropdown-menu {
        left: 0;
        right: auto;
    }

    .header .header-navigation li.menu-search {
        top: 1px;
        margin-left: -20px;
    }

    .ecommerce .header .header-navigation li.menu-search {
        top: 2px;
    }

    .header .header-navigation li.menu-search span.sep {
        top: 2px;
        margin-right: 26px;
    }

    .header .header-navigation li.menu-search i {
        top: -4px;
    }
}
/* END min width 1025px max width 1205 */


/*BEGIN STEPS BLOCKS FOR LAPTOP DEVICES MAX WIDTH 1500 */
@media (min-width: 1280px) and (max-width: 1500px) {
    .steps-block-red {
        margin-top: 10px !important;
    }

    .steps-block h2, .ecommerce .steps-block h2 {
        color: #fff !important;
        font-size: 22px !important;
    }

    .steps-block .fa-truck, .steps-block .fa-gift, .steps-block .fa-phone {
        font-size: 30px;
        border: solid 2px #fff;
        border-radius: 30px !important;
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        padding-top: 17px;
        margin-right: 11px;
        float: left;
    }
    .steps-block em {
        font: normal 400 10px 'Opan Sans', sans-serif !important;
    }

    .steps-block-col span {
        height: 55px !important;
    }


        /*Slider Title*/
        .layer_slider_description {
            margin-left: 150px !important;
            font-size: 22px !important;
        }

        .product-item h3 a {
            font-size: 10px !important;
        }

        .pi-price {
            font-size: 13px !important;
        }

        .product-item .add2cart {
            font-size: 7px !important;
        }

        .discount_tags {
            margin-right: 50px !important;
        }

        .product-page-cart .btn {
            font-size: 12px !important;
            height: 33px !important;
        }

        .business_days {
            font-size: 11px !important;
        }

        .cash_on_delivery {
            font-size: 12px !important;
        }

        .order_by_call {
            padding: 0px !important;
            margin-top: -23px !important;
        }

        .payment_method {
            padding: 0px !important;
            margin-top: -12px !important;
        }

        .store_information {
            padding: 0px !important;
            margin-top: -13px !important;
        }

        .return_options {
            padding: 0px !important;
            margin-top: -13px !important;
        }

        .product-title-sku {
            font-size: 19px !important;
        }

        .product-page-content {
            padding: 0px !important;
        }

        .discount_tags {
            margin-right: 0px !important;
        }

        .pre-footer h2, .ecommerce .pre-footer h2 {
            font-size: 17px !important;
        }



        #carousel-image-slider {
            height: 290px !important;
            width: 100% !important;
        }

        #promo_video {
            height: 310px !important;
        }

        #payment_icon > li {
            padding-left: 5px !important;
            width: 49px !important;
        }
    }
/*END STEPS BLOCKS FOR LAPTOP DEVICES */


@media(max-width:1280px) {

    .simpleLens-big-image {
        _width: 300px !important;
    }


    .simpleLens-lens-element {
        width: 95% !important;
        height: 98% !important;
        left: 100% !important;
    }

    .ecommerce .header-navigation {
        letter-spacing: 0px !important;
        font: 13px "PT Sans Narrow", sans-serif !important;
    }



}





@media (max-width: 1440px) {
    .header .header-navigation {
        font: 13px "PT Sans Narrow", sans-serif !important;
        letter-spacing: 0px !important;
    }





}


    @media (min-width: 1440px) {
        .discount_tags {
            margin-right: 0px !important;
        }

        .steps-block h2, .ecommerce .steps-block h2 {
            font-size: 34px !important;
        }

        .product-title-sku {
            font-size: 22px !important;
        }


    }


    /* BEGIN max width 1024px */
    @media (max-width: 1024px) {
        body.page-header-fixed {
            padding-top: 107px !important; /* height of the header */
        }

        .header .mobi-toggler {
            display: block;
            border: 1px solid #64AED9 !important;
        }

        .header .header-navigation {
            float: none !important;
            display: none;
            clear: both;
            background: #F9F9F9;
            padding: 0 20px;
            margin: 0 -20px 25px;
            font-size: 16px;
        }

            .header .header-navigation li {
                float: none;
                padding: 0;
                clear: both;
            }

                .header .header-navigation li > a,
                .header .dropdown.open .dropdown-toggle,
                .header .header-navigation li.open > a {
                    border-bottom: 1px solid #efefef !important;
                    padding: 8px 10px 9px;
                    margin: 0 -10px;
                    position: relative;
                    color: #666 !important;
                    background: none !important;
                }

        .ecommerce .header .header-navigation li > a,
        .ecommerce .header .dropdown.open .dropdown-toggle,
        .ecommerce .header .header-navigation li.open > a {
            padding: 12px 10px 9px;
        }

        .header .header-navigation li > a:hover,
        .header .header-navigation li.active > a,
        .header .header-navigation li.open > a:hover {
            border-bottom: 1px solid #efefef !important;
            background: none !important;
            color: #dd4632 !important;
            text-decoration: none;
        }

        .header-navigation > ul > li.dropdown:hover > a:after {
            border: none;
        }

        .header-navigation > ul > li > a > i.fa-angle-down {
            display: block;
            float: right;
            margin: 3px 0 0;
        }

        /* dropdown menu */
        .header-navigation .dropdown-menu,
        .header-navigation > ul > li > .dropdown-menu {
            position: static;
            width: 100%;
            margin: 0;
            border: none;
            box-shadow: none;
            background: none;
            margin-top: 0;
            border-top: none;
            z-index: 22;
        }

            .header-navigation .dropdown-menu li {
                border: none !important;
                margin-left: 20px;
            }

                .header-navigation .dropdown-menu li > a {
                    padding: 10px 10px 9px;
                    z-index: 999;
                    position: relative;
                }

                    .header-navigation .dropdown-menu li > a > i {
                        display: none;
                    }

            .header-navigation .dropdown-menu .dropdown-menu {
                display: block;
            }

        .header-navigation .header-navigation-content {
            border: none;
        }

        .dropdown-megamenu .header-navigation-content {
            padding: 5px 0 0;
            margin-left: -20px;
        }

            .dropdown-megamenu .header-navigation-content .row {
                margin: 0;
            }

            .dropdown-megamenu .header-navigation-content .header-navigation-col {
                padding: 0;
                float: none;
                width: 100%;
            }

            .dropdown-megamenu .header-navigation-content h4 {
                font-size: 13px;
                padding: 10px 10px 9px;
                margin: 0 -10px 0 10px;
            }

        .header-navigation .dropdown-megamenu .header-navigation-content li > a {
            padding: 10px 10px 9px;
        }

        .header-navigation-content-ext {
            background: none;
        }

        .header-navigation-description {
            height: auto !important;
            background: none;
            box-shadow: none;
            padding: 0;
            margin: 0 10px;
        }

        .header-navigation-content-ext .col-md-6,
        .header-navigation-content-ext .col-md-3 {
            float: none;
            width: 100%;
        }

        .dropdown-megamenu .header-navigation-content-ext .col-md-3 h4 {
            border-bottom: 1px solid #EFEFEF;
        }

        .header-navigation .dropdown-menu .header-navigation-content-ext li > a {
            display: block;
        }

        .header-navigation-content-ext .col-md-3, .header-navigation-content-ext .col-md-6 {
            padding: 0;
        }

        .header-navigation-content-ext .col-md-6 {
            margin-left: 10px;
        }

            .header-navigation-content-ext .col-md-6 h4 {
                margin-left: 0;
                padding-left: 0;
            }

        .header .nav-brands {
            margin: 15px 10px;
            padding: 0;
            width: 100%;
            background: #fff;
        }

            .header .nav-brands ul {
                border: 1px solid #F0F0F0;
                padding: 10px;
            }

            .header .nav-brands li {
                max-width: 50%;
                display: inline-block;
                border: none;
                margin-left: 0
            }

                .header .nav-brands li a,
                .header .nav-brands li a:hover {
                    border: none !important;
                    margin: 0 !important;
                }

        .nav-catalogue .dropdown-menu > li {
            margin-left: 0;
        }

        .nav-catalogue .header-navigation-content {
            padding: 20px 0 0;
        }

        .nav-catalogue .product-item {
            margin-bottom: 20px;
        }

        .header-navigation li.menu-search,
        .ecommerce .header-navigation li.menu-search {
            top: 0;
            padding: 20px 0 10px;
            position: relative;
        }

            .header-navigation li.menu-search span.sep {
                display: none;
            }

        .header-navigation .search-box {
            position: relative;
            right: auto;
            left: 0;
        }

            .header-navigation .search-box:after {
                right: auto;
                left: 0;
            }

        .top-cart-block {
            margin-top: 3px;
        }

        .page-header-fixed .header-navigation {
            height: 300px;
            overflow: auto;
        }
    }
    /* END max width 1024px */

    /* BEGIN max width 992px */
    @media (max-width: 992px) {
        .shop-index-carousel {
            margin-left: 0;
            margin-right: 10px;
        }

        .brands .container {
            padding-right: 25px;
        }

        .sidebar-menu a:focus {
            color: #333 !important;
            text-decoration: none;
        }

        .sale-product___removed {
            margin-bottom: 40px;
        }

        .new-arrivals___removed {
            margin-left: 15px;
            padding-left: 0;
        }

        .two-items-bottom-items {
            margin-bottom: 40px;
        }

        .carousel img {
            width: 100%;
        }

        /*.steps-block {
		padding-bottom: 10px;
	}
	.steps-block-col {
		border: 2px solid #FFF;
		margin: 0 20px 20px 15px;
		padding: 20px 20px 15px;
		min-height: auto;
		float: left;
	}
	.steps-block-col:last-child {
		margin-right: 0;
	}
	.steps-block .steps-block-col div {
		margin-left: 0;
		margin-right: 0;
	}
	.steps-block h2 {
		font-size: 25px;
	}
	.steps-block em {
		text-transform: inherit;
	}
	.steps-block-col span,
	.steps-block-col .fa {
		display: none;
	}
	.steps-block-col:first-child em {
		margin-left: 0;
	}*/

        .steps-block-col {
            border: 2px solid #FFF;
            margin: 0 25px 20px 15px;
            padding: 20px 20px 15px;
            min-height: auto;
            float: none;
        }

            .steps-block-col:last-child {
                margin-right: 25px;
                margin-bottom: 0;
            }

        .steps-block .steps-block-col div {
            margin-left: 0;
            margin-right: 0;
        }

        .steps-block h2 {
            font-size: 43px;
        }

        .steps-block em {
            text-transform: uppercase;
        }

        .steps-block-col span {
            display: none;
        }

        .steps-block-col .fa {
            display: block;
        }

        .pre-footer-subscribe-box form {
            width: 100%;
        }

        .sidebar-products img {
            float: none;
            margin-bottom: 5px;
            width: 100%;
            height: auto;
        }

        .sidebar-products h3,
        .sidebar-products .price {
            margin-left: 0;
        }

        .product-page-options .pull-left {
            margin-bottom: 10px;
        }

        .product-quantity {
            margin-bottom: 10px;
        }

        /*
	if you want to hide buttons on mobile view, uncomment this block
	.pi-img-wrapper div {
		display: none !important;
	}*/
        .review .rateit {
            width: 100%;
            margin-bottom: 10px;
        }

        .list-view-sorting .pull-right {
            margin-bottom: 10px;
        }

        .service-box p, .service-box .service-box-heading em, .service-box .service-box-heading span {
            display: block;
            text-align: center;
        }

        .service-box .service-box-heading em {
            margin-bottom: 10px;
        }

        .quote-v1 {
            text-align: center;
        }

            .quote-v1 .text-right {
                text-align: center;
            }

        .recent-work .owl-carousel {
            margin-left: -10px;
        }

        .our-clients .owl-carousel {
            margin-left: -2px;
        }

        .recent-work .owl-carousel,
        .our-clients .owl-carousel {
            padding-top: 30px;
        }

        .recent-work .owl-buttons,
        .our-clients .owl-buttons {
            top: 0;
            left: -3px;
        }

        .our-clients .owl-buttons {
            left: -10px;
        }

        .testimonials-v1 {
            padding-top: 40px;
        }

        .recent-work .recent-work-item .fa {
            width: 36px;
            height: 36px;
            margin-top: -18px;
            font-size: 14px;
            padding: 12px;
        }

        .recent-news-inner {
            padding: 10px 15px 0;
        }

        .ecommerce .pre-footer-subscribe-box h2, .corporate .pre-footer-subscribe-box h2 {
            padding-top: 0;
        }

        .pre-footer .pre-footer-subscribe-box {
            padding-bottom: 25px;
        }

        .ecommerce .pre-footer-subscribe-box form {
            width: 100%;
        }

        .ecommerce .content-search h1 {
            padding-top: 0;
            margin-bottom: 3px;
        }

        .content-search form {
            margin: 0 0 6px;
        }
    }
    /* END max width 992px */

    /* BEGIN max width 767px */
    @media (max-width: 767px) {

        .layer_slider_description {
            font-size: 18px !important;
            text-align: center !important;
            margin-left: 150px !important;
        }

        .pre-header .pull-right {
            float: left !important;
        }

            .pre-header .pull-right li:first-child {
                padding-left: 0;
            }

        .ecommerce .pre-footer-subscribe-box form {
            float: none;
            width: auto;
        }

        .header .header-navigation {
            margin: 0 -10px 0;
            padding: 0 10px;
        }

        .header-navigation-content {
            min-width: 100px;
        }

        .sidebar {
            margin-bottom: 40px;
        }

        .sidebar___removed {
            margin-bottom: 40px;
        }

        .sidebar-menu .fa-angle-right {
            display: inline-block;
        }

        .pre-footer .pull-right,
        .footer .pull-right {
            float: none !important;
        }

        .pre-footer .pull-right,
        .footer .pull-right {
            padding-top: 15px;
        }

        .footer .list-inline > li {
            padding-left: 0;
            margin-right: 5px;
        }


        .form-info {
            border-left: none;
            padding-left: 0;
            padding-top: 30px;
            border-top: 1px solid #E4E6E8;
            margin-bottom: 0;
        }

        .sidebar-products .item {
            float: left;
            width: 48%;
            margin-bottom: 20px;
            padding: 0 10px 10px;
        }

        .sidebar-products img {
            width: 100%;
            height: auto;
        }

        .list-view-sorting {
            /*background: #fff;*/
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 10px;
        }

            .list-view-sorting .col-md-10 {
                padding-right: 0;
            }

        .product-other-images {
            margin-bottom: 25px !important;
        }

        .product-page-options .pull-left {
            margin-bottom: 10px !important;
        }

        .product-item .img-responsive {
            width: 100%;
        }

        .pagination {
            float: left !important;
            padding-top: 10px;
        }

            .pagination > li {
                margin-left: 0;
                margin-right: 5px;
            }

        .pre-footer .margin-bottom-40 {
            margin-bottom: 0;
        }

        .ls-layer3 .ls-price strong {
            top: -15px;
        }

        .glyphicons-demo ul li {
            width: 12.5%;
        }

        .tab-style-1 .tab-content img {
            margin: 5px 0 10px;
        }

        .testimonials-v1 {
            padding-top: 20px;
        }

        .front-steps-wrapper {
            margin-left: -10px;
            margin-right: -10px;
        }

            .front-steps-wrapper .front-step-col {
                padding-left: 15px;
                padding-right: 15px;
            }

            .front-steps-wrapper .front-step:after {
                display: none;
            }

        .blog-posts h2, .ecommerce .blog-posts h2 {
            padding-top: 15px;
        }

        .ecommerce .footer {
            padding: 10px 0 10px;
        }

            .ecommerce .footer .pull-right {
                padding-top: 10px;
            }

        .ecommerce .pre-footer address {
            margin-bottom: 15px !important;
        }

        .footer img {
            margin-bottom: 10px;
        }

        .ecommerce .pre-footer-subscribe-box h2, .corporate .pre-footer-subscribe-box h2 {
            padding-top: 7px;
        }
    }
    /* END max width 767px */

    /* BEGIN max width 600px */
    @media (max-width: 600px) {
        .ls-layer3 .ls-price strong {
            top: -5px;
        }
    }
    /* END max width 600px */

    /* BEGIN max width 480px */
    @media (max-width: 480px) {


        .pre-header .list-inline li {
            display: inline-block;
            border: none;
            margin-bottom: 6px;
            padding: 0px;
            font-size: 10px !important;
            _margin-left: 13px !important;
        }



        .pre-header .col-md-6 {
            float: left;
        }

        .pre-header .additional-nav {
            _float: right;
            _text-align: right;
            text-align: center !important;
            text-align-last: center !important;
        }

        .nav-catalogue .pi-price {
            margin-bottom: 10px;
        }

        .nav-catalogue .pi-price,
        .nav-catalogue .product-item .add2cart {
            float: none;
        }


        .product-quantity input.form-control {
            border: none;
            background: #edeff1 !important;
            font: 300 16px 'Open Sans', sans-serif;
            color: #647484;
            height: 40px;
            width: 40px;
            text-align: center;
        }

        .product-quantity .input-group {
            width: 60px;
            float: left;
            margin-right: 5px;
            position: relative;
            height: 40px;
        }

        .product_quantity_cart {
            margin-left: 45px !important;
            margin-top: -38px !important;
        }

        .more_details_color {
            margin-top: 0px !important;
        }

        .more_details_qty {
            margin-top: -32px !important;
        }



        .product-page-cart #addToCart {
            padding: 7px 5px;
            font-size: 13px;
            margin-left: 30px !important;
        }

        .product-page-cart #BuySingleProduct {
            padding: 10px 9px !important;
            font-size: 13px;
            height: 39px !important;
            _float: right;
            _margin-top: -30px;
        }

        .ecommerce .nav-tabs > li > a, .ecommerce .nav-tabs > li > a:hover, .ecommerce .nav-tabs > li > a:focus {
            padding: 5px 7px 3px;
            background: #edeff1;
        }




        .top-cart-block {
            clear: both;
            float: left;
            padding-top: 0;
            margin: 0 0 29px;
            width: 100%;
        }

        .top-cart-info {
            float: none;
        }

        .top-cart-block .fa-shopping-cart {
            top: 0;
        }

        .top-cart-content-wrapper {
            left: 0;
            right: auto;
        }

        .top-cart-content:after {
            left: 15px;
        }

        .ls-fullwidth .ls-nav-prev, .ls-fullwidth .ls-nav-next {
            display: none;
        }

        .checkout-content {
            padding: 0 0 40px;
        }

        .checkout-page h2 a {
            padding: 9px 10px 8px;
        }

        .table-wrapper-responsive {
            overflow-x: scroll;
        }

        .shopping-cart-page .btn-default {
            float: right;
        }

        .shopping-cart-page .btn-primary {
            clear: both;
            margin-top: 10px;
        }

        .checkout-page .btn-default {
            clear: both;
            margin-top: 10px;
            margin-right: 0 !important;
        }

        .product-item:hover > .pi-img-wrapper > div {
            display: none;
        }

        .steps-block-simple h2 {
            font-size: 21px;
        }

        .steps-block-simple em {
            font-size: 14px;
            text-transform: inherit;
        }

        .ecommerce .pre-footer-subscribe-box h2,
        .corporate .pre-footer-subscribe-box h2 {
            float: none;
            font-size: 13.5px !important;
        }

        .list-view-sorting .pull-right {
            float: left !important;
            margin: 0 30px 10px 0;
        }

        .list-view-sorting .sort_by {
            float: left !important;
            margin-bottom: -20px !important;
        }

        .list-view-sorting .show {
            float: left !important;
            margin-top: 45px !important;
            margin-left: 11px !important;
        }

        /*Blog */

        #defaultCountdown {
            width: 100%;
            margin: 10px 0;
            overflow: hidden;
            margin-left: 10px !important;
        }

            #defaultCountdown span.countdown_row {
                overflow: hidden;
            }

                #defaultCountdown span.countdown_row span {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 10px;
                    margin-right: 2px;
                }

                #defaultCountdown span.countdown_row > span {
                    float: left;
                }

            #defaultCountdown span.countdown_section {
                padding: 5px 5px !important;
            }

        /*End Blog*/


        a.list-group-item {
            display: block;
            font-size: 12px !important;
            line-height: 18px;
            font-weight: 600;
            color: #2F3337;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }




        div.counter span {
            font-size: 13px;
            color: #64aed9;
            font-weight: 600;
        }



        /*Home Page Layer Slider*/
        .layer_slider_title {
            font-size: 10px !important;
            display: inline-block !important;
            position: relative !important;
            margin-left: 90px !important;
        }

        .ls-l ls-title {
            display: inline;
        }

        .layer_slider_description {
            color: #ddd !important;
            font-size: 8px !important;
            position: relative !important;
            margin-left: 120px !important;
            text-align: center !important;
            margin-top: 10px !important;
            margin-right: 10px !important;
        }
        /*End Home Page Layer Slider*/
        .header .top-cart-block {
            margin-top: 0;
        }

        .reduce-header .top-cart-block {
            margin-top: 0;
            margin-bottom: 19px;
        }
    }
    /* END max width 480px */

    /* BEGIN max width 450px */
    @media (max-width: 450px) {
        .ecommerce .steps-block h2 {
            font-size: 33px;
        }
    }
    /* END max width 450px */

    /* BEGIN max width 405px */
    @media (max-width: 405px) {
        .top-cart-content {
            width: 100%;
        }

            .top-cart-content em {
                width: 45px;
                font-style: normal;
                text-align: right;
                float: left;
            }

        .top-cart-block img,
        .top-cart-block .cart-content-count {
            display: block;
        }
    }
    /* END max width 405px */

    /*Begin Min Width 360 and Max Width 640 For QuickView Products*/
    @media (min-width: 360px) and (max-width:640px) {
        #product-pop-up {
            width: 277px !important;
        }

        pop-up .product-quantity .input-group {
            margin-right: 20px !important;
        }

        .description {
            text-align: center !important;
        }

        .fancybox-inner {
            overflow: auto !important;
            height: auto !important;
            width: auto !important;
        }

        .product-title-sku {
            text-align: center !important;
            font-size: 14px !important;
        }

        .price-availability-block .price {
            text-align: center !important;
            float: none !important;
        }

            .price-availability-block .price strong {
                color: #64aed9 !important;
                font-size: 25px !important;
            }

        .price-availability-block .availability {
            text-align: center !important;
            font-size: 15px !important;
            float: none !important;
            margin-top: 10px !important;
        }

            .price-availability-block .availability strong {
                font-weight: normal;
                font-size: 15px !important;
                color: #3e4d5c;
            }

        .product-page-cart {
            margin-bottom: 40px !important;
        }

        .product-pop-up .product-page-cart a.btn {
            padding: 10px 5px 5px !important;
            display: inline-block !important;
        }

        .pre-header .list-inline li {
            display: inline-block;
            border: none;
            padding: 0px;
            font-size: 11px !important;
        }

        .username_email {
            margin-top: 8px !important;
        }



        .service_phone {
            display: inline-block !important;
            margin-left: 0px !important;
        }





        .fastview-btn {
            _float: right !important;
            _margin-top: -39px !important;
        }

        .buynow-btn {
            _float: right !important;
            _margin-top: -39px !important;
        }

        #buynow-size {
            margin-left: 10px !important;
        }


        .fancybox-skin {
            margin-bottom: 15px !important;
        }

        .product-page-options .pull-left color {
            margin-left: 50% !important;
        }

        #fastview_color_panel {
            margin-bottom: -20px !important;
        }

        #fastview_color {
            margin-left: 37px !important;
        }

        #fastview_size {
            margin-left: 37px !important;
        }

        .product-other-images img {
            width: 20% !important;
            height: auto !important;
            margin: 0 4px 12px 7.5px !important;
        }

        .top-cart-content .btn-default {
            color: #fff;
            border: 1px solid #c1cad3;
            background: #c1cad3;
            margin-right: 4px;
        }

        .fastview_qty {
            margin-left: -2px !important;
        }

        .discount_tags {
            margin-right: 15px !important;
            height: 35px !important;
        }

        #offer_image {
            width: 100% !important;
            height: 95px !important;
        }

        .color-panel .color-mode-icons {
            top: 0;
            right: 0;
            padding: 20px;
            cursor: pointer;
            position: absolute;
            margin: 0;
        }

        #carousel-image-slider {
            margin-top: -52px !important;
            margin-left: 20px !important;
            border: 10px solid #fff !important;
            _height: 218px !important;
        }

        #modal_popup {
            display: inline-block !important;
            _margin-left: 0px !important;
            _margin-right: 15px !important;
        }

        #promo_video {
            width: 100% !important;
            margin-top: 25px !important;
        }

        .content-slider {
            margin-left: 0 !important;
            margin-top: 20px !important;
            border: 0px !important;
        }

        #overlay {
            width: 100% !important;
        }

        .verify_header {
            font-size: 16px !important;
        }

        .work-process .item > i.the-arrow-icon {
            top: -4% !important;
        }

        .work-process .item .inner-content > span.title {
            line-height: 28px !important;
        }

  
    }


    @media (min-width: 360px) {
        #jssor_1 {
            width: 100% !important;
        }

        .banner_title {
            font-size: 13px !important;
        }

        #show {
            margin-left: 10px !important;
        }


    }



    @media (min-width: 360px) {
        pre-header .pull-right {
            float: left !important;
            margin-top: -25px;
        }

  
    }

@media (max-width: 360px) {

    #sitemap {
        background: none !important;
    }
}



    @media (min-width: 600px) {

        .service_phone {
            margin-left: 0px !important;
        }

        .pre-header .list-inline li {
            display: inline-block;
            border: none;
            padding: 0px;
            font-size: 12px !important;
            line-height: 0px !important;
        }

        .buynow-btn {
            float: none !important;
            margin-top: 0px !important;
        }


        .owl-buttons {
            position: absolute !important;
            top: -28px !important;
            right: 10px !important;
        }

        .product-page-cart .fastview-btn {
            font-size: 11px;
        }

        .pre-header .pull-right {
            float: right !important;
            margin-top: -24px !important;
        }

        .product_quantity_cart {
            _margin-left: 6px;
        }
    }




    @media (min-width: 384px) {
        .buynow-btn {
            float: none !important;
            margin-top: 0px !important;
        }

        .service_phone {
            text-align: center !important;
        }

        #open-modal {
            margin-top: 0px !important;
        }

        #filter_close_icon {
            right: 10px !important;
        }

        #filter_sidebar {
            width: 330px !important;
        }

        #searchMobile {
            width: 313px !important;
        }
    }

    /*@media(min-width: 414px) {
        #searchMobile {
            width: 343px !important;
        }
    }*/

@media(min-width: 336px) and (max-width:340px){
    #searchMobile {
        width: 266px !important;
    }
}


@media(min-width: 341px) and (max-width:350px) {
    #searchMobile {
        width: 275px !important;
    }
}

@media(min-width: 351px) and (max-width:360px) {
    #searchMobile {
        width: 287px !important;
    }
}

@media(min-width: 361px) and (max-width:370px) {
    #searchMobile {
        width: 297px !important;
    }
}

@media(min-width: 371px) and (max-width:380px) {
    #searchMobile {
        width: 305px !important;
    }
}


@media(min-width: 381px) and (max-width:390px) {
    #searchMobile {
        width: 313px !important;
    }
}

@media(min-width: 390px) and (max-width:399px) {
    #searchMobile {
        width: 325px !important;
    }
}

@media(min-width: 400px) and (max-width:409px) {
    #searchMobile {
        width: 335px !important;
    }
}
@media(min-width: 410px) and (max-width:419px) {
    #searchMobile {
        width: 345px !important;
    }
}

@media(min-width: 420px) and (max-width:429px) {
    #searchMobile {
        width: 355px !important;
    }
}

@media(min-width: 430px) and (max-width:439px) {
    #searchMobile {
        width: 365px !important;
    }
}

@media(min-width: 440px) and (max-width:449px) {
    #searchMobile {
        width: 375px !important;
    }
}

@media(min-width: 450px) and (max-width:459px) {
    #searchMobile {
        width: 385px !important;
    }
}
@media(min-width: 460px) and (max-width:469px) {
    #searchMobile {
        width: 395px !important;
    }
}

@media(min-width: 470px) and (max-width:479px) {
    #searchMobile {
        width: 400px !important;
    }
}

@media(min-width: 480px) and (max-width:490px) {
    #searchMobile {
        width: 410px !important;
    }
}
    @media (min-width: 768px) {

        .pre-header .pull-right {
            margin-top: 0px !important;
        }
    }


    @media (min-width: 800px) {
        .pre-header .pull-right {
            float: right !important;
            margin-top: 0px !important;
        }

        .product-other-images img {
            width: 17% !important;
            height: auto !important;
            margin: 0 5px 12px 12px !important;
        }
    }



    /*End Min Width 360 and Max Width 640 For QuickView Products*/


    /* BEGIN max width 390px */
    @media (max-width: 390px) {
        .steps-block .fa-truck, .steps-block .fa-gift, .steps-block .fa-phone {
            border: 2px solid #FFFFFF;
            border-radius: 30px !important;
            float: left;
            font-size: 20px;
            width: 40px;
            height: 40px;
            margin-right: 11px;
            padding-top: 12px;
            text-align: center;
            vertical-align: middle;
        }

        .ecommerce .steps-block h2 {
            font-size: 25px;
            padding-top: 2px;
        }

        .ecommerce .steps-block em {
            text-transform: inherit;
        }

        .mix-block .tab-content .col-md-3 {
            padding-right: 15px;
        }
    }
    /* END max width 390px */

    /* BEGIN max width 330px */
    @media (max-width: 330px) {
        .top-cart-content {
            width: 280px;
        }
    }
    /* END max width 330px */



    /* BEGIN max width 320px */
    @media (max-width: 320px) {

        .site-logo {
            margin-right: 0;
        }

        .pre-header .list-inline li {
            display: inline-block;
            padding: 0px;
            font-size: 10px;
        }

        .service_phone {
            display: inline-block !important;
            text-align: center !important;
        }

        .content-form-page .btn-default {
            margin-top: 10px;
        }

        .price-availability-block .availability {
            clear: left;
            float: none;
            text-align: center;
            margin-top: 10px;
        }

        .product-page-options .pull-left {
            margin-right: 0px !important;
            margin-left: 10px !important;
        }

        #product-pop-up {
            width: 211px !important;
        }

        .product-other-images img {
            width: 17%;
            height: auto;
            margin: 0 16px 12px 0;
        }

        .product-title-sku {
            text-align: center !important;
            font-size: 16px !important;
        }

        .price-availability-block .price {
            text-align: center;
            float: none !important;
        }

        #size {
            margin-left: 23px !important;
        }

        .product-page-cart #addToCart {
            padding: 4px 4px;
            font-size: 10px;
            height: 39px;
            margin-left: -37px;
        }

        .product-pop-up .product-page-cart a.btn {
            padding: 12px 5px 9px;
            display: inline-block;
            margin-left: -7px;
        }

        .product-page-cart .btn {
            padding: 7px 20px;
            font-size: 8px;
            height: 38px;
        }

        .pre-header .pull-right {
            margin-top: -2px !important;
        }

     

    }

    /* END max width 320px */




