﻿@model SaRaEcommerce.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@*<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@



 <!-- BEGIN FORGOT PASSWORD FORM -->

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="forget_password">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form", role = "" }))
            {
                @Html.AntiForgeryToken()
            <form class="forget-form" action="" method="post">
                <h3>Forget Password ?</h3>
                <p style="font-size:12.8px;text-align:justify;">
                    Enter your e-mail address below to reset your password.
                </p>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        @*<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email", @name = "email" })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn">
                        <a href="@Url.Action("Login", "Account")" style="color:#000;text-decoration: none;"><i class="m-icon-swapleft"></i> Back</a>
                    </button>

                    <button type="submit" class="btn btn-primary pull-right">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </form>
            }


        </div>

    </div> 

    
    <div class="col-md-4"></div>
</div>

    <!-- END FORGOT PASSWORD FORM -->



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
