﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}



<hgroup class="title">
    <h1 class="text-center">@ViewBag.Title.</h1>
</hgroup>
<div class="row" style="min-height:230px;">
    <div class="col-md-12">
        <p class="text-primary text-center">
            Please check your email to reset your password.
        </p>
        </div>
</div>
	
