﻿@model SaRaEcommerce.Models.SmsVerificationViewModel
@{
    ViewBag.Title = "Info";
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


        <div class="content" style="">
            @*<p>Please confirm your account by email, go to email for confirmation link</p>

            @using (Html.BeginForm("ConfirmPhone", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(c => c.Token, new {@class="control-label"})
                    @Html.TextBoxFor(c => c.Token, new { @class="form-control"})
                </div>
                <div class="form-group">
                    @Html.HiddenFor(c => c.PhoneNumber)
                    @Html.HiddenFor(c => c.UserId)
                    <p>didn't get code? please <a href="@Url.Action("ResendCode","Account", new { userId = Model.UserId, phoneNumber = Model.PhoneNumber })">send again</a></p>
                    <button type="submit" class="btn btn-primary btn-circle">Verify</button>
                </div>
            }*@

            <h3 style="font-size: 20px;" class="verify_header">Verify Your Account With Phone or Email</h3>
            <hr/>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#phone">Phone Verify</a></li>
                    <li><a href="#email">Email Verify</a></li>
                </ul>

                <div class="tab-content">
                    <div id="phone" class="tab-pane fade in active">
                        @using (Html.BeginForm("ConfirmPhone", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group" style="margin-right: 0px;margin-left: 0px;">
                                @Html.LabelFor(c => c.Token,"Verification Code", new {@class="control-label"})
                                @Html.TextBoxFor(c => c.Token, new { @class="form-control",@placeholder="Enter Verification Code"})
                            </div>
                            <div class="form-group" style="margin-right: 0px;margin-left: 0px;">
                                @Html.HiddenFor(c => c.PhoneNumber)
                                @Html.HiddenFor(c => c.UserId)
                                <p>didn't get code? please <a href="@Url.Action("ResendCode","Account", new { userId = Model.UserId, phoneNumber = Model.PhoneNumber })">send again</a></p>
                                <button type="submit" class="btn btn-primary btn-circle">Verify</button>
                            </div>
                        }
                    </div>

                    <div id="email" class="tab-pane fade" style="padding: 4px;">
                        <p>Please confirm your account by email, go to email for confirmation link</p>
                    </div>
                </div>
            </div>

        <script>
            $(document).ready(function(){
                $(".nav-tabs a").click(function(){
                    $(this).tab('show');
                });
            });
        </script>
        </div>


    <div class="col-md-4"></div>
</div>
