﻿@using SaRaEcommerce.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


        <div class="content">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "" }))
            {
                @Html.AntiForgeryToken()
                <!-- BEGIN LOGIN FORM -->
                <form class="" action="" method="post">
                    <h3 class="form-title">Login to your account</h3>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>
                            Enter any username and password.
                        </span>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        @*<label class="control-label visible-ie8 visible-ie9">Email</label>*@
                        @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            @*<input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email"/>*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix",@autocomplete="off",@placeholder= "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        @*<label class="control-label visible-ie8 visible-ie9">Password</label>*@
                        @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            @*<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />*@
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-actions">
                        @*<label class="checkbox">
                                <input type="checkbox" name="remember" value="1" /> Remember me
                            </label>*@
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                        @*<button type="submit" class="btn btn-primary pull-right">
                                Login <i class="m-icon-swapright m-icon-white"></i>
                            </button>*@
                        <button type="submit" name="login" class="btn btn-primary pull-right"><i class="m-icon-swapright m-icon-white"></i> Login</button>
                    </div>
                    <div class="login-options">
                        <h4>Or login with</h4>
                        <ul class="social-icons">
                            <li>
                                <a class="facebook" data-original-title="facebook" href="javascript:;">
                                </a>
                            </li>
                            <li>
                                <a class="twitter" data-original-title="Twitter" href="javascript:;">
                                </a>
                            </li>
                            <li>
                                <a class="googleplus" data-original-title="Goole Plus" href="javascript:;">
                                </a>
                            </li>
                            <li>
                                <a class="linkedin" data-original-title="Linkedin" href="javascript:;">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="forget-password">
                        <h4>Forgot your password ?</h4>
                        <p>
                            no worries, click
                            <a href="@Url.Action("ForgotPassword", "Account")" id="forget-password">
                                here
                            </a>
                            to reset your password.
                        </p>
                    </div>
                    <div class="create-account">
                        <p>
                            Don't have an account yet ?&nbsp;
                            <a href="@Url.Action("Register", "Account")" id="register-btn">
                                Create an account
                            </a>
                        </p>
                    </div>
                </form>
            }
                <!-- END LOGIN FORM -->

     
        </div>


    </div>
    <div class="col-md-4"></div>
</div>

<script src="/Scripts/login.js" type="text/javascript"></script>

<script type="text/javascript">
    Login.init();
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}