﻿@model SaRaEcommerce.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*<h2>@ViewBag.Title.</h2>*@

@*@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {*@
@*@Html.AntiForgeryToken()*@

@*<div class="row margin-bottom-40">
        <div class="col-md-12 col-sm-12">
            <div class="modal-content-reg">
                <div class="modal-header">

                    <h4 class="modal-title">Ready to Join SaRa Lifestyle? Create a New Account</h4>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Personal Details</h4>
                            <hr />
                        </div>

                        <div class="col-md-12">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="col-md-6">
                                <div class="form-group required">

                                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.FirstName)
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">

                                <div class="form-group required">

                                    @Html.LabelFor(m => m.Address1, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Address1)
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.LastName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Address2)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group required">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.City)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group required">
                                    @Html.LabelFor(m => m.PhoneNo, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(c => c.PhoneNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">

                                    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })

                                    <div class="col-md-2 control-label">
                                        <label for="country"> Country</label>
                                    </div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("Country", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Bangladesh", Value = "Bangladesh", Selected = true},
                                            new SelectListItem{ Text="International", Value = "International" }
                                        }, new {@class="form-control"})
                                        @Html.ValidationMessageFor(c => c.Country)

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br /><br />
                            <h4>Your Password</h4>
                            <hr />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Password)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                     <p style="font-weight:600;float:left;">
                        <a href="/Account/Login">Already a Member? Log in</a>
                    </p>
                    <button type="submit" name="submit" value="newAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i> Create My Account</button>

                </div>
            </div>
        </div>
    </div>*@




<!-- BEGIN REGISTRATION FORM -->


<div class="registration_form">
    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "register-form" }))
    {
        @Html.AntiForgeryToken()

        <form class="register-form" action="" method="post">

            <div class="row">
                <div class="col-md-1"></div>
                
                <div class="col-md-10 col-xs-12">
                    <h3>Create Your Account</h3>
                    <p> Enter your personal details below:</p>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="col-md-1"></div>
                <div class="col-md-5 col-xs-12">
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })<span style="color: red;">*</span>
                        <div class="input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control placeholder-no-fix", @placeholder = "Full Name" })
                            @Html.ValidationMessageFor(c => c.FirstName)

                        </div>
                    </div>

                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })<span style="color:red;">*</span>
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email" })
                            @Html.ValidationMessageFor(c => c.Email)
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-xs-12">
                  
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNo, new { @class = "control-label" })<span style="color:red;">*</span>
                        <div class="input-icon">
                            <i class="fa fa-phone"></i>
                            @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control placeholder-no-fix", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(c => c.PhoneNo)
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address1, new { @class = "control-label" })<span style="color:red;">*</span>
                        <div class="input-icon">
                            <i class="fa fa-map-marker"></i>
                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control placeholder-no-fix", @placeholder = "Address"})
                            @Html.ValidationMessageFor(c => c.Address1)
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-xs-12">

                    <div class="form-group">
                        @Html.LabelFor(m => m.City, new { @class = "control-label" })
                        <div class="input-icon">
                            <i class="fa fa-map-marker"></i>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control placeholder-no-fix", @placeholder = "City" })
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="form-group">

                        @Html.LabelFor(m => m.Country, new { @class = "control-label" })<span style="color:red;">*</span>
                        <div class="input-icon">
                            <i class="fa fa-flag"></i>

                            
                            @Html.DropDownList("Country", new List<SelectListItem>
                            {
                                new SelectListItem{ Text="Bangladesh", Value = "Bangladesh", Selected = true},
                                new SelectListItem{ Text="International", Value = "International" }
                            }, new {@class= "select2 form-control" })
                            @Html.ValidationMessageFor(c => c.Country)
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>





            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 col-xs-12">
                    <p>
                        Enter your account details below:
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 col-xs-12">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })<span style="color:red;">*</span>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @placeholder = "Password" })
                            @Html.ValidationMessageFor(c => c.Password)
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })<span style="color:red;">*</span>
                        <div class="controls">
                            <div class="input-icon">
                                <i class="fa fa-check"></i>                
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(c => c.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>


            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 col-xs-12">

                    <div class="form-actions">


                        <p class="pull-left">
                            Already a member ?
                            <a href="@Url.Action("Login", "Account")" id="register-btn">
                                Login
                            </a>
                        </p>



                        <button type="submit" name="submit" value="newAccount" id="register-submit-btn" class="btn btn-primary pull-right">
                            Sign Up <i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>

        </form>
    }
</div>
<!-- END REGISTRATION FORM -->







@Scripts.Render("~/bundles/jqueryval")
