﻿
@{
    ViewBag.Title = "MagazineThree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <h2>Magazines Details</h2>
        <img src="~/plugins/pages/img/news/7.jpg" class="img-responsive" alt="" style="width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;" />
    </div>
    <div class="col-md-2 col-xs-12"></div>
</div>
@*<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <div style="background: #fff;padding: 10px;">
            <p style="font-size: 18px; font-weight: 600; letter-spacing: 1px; text-transform: capitalize;">Young generation prefer their festive shopping from SaRa.</p>
            <p class="text-justify" style="font-size: 14px; line-height: 24px; color: rgb(71, 70, 70); font-weight: 500;">
                Young generation prefer their festive shopping from SaRa. Always present in trending way.
                AMADER SOMOY 30 JANUARY 2019
            </p>
        </div>
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>*@

