﻿
@{
    ViewBag.Title = "MagazineOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <h2>Magazines Details</h2>
        <img src="~/plugins/pages/img/news/4.jpg" class="img-responsive" alt="" style="width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;"/>
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>
<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <div style="background: #fff;padding: 10px;">
        <p style="font-size: 18px; font-weight: 600; letter-spacing: 1px; text-transform: capitalize;">SaRa starts its journey in Dhaka</p>
            <p class="text-justify" style="font-size: 14px; line-height: 24px; color: rgb(71, 70, 70); font-weight: 500;">
                SaRa, a new fashion brand, started its journey on Saturday (12 May) with a grand opening as “Sara Lifestyle”. The brand opened its first branch in Mirpur, Dhaka. Sara Lifestyle Ltd. is a sister concern of Snowtex Outwear Ltd, an export oriented readymade garment industry in Bangladesh. The opening ceremony was arranged with a fashion show, cat walk, video presentation and other gorgeous events. Media personality Sara Zaker was present as the special guest while S M Khaled, Managing Director of Snowtex Outwear Ltd and Sara Lifestyle Ltd., Sarifun Reba and Mosarraf Hossain, Directors of Snowtex Outwear Ltd and Sara Lifestyle Ltd., Assistant Director Motiur Rahman, Head of Designer Kashfia Nahrin and other officials of the organizations were also present in the event.Snowtex, has luanched its own brand 'SaRa' through Sara Lifestyle Ltd. The main objective of this brand is to create a positive image in fashion which will open a new door for the garment sector in Bangladesh, said a press release.Sara lifestyle aims to deliver quality garments in affordable price to its customers. Attractive dresses for men, women and children are available in the outlet. To celebrate the upcoming Eid, SaRa arranged a collection of new designs for its customers.Sara Lifestyle will open several branches in Dhaka and in the different districts of Bangladesh within a very short period of time.
                In future SaRa will open its branches abroad, the release added.Sara Lifestyle Ltd.Plot-10, Road-9, Block-KA, Section-6, Mirpur, Dhaka, Bangladesh
            </p>
        </div>
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>

