﻿
@{
    ViewBag.Title = "MagazineSix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <h2>Magazines Details</h2>
        <img src="~/plugins/pages/img/news/9.jpg" class="img-responsive" alt="" style="width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;" />
    </div>
    <div class="col-md-2 col-xs-12"></div>
</div>

