﻿
@{
    ViewBag.Title = "MagazineTwo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <h2>Magazines Details</h2>
        <img src="~/plugins/pages/img/news/1.jpg" class="img-responsive" alt="" style="width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;" />
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>
<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <div style="background: #fff;padding: 10px;">
            <p style="font-size: 18px; font-weight: 600; letter-spacing: 1px; text-transform: capitalize;">Our own brand will give more control on the market and the manufacturing facilities will be less vulnerable to major market changes.</p>
            <p class="text-justify" style="font-size: 14px; line-height: 24px; color: rgb(71, 70, 70); font-weight: 500;">
                Fast Fashion is creating fierce competition mainly on price issue and so the brands and retailers built on creating brand identities to claim bit more from the consumers. However the manufacturers when doesn’t have brand visibilities suffers the most, sometimes there is no feasibility for them in the business. Bangladeshi apparel makers, in particular, has been investing a lot in complying with global safety and compliance requirements trying to improve its reputation and brand value to be able to ask bit more money for their work for the global brands.When brands and its protection is very important for global brands & retailers, a positive brand visibility of manufacturers helps the final sellers to achieve more confidence and trust from the consumers. And so Textile Today is promoting the importance of brand awareness building for the textile and apparel manufacturers of Bangladesh. S M Khaled, Managing Director of Snowtex and SaRa Lifestyle Ltd.Figure 1: S M Khaled, Managing Director of Snowtex and SaRa Lifestyle Ltd.Understanding the importance of building a strong brand, doing promotion and making marketing strategy, still, there is a lot of confusion in textile and apparel industry on making a strategy on this. Companies are confusion in priority setting also. And so since Bangladesh is the second largest garments exporting country in the world, still it is lagging behind in branding and marketing strategies. Consequently, textile and apparel industries are suffering from financial aspects and losing competitiveness.S M Khaled, Managing Director of Snowtex and SaRa Lifestyle Ltd. having a distinctive view on this and creating significant examples in the subject matter could be considered as an icon. Mr. Khaled shared his knowledge and experience in apparel industry branding and promotion concept during a conversation with Textile Today team. Here is the glimpse of the conversation for the readers.Textile Today: Recently Snowtex has launched its own fashion brand “SaRa”. How do you get the idea of making such a fashion retail business besides garments manufacturing? S M Khaled: About six months earlier, I was invited to an international seminar of Decathlon buyer as the best business partner from Bangladesh in Lille, France. About 40-50 years ago, Lille was full of garments industry and over the time the industry was shut down and it became the poorest area in France. However, I have seen a number of garment manufacturing companies in Europe is now actually in selling garments under their created brand. Manufacturers in Bangladesh and other countries are manufacturing for them. I speculate that with the development going forward on the base of textile and apparel manufacturing in Bangladesh, the fashion retail business will also flourish here in coming days. And even in international market, our brand will give more protection to our manufacturing business. So, Snowtex already passed 20 years in garments manufacturing and still we are planning for expanding but we came up with ‘SaRa’ as a long term business strategy as we can survive when the garments industry in near future will be having a great transformation. Our own brand will give more control on the market and our manufacturing facilities will be less vulnerable to major market changes.
            </p>
        </div>
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>
