﻿
@{
    ViewBag.Title = "MagazineFour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <h2>Magazines Details</h2>
        <img src="~/plugins/pages/img/news/2.jpg" class="img-responsive" alt="" style="width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;" />
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>
<div class="row margin-bottom-20 news-event-content">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">
        <div style="background: #fff;padding: 10px;">
            <p style="font-size: 18px; font-weight: 600; letter-spacing: 1px; text-transform: capitalize;">Snowtex launches its own fashion brand SaRa</p>
            <p class="text-justify" style="font-size: 14px; line-height: 24px; color: rgb(71, 70, 70); font-weight: 500;">
                Snowtex launched its own fashion brand “SaRa” in Dhaka on May 12. It is another exemplary initiative by Bangladesh’s local RMG entrepreneurs to establish clothing brand in the world of fashion. The first flagship shop opened in Section 6, Mirpur-Dhaka.Fashion show, catwalk, video presentation and other events were arranged at the grand opening. Famous media personalities Ali Zaker and Sara Zaker were present as special guest while some other actors, models, singers and media people also attended. The main objectives of Sara is to provide quality clothing at affordable price for its customers. To celebrate upcoming Eid-ul-Fitr, it will present a collection of different clothing, which is designed by following local and western culture to attract the customers and make its brand loyalty. Snowtex has capitalized the experience of 20 years of garments making and selling for international reputed fashion brands. “All kinds of men’s, women’s and kid’s products will be available at the flagship shop where customer will get local, traditional and western tastes of fashion,” said Mr. SM Khaled, Managing Director of Snowtex Outerwear and Sara Lifestyle Ltd. in a press conference at ‘The Daily Star Centre’ in Dhaka on 9 May.The clothing including punjabi, Shirt, t-shirt, polo shirt, chino pant, and jeans are for men and boys. Western tops, shirt, ethnic tops, exclusive party tops, t-shirts, polo shirts, leggings, jeans, and chinos are for women and girls.“We have now started our first store in Mirpur. Gradually we will expand its store in Dhaka and other districts of the country,” said Khaled in the opening ceremony in a short speech. “We have a plan to open SaRa stores internationally in near future,” he added.Figure 3: SM Khaled, Managing Director of Snowtex Outerwear and SaRa Lifestyle ltd. Snowtex started its journey in 2000 by a buying house and now it has three different apparel manufacturing units where more than 10,000 of people are working. Snowtex Outerwear Ltd. is a green garments factory, which has achieved LEED gold certificate from US Green Building Council and Health and Safety Award from the Ministry of Labour and Employment in 2018. Sharifun Reba and Md. Mosarrof Hossain, Director of Snowtex Outerwear and SaRa Lifestyle, Assistant Director Mohammed Motiur Rahman and Head of Designer Kashfia Nehreen Hossain were also presented in the opening ceremony.
            </p>
        </div>
    </div>
    <div class="col-md-2 col-xs-12"></div>

</div>

