﻿@model SaRaEcommerce.ViewModel.ProductForQuickView
<div class="col-md-6 col-sm-6 col-xs-12">
    <!--For Small Devices View ZoomIn-->
    <div class="product-main-image hidden-md hidden-lg hidden-sm visible-xs" id="productImageMain">
        <img src="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)" class="img-responsive" id="mainImage" alt="SaRa product list"/>
    </div>
    <!--End For Small Devices View ZoomIn-->

    <div class="simpleLens-gallery-container hidden-xs" id="demo-1">
        <div class="simpleLens-container">
            <div class="simpleLens-big-image-container">
                <a class="simpleLens-lens-image" data-lens-image="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)">

                    <img src="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)" class="simpleLens-big-image img-responsive" alt="SaRa Lifestyle Ltd."/>
                </a>
            </div>
        </div>
        @if (Model.Discount > 0)
        {
            <div class="sticker-discount" style="display: none;">
                <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@Model.Discount%</p>
                @*<p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">P</p>*@
            </div>
        }
        else
        {
            if (Model.TotalQuantity < 1)
             {
                 <div class="sticker sticker-sale"></div>
             }
             else
             {
                 var vFromDate = DateTime.ParseExact(Model.InsertDate, "dd/MM/yyyy", null);
                 var vToDate = DateTime.ParseExact(DateTime.Now.Date.ToString("dd/MM/yyyy"), "dd/MM/yyyy", null);
                 var compare = (int)(vToDate - vFromDate).TotalDays;

                 if (compare < 3)
                 {
                     <div class="sticker sticker-new"></div>
                 }
             }
        }
        

        <div style="width:80%;height: 20px; background: #F9F9F9;"></div>
    </div>
    <div class="product-other-images" id="productImage"></div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <h2 class="product-title-sku">@Model.ProductName  || @Model.Sku</h2>
    <div class="price-availability-block clearfix">
        @if (Model.Discount > 0)
        {
            <div class="price">
                <strong id="price"><span>&#2547</span>@Model.NewAmount</strong>
                <em>&#2547<span id="oldPrice">@Model.SellAmount</span></em>
                <div class="discount_tags" style="display: none;">
                        <span>-@Model.Discount%</span>
                    </div>
            </div>
        }
        else
        {
            <div class="price">
                <strong id="price"><span>&#2547</span>@Model.SellAmount</strong>
            </div>
        }

        @if (Model.TotalQuantity > 0)
        {
            <div class="availability" id="available">
                Availability: <strong style="color: green">In Stock</strong>
            </div>
        }
        else
        {
            <div class="availability" id="available">
                Availability: <strong style="color: red">Out Of Stock</strong>
            </div>
        }
    </div>
    <div class="description">
        <p class="text-justify description">
            @Html.Raw(Model.ShortDescription)
        </p>
    </div>

    <div class="more_details_color" style="width:100%;height:25px;margin-top: 20px;">
        <div class="pull-left">
            <label class="control-label" style="color:#929EAA;text-transform: uppercase;" id="colorName">Color:</label>
            <div class="color-choose" id="colorList">
            </div>
        </div>
    </div>

    <div class="product-page-options">
        <div class="pull-left">

            <div class="cable-config">
                <span style="color: #9d9c9c;font-size: 15px;text-transform: uppercase;">Size:</span>
                <div class="cable-choose" id="sizeList">
                </div>
            </div>

        </div>
    </div>

    <div class="more_details_qty" style="width:100%;margin-top: -60px;margin-bottom: 20px;">
        <span style="color: #9d9c9c;font-size: 15px;text-transform: uppercase;line-height: 30px;">Quantity:</span>
        <div class="quantity">
            <button class="minus-btn product_quantity" type="button" name="button">
                <img src="/plugins/layout/img/icons/minus.svg" alt="minus quantity" />
            </button>

            <input type="text" name="name" id="qtyVal" value="1" />

            <button class="plus-btn product_quantity" type="button" name="button">
                <img src="/plugins/layout/img/icons/plus.svg" alt="plus quantity" />
            </button>
        </div>
    </div>

    <!--START SIZE GUIDE CHART-->
    @*@if (Model.RatioLists.Any())
    {
        <div style="margin-bottom: 20px;">

            <a class="fancybox" href="#size_guide">

                <button type="button" class="btn btn-primary"><i class="fa fa-th-list" aria-hidden="true"></i> Size Guide</button>
            </a>
        </div>

        <div id="size_guide" style="width: 750px; height: auto; display: none;">
            <div class="col-md-12">
                <div class="table-responsive">
                    <h2 class="text-center">@Html.Raw(Model.ProductName)</h2>
                    <table class="table table-bordered table-hover">
                        @{
                            int i = 0;
                        }
                        @{
                            <thead>
                                @if (i == 0)
                                {
                                    <tr class="bg-primary text-white">
                                        <th class="text-center">Size</th>

                                        @foreach (var sizeName in Model.RatioLists.First().RatioSizeLists)
                                        {
                                            <th class="text-center">@sizeName.SizeName</th>
                                        }

                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var data in Model.RatioLists)
                                {
                                    <tr align="center">
                                        <td>@data.RatioName</td>

                                        @foreach (var sizeName in data.RatioSizeLists)
                                        {
                                            <td>@sizeName.SizeValue</td>
                                        }
                                    </tr>

                                    i = i + 1;
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }*@
    <!--END SIZE GUIDE CHART-->


    <p>
        <span style="background: red; padding: 2px; color: #fff; border-radius: 3px !important;">Note:</span>
        <span style="font-size: 12px; color: #512927; text-align: justify;">
            Depending on your computer or mobile screen resolution, product color may vary slightly.
        </span>
    </p>

    <hr />

    <div class="product-page-cart">
        <button class="btn btn-primary" type="submit" id="addToCart">Add to cart</button>
        <a href="@Url.Action("SingleProduct", "Product", new {productId = Model.ProductId})" class="btn btn-default fastview-btn">More details</a>
    </div>
</div>


<script>

    var productSizeId = 0;
    var productSizeName = "";

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "1000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    function loadSizeList() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSizeList", "Product", new {productId = Model.ProductId})',
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#sizeList').html("");
                    productSizeId = data[0].SizeId;
                    productSizeName = data[0].SizeName;
                    var i = 0;
                    $.each(data, function (i, data) {
                        if (i == 0) {
                            $("#sizeList").append('<button class="btn-size active" value="' + data.SizeId + '">' + data.SizeName + '</button>');
                        } else {
                            $("#sizeList").append('<button class="btn-size" value="' + data.SizeId + '">' + data.SizeName + '</button>');
                        }
                        i++;
                    });
                } else {
                    $('#sizeList').html("");
                    productSizeId = 0;
                    productSizeName = "";
                }

            },
            async: false,
            error: function(ex) {
                toastr.info("Failed to retrieve Size List.", 'Information!');
            }
        });
    }

    function loadColorList() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetColorList", "Product", new {productId = Model.ProductId})',
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#colorList').html("");
                    $("#colorName").html("Color: " + data[0].ProductColorName);
                    var i = 0;
                    $.each(data, function (i, data) {
                        if (i == 0) {
                            $("#colorList").append('<div>' +
                                '<input data-image="' + data.ProductColorName + '" type="radio" id="' + data.ProductColorName + '" name="color" value="' + data.ProductColorId + '" checked />' +
                                '<label for="' + data.ProductColorName + '">' +
                                '<span style="background-color: ' + data.ProductColorCode + '"></span>' +
                                '</label>' +
                                '</div>');
                        } else {
                            $("#colorList").append('<div>' +
                                '<input data-image="' + data.ProductColorName + '" type="radio" id="' + data.ProductColorName + '" name="color" value="' + data.ProductColorId + '" />' +
                                '<label for="' + data.ProductColorName + '">' +
                                '<span style="background-color: ' + data.ProductColorCode +'"></span>' +
                                '</label>' +
                                '</div>');
                        }
                        i++;
                    });
                } else {
                    $('#colorList').html("");
                    $("#colorName").html("Color: ");
                }

            },
            async: false,
            error: function(ex) {
                toastr.info("Failed to retrieve Color List.", 'Information!');
            }
        });
    }

    function getImageList(colorId) {
        var productId = @Model.ProductId;
        $.ajax({
            type: 'POST',
            url: '/Product/GetImageList/',
            data: { productId: productId, colorId: colorId},
            dataType: 'json',
            success: function (data) {
                if (data.Image1 != null) {
                    var src = "/Files/ImageProductColor/" + data.Image1 +"";
                    $('#mainImage').attr('src', src);
                    $('#mainImage').attr('data-BigImgsrc', src);

                    $('.simpleLens-lens-image').attr('data-lens-image', src);
                    $('.simpleLens-big-image').attr('src', src);

                    Layout.initImageZoom();

                    $('#productImage').html("");
                    $("#productImage").append('<a href="javascript:;" class="imageForShowF"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image1 +'"></a>');
                    $("#productImage").append('<a href="javascript:;" class="imageForShowF"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image2 +'"></a>');
                    $("#productImage").append('<a href="javascript:;" class="imageForShowF"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image3 +'"></a>');
                    $("#productImage").append('<a href="javascript:;" class="imageForShowF"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image4 + '"></a>');
                }

            },
            async: false,
            error: function(ex) {
                toastr.info("Failed to retrieve Image List.", 'Information!');
            }
        });
    }

    var availableQuantity = 0;
    function getInventory() {
        var productId = @Model.ProductId;
        var sizeId = productSizeId;
        var colorId = $('input[name=color]:checked').val();
        $.ajax({
            type: 'POST',
            url: '/Product/GetInventoryValue/',
            data: { productId: productId, colorId: colorId, sizeId: sizeId},
            dataType: 'json',
            success: function (data) {
                $("#available").html("");
                if (data > 0) {
                    $("#available").append("Availability: <strong style='color: green'> In Stock </strong>");
                    availableQuantity = data;
                } else {
                    $("#available").append("Availability: <strong style='color: red'> Out Of Stock </strong>");
                    availableQuantity = 0;
                }
            },async: false,
            error: function (ex) {
                $("#available").html("");
                $("#available").append("Availability: <strong > inventory not available </strong>");
            }
        });
    }

    function changeMainImage() {
        $(".imageForShowF").on('click touchstart', function () {
            var src = ($(this).find('img').attr('src'));
            $('#demo-1').find('img').attr('src', src);
            $('#demo-1').find('a').attr('data-lens-image', src);
            $('.zoomImg').attr('src', src);
            $('#demo-1').find('img').attr('data-BigImgsrc', src);

            $('#productImageMain').find('img').attr('src', src);
            $('#productImageMain').find('a').attr('data-lens-image', src);
            $('#productImageMain').find('img').attr('data-BigImgsrc', src);

            Layout.initImageZoom();
        });
    }


    function cartQuantity(inventoryValue) {
        if (inventoryValue < 1) {
            $('.minus-btn').prop('disabled', true);
            $('.plus-btn').prop('disabled', true);
            $("#qtyVal").val(0);
            $('#addToCart').prop('disabled', true);
        } else {
            $('.minus-btn').prop('disabled', false);
            $('.plus-btn').prop('disabled', false);
            $("#qtyVal").val(1);
            $('#addToCart').prop('disabled', false);
        }
    }

    function getProductPrice() {
        var productId = @Model.ProductId;
        var sizeId = productSizeId;
        var colorId = $('input[name=color]:checked').val();
        var discount = @Model.Discount;
        $.ajax({
            type: 'POST',
            url: '/Product/GetProductPrice/',
            data: { productId: productId, colorId: colorId, sizeId: sizeId},
            dataType: 'json',
            success: function (data) {
                $("#price").html("");
                if (data > 0) {
                    var value = Math.round(data - ((data * discount) / 100));
                    console.log(value, data, discount);
                    $("#price").append("<span>&#2547</span>" + value + "");
                    $("#oldPrice").html(data);
                } else {
                    $("#price").append("<span>&#2547</span>"+ @Model.SellAmount +"");
                }
            },async: false,
            error: function (ex) {
                $("#price").html("");
                $("#price").append("<span>&#2547</span>Something went Wrong");
            }
        });
    }

    $(document).ready(function () {
        loadSizeList();
        loadColorList();
        Layout.initImageZoom();
        Layout.initTouchspin();
        getProductPrice();

        var colorId = $('input[name=color]:checked').val();
        getImageList(colorId);

        getInventory();
        cartQuantity(availableQuantity);

        $('.btn-size').click(function (e) {
            e.preventDefault();
            productSizeId = $(this).val();
            productSizeName = $(this).text();

            $('.btn-size').removeClass('active');
            $(this).addClass('active');

            getInventory();
            getProductPrice();
            cartQuantity(availableQuantity);

        });

        $('input[type=radio][name=color]').change(function() {
            var colorId = $(this).val();
            var colorName = $(this).data("image");
            $("#colorName").html("Color: " + colorName);
            getInventory();
            getImageList(colorId);
            changeMainImage();
            getProductPrice();
            cartQuantity(availableQuantity);
        });

        changeMainImage();

        $('.minus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            if (value > 1) {
                value = value - 1;
            } else {
                value = 1;
            }
            $input.val(value);

        });

        $('.plus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            if (value < availableQuantity) {
                value = value + 1;
            } else {
                value = availableQuantity;
            }
            $input.val(value);
        });

        $('.like-btn').on('click', function () {
            $(this).toggleClass('is-active');
        });

        function getPrice(str)
        {
            return str.replace(/[^0-9]/gi, '');
        }
        $("#addToCart").click(function () {
            var cartObjectArray = JSON.parse(localStorage.getItem('cartObjectArray'));

            var productId = @Model.ProductId;
            var productName = "@Model.ProductName";
            var sku = "@Model.Sku";
            var productImage = $('#mainImage').attr('src');
            var productDescription = "@Model.ShortDescription";
            var colorId = $('input[name=color]:checked').val();
            var colorName = $('input[name=color]:checked').attr("id");
            var sizeId = productSizeId;
            var sizeName = productSizeName;
            var quantity = $("#qtyVal").val();
            var newPrice = @Model.NewAmount;
            var price = getPrice($("#price").text());
            //if (price != newPrice) {
            //    price = newPrice;
            //}

            if (colorId && sizeId && quantity) {
                var totalPrice = price * parseInt(quantity);
                if (quantity > availableQuantity) {
                    alert("quantity can not grater the available quantity");
                } else {
                    var cartObject = {
                        'productId': productId,
                        'productName': productName,
                        'sku': sku,
                        'productImage': productImage,
                        'productDescription': productDescription,
                        'colorId': colorId,
                        'colorName': colorName,
                        'sizeId': sizeId,
                        'sizeName': sizeName,
                        'quantity': quantity,
                        'availableQuantity': availableQuantity,
                        'price': price,
                        'totalPrice': totalPrice
                    }
                    if (cartObjectArray == null) {
                        cartObjectArray = [];
                    } else {
                        for (var i = 0; i < cartObjectArray.length; i++) {
                            if (cartObjectArray[i].productId == productId && cartObjectArray[i].colorId == colorId && cartObjectArray[i].sizeId == sizeId) {
                                cartObjectArray.splice(i, 1);
                            }
                        }
                    }
                    cartObjectArray.push(cartObject);
                    // Put the object into storage
                    localStorage.setItem('cartObjectArray', JSON.stringify(cartObjectArray));

                    //alert("Item added to cart");
                    toastr.info("Item added to cart", 'Information!');
                    loadTopCart();
                }
            } else {
                toastr.info("Lack of information", 'Information!');
                loadTopCart();
            }


        });
    });
</script>

<script>
    $(document).ready(function () {

        $('#demo-1 .simpleLens-thumbnails-container img').simpleGallery({

            loading_image: '/plugins/pages/img/loading.gif'
        });

        $('#demo-1 .simpleLens-big-image').simpleLens({

            loading_image: '/plugins/pages/img/loading.gif'
        });

    });
</script>

<!-- Start Size Guide-->
@*<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });
    });
</script>*@
<!-- End Size Guide-->
