﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title - SaRa Lifestyle Ltd | A sister concern of SNOWTEX group</title>

    <meta name="google-site-verification" content="7ZAbhIQAcHjcPeOJe36DFKJZsYvxyDffJCApV8IuwcI" />

    <meta name="robots" content="index,follow" />

    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0" />

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta http-equiv="cache-control" content="no-cache" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="keywords" content="online shopping bd,mid length kurti,long length kurti,sara lifestyle ltd,single ethnic,
          eid special collection,party wear,regular fit,fashion tops,casual shirt,polo shirt,long sleeve,eid collection,
          sleeve shirt,half sleeve,chino,kids boys, kids frocks,panjabi,tops" />

    <meta name="description" content="Online shopping in Bangladesh for men, women & kids.Discover the latest fashion and trends in mens wear and womens wear at SaRa Lifestyle Ltd.
           Free home delivery & Returns on ALL orders.You can buy T-shirt, Polo shirt, Pants, Salwar kameez, Sarees." />

    <meta content="sara lifestyle ltd" name="SaRa Lifestyle Ltd" />
    <meta property="og:title" content="Online Shopping in Bangladesh." />
    <meta property="og:description" content="Online shopping in Bangladesh for men, women & kids." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://saralifestyle.com.bd/" />

    <link rel="shortcut icon" href="~/favicon.png" />

    <!-- Fonts START -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->
    <!-- Fonts END -->

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/typeahead.css" rel="stylesheet" />

    <link href="/Content/jquery-ui.css" rel="stylesheet" />

    <script src="/Scripts/jquery-ui.js"></script>

    <link href="/Plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css" />

    <link href="/plugins/coming_soon/css/coming-soon.css" rel="stylesheet" type="text/css" />

    <link href="/plugins/layout/css/themes/blue.css" rel="stylesheet" id="style-color" />

    <link href="/plugins/layout/css/custom.css" rel="stylesheet" />
    <!--Image Zoom-->
    <link href="/plugins/pages/css/jquery.simpleLens.css" rel="stylesheet" />
    <!--End Image Zoom-->
    <!--Photo Gallery-->
    <link href="/plugins/pages/css/lightgallery.css" rel="stylesheet" />
    <!--End Photo Gallery-->

    <!--Main Slider-->

    <!--End Main Slider-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139637953-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-139637953-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    @*<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PWKN3XP');</script>*@
    <!-- End Google Tag Manager -->

</head>
<body class="ecommerce" style="position: static;overflow-y: auto !important;">

 
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
        <div class="color-mode-icons icon-color"></div>
        <div class="color-mode-icons icon-color-close"></div>
        <div class="color-mode">
            <p>CHOOSE COLOR</p>
            <ul class="inline">
                <li class="color-red" data-style="red"></li>
                <li class="color-blue current color-default" data-style="blue"></li>
                <li class="color-green" data-style="green"></li>
                <li class="color-orange" data-style="orange"></li>
            </ul>
        </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER -->
   
    
   
<!-- BEGIN HEADER -->
<div class="header">
    <!-- BEGIN TOP BAR PRE HEADER -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li class="service_phone"><span style="color: #64aed9;"><i class="fa fa-phone"></i> +88 01885 998899</span> | Available from 9AM - 10:30PM </li>
                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    @Html.Partial("_LoginPartial")
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    <!-- END TOP BAR PRE HEADER-->

    <div class="container">
        <a class="site-logo" href="@Url.Action("Index", "Home")">
            <img src="~/plugins/layout/img/logos/logo-shop-blue.png" alt="SaRa LifeStyle Logo" style="margin-left: -25px !important"/>
        </a>
        <a href="javascript:void(0);" class="mobi-toggler">
            <span style="margin-left:-60px;font-size:18px;color: #5695cf;font-weight: 600;" class="text-default">MENU</span>
            <i class="fa fa-bars"></i>
        </a>
        
        <div>
            <form role="search" style="margin-bottom: 15px;" class="hidden-md hidden-lg">
                <div class="input-group">
                    <input type="text" name="search" class="form-control searchbar typeahead" id="searchMobile" style="border-radius: 16px 0 0 16px !important;position: relative;vertical-align: top !important;background-color: transparent; width: auto;"/>
                    <div class="input-group-btn" style="width: 0%;">
                        <button type="submit" class="btn btn-primary" id="searchProductMobile">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        <!-- BEGIN CART -->
        <div class="top-cart-block" id="TopCartSection">
            @Html.Partial("HomePagePartial/_TopCartPartial")
        </div>
        <!--END CART -->
        </div>
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>

                @{
                    Html.RenderAction("Menu", "Home");
                }

                <li><a href="@Url.Action("News", "Home")" target="_blank">News &amp; Events</a></li>
                @*<li><a href="@Url.Action("Blog", "Home")" target="_blank">Blog</a></li>
                <li><a href="@Url.Action("Contact", "Home")" target="_blank">Contacts</a></li>*@

                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <form role="search" style="width: 18em;" class="visible-md visible-lg">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control searchbar typeahead" id="searchDesktop" style="border-bottom: solid 1px #64AED9; border-radius: 3px 0 0 3px;"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" id="searchProductDesktop">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>

                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
    <!-- Header END -->

    <div class="container">
        @RenderBody()
    </div>



    <div class="steps-block steps-block-red">
        <div class="container">
            <div class="row">
                <div class="col-md-3 steps-block-col">
                    <i class="fa fa-truck"></i>
                    <div>
                        <h2>Free shipping</h2>
                        <em>Express delivery within Dhaka</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-3 steps-block-col">
                    <i class="fa fa-truck"></i>


                    <div>
                        <h2>Delivery System</h2>
                        <em>Super Fast</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-3 steps-block-col">
                    <i class="fa fa-gift"></i>
                    <div>
                        <h2>Purchase Return</h2>
                        <em>Within 15 Days</em>
                    </div>
                    <span>&nbsp;</span>
                </div>
                <div class="col-md-3 steps-block-col">
                    <i class="fa fa-phone"></i>
                    <div>
                        <h2>+88 01885 998899</h2>
                        <em>Available from 9AM - 10:30PM</em>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN fast view of a product -->
    <div id="product-pop-up" style="display: none; width: 700px;">
        <div class="product-page product-pop-up">
            <div class="row" id="modalBody">

            </div>
        </div>
    </div>
    <!-- END fast view of a product -->
    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
        <div class="container">
            <hr>
            <div class="row">
                <!-- BEGIN BOTTOM ABOUT BLOCK -->
                <div class="col-md-2 col-sm-6 pre-footer-col">
                    <h1 style="font-size: 20px;">Help</h1>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Faq", "WebContent")">FAQ</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("PrivacyPolicy", "WebContent")">Privacy Policy</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("TermsAndConditions", "WebContent")">Terms &amp; Conditions</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("CookiePolicy", "WebContent")">Cookie Policy</a></li>
                        @*<li><i class="fa fa-angle-right"></i> <a href="@Url.Action("ReturnPolicy", "WebContent")">Return Policy</a></li>*@
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Cancellation", "WebContent")">Cancellation</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("ReturnForm", "WebContent")">Replacement Form</a></li>
                    </ul>
                </div>
                <!-- END BOTTOM ABOUT BLOCK -->
                <!-- BEGIN BOTTOM INFO BLOCK -->
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h1 style="font-size: 20px;">Customer Service</h1>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("HowToOrder", "WebContent")">How to order</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("BillingAndPayments", "WebContent")">Billing &amp; Payments</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("ShippingAndDelivery", "WebContent")">Nationwide Fast Shipping & Delivery</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("TrackYourOrders", "WebContent")">Track Your Orders</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("ReturnPolicy", "WebContent")">Replacement Policy</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Sitemap","WebContent")">Site Map</a></li>
                    </ul>
                </div>
                <!-- END INFO BLOCK -->
                <!-- BEGIN WHO WE ARE BLOCK -->
                <div class="col-md-2 col-sm-6 pre-footer-col">
                    <h1 style="font-size: 20px;">Who We Are</h1>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("AboutSaRa", "WebContent")">About SaRa</a></li>
                        @*<li><i class="fa fa-angle-right"></i> <a href="@Url.Action("OurPeople", "WebContent")">Our People</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("OurValues", "WebContent")">Our Values</a></li>*@
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("News", "Home")">News &amp; Events</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("PhotoGallery", "WebContent")">Photo Gallery</a></li>
                        @*<li><i class="fa fa-angle-right"></i> <a href="@Url.Action("VideoGallery", "WebContent")">Video Gallery</a></li>*@
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Career", "WebContent")">Career</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="@Url.Action("Contact", "Home")">Contacts</a></li>
                    </ul>

                </div>
                <!-- END WHO WE ARE BLOCK -->
                <!-- BEGIN BOTTOM SOCIAL -->
                <div class="col-md-2 col-sm-6 pre-footer-col">
                    <h1 style="font-size: 20px;">SOCIAL</h1>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="https://www.facebook.com/saralifestyle.bd/">Facebook</a></li>
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="https://www.linkedin.com/company/saralifestyle/">Linkedin</a></li>
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="https://www.instagram.com/saralifestyle.bd/?hl=en">Instagram</a></li>
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="https://www.youtube.com/channel/UCGy5oteVoLcCdbC5fBGBmIw">Youtube</a></li>

                    </ul>
                </div>
                <!-- END BOTTOM SOCIAL -->
                <!-- BEGIN BOTTOM CONTACTS -->
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h1 style="font-size: 20px;">We Accept</h1>
                    
                    <ul class="list-unstyled list-inline" id="payment_icon" style="margin-left: 0;">

                        <img src="~/plugins/layout/img/payments/payments_icon3.png" class="img-responsive" alt="payment methods" style="height: 100px;">

                    </ul>

                </div>
                <!-- END BOTTOM CONTACTS -->


            </div>
            <hr>
            <div class="row">
                <!-- BEGIN SOCIAL ICONS -->
                <div class="col-md-4 col-sm-4">
                    <ul class="social-icons">
                        <li><a target="_blank" class="facebook" data-original-title="facebook" href="https://www.facebook.com/saralifestyle.bd/"></a></li>
                        <li><a target="_blank" class="instagram" data-original-title="instagram" href="https://www.instagram.com/saralifestyle.bd/"></a></li>
                        <li><a target="_blank" class="linkedin" data-original-title="linkedin" href="https://www.linkedin.com/company/saralifestyle/"></a></li>
                        <li><a target="_blank" class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                        <li><a target="_blank" class="youtube" data-original-title="youtube" href="https://www.youtube.com/channel/UCGy5oteVoLcCdbC5fBGBmIw"></a></li>
                        <li><a target="_blank" class="skype" data-original-title="skype" href="javascript:;"></a></li>

                    </ul>
                </div>
                <!-- END SOCIAL ICONS -->
                <!-- BEGIN NEWLETTER -->
                <div class="col-md-8 col-sm-8">
                    <div class="pre-footer-subscribe-box pull-right">
                        <h2>Stay up to date with news and promotions by signing up</h2>
                        <form>
                            <div class="input-group">
                                <input type="text" placeholder="youremail@mail.com" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" disabled>Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END NEWLETTER -->
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10 copyright-text">
                    <a> &copy; @DateTime.Now.Year <strong>SaRa</strong> LifeStyle Ltd. All Rights Reserved. (A Sister Concern of Snowtex Group)</a>
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN PAYMENTS -->
                <div class="col-md-6 col-sm-6 hidden">
                </div>
                <!-- END PAYMENTS -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

    @Scripts.Render("~/bundles/scriptGlobal")
    @Scripts.Render("~/bundles/scriptPage")

    <script src="/plugins/rateit/src/jquery.rateit.js" type="text/javascript"></script>
    <script src="~/Scripts/typeahead.js"></script>
    <!--Start Image Magnifier Plugin Scripts-->
    <script src="/plugins/pages/scripts/jquery.simpleGallery.js" type="text/javascript"></script>
    <script src="/plugins/pages/scripts/jquery.simpleLens.js" type="text/javascript"></script>
    <!--End Image Magnifier Plugin Scripts-->
    <!--Photo Gallery Plugin-->
    <script src="/plugins/pages/scripts/photo-gallery/mousewheel.min.js" type="text/javascript"></script>
    <script src="/plugins/pages/scripts/photo-gallery/lightgallery.min.js" type="text/javascript"></script>
    <script src="/plugins/pages/scripts/photo-gallery/lg-thumbnail.min.js" type="text/javascript"></script>
    <script src="/plugins/pages/scripts/photo-gallery/lg-fullscreen.min.js" type="text/javascript"></script>
<!--End Photo Gallery Plugin-->

    <!--Start Main Slider-->
    @*<script src="/plugins/pages/scripts/main-slider/jquery.ui.carousel.js" type="text/javascript"></script>*@
    <!--End Main Slider-->

    <!--Start Facebook Messenger Live Chat Integration-->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="583306005379218">
    </div>
    <!--End Facebook Messenger Live Chat Integration-->

    <script type="text/javascript">

    function ClearHistory() {
        var backlen = history.length;
        history.go(-backlen);
        window.location.href = '@Url.Action("Index", "Home")';
    }

    loadTopCart();
    var setColor = function(color) {
        $('#style-color').attr("href", "/Plugins/layout/css/themes/" + color + ".css");
        $('.corporate .site-logo img').attr("src", "/Plugins/layout/img/logos/logo-corp-" + color + ".png");
        $('.ecommerce .site-logo img').attr("src", "/Plugins/layout/img/logos/logo-shop-" + color + ".png");
    }
    $(document).ready(function() {
        //ClearHistory();
        var panel = $('.color-panel');
        var themeStyle = JSON.parse(localStorage.getItem('themeStyle'));
        if (themeStyle != null) {
            setColor(themeStyle);
            $('.inline li', panel).removeClass("current");
            $(this).addClass("current");
        }

        Layout.init();
        Layout.initOWL();
        LayersliderInit.initLayerSlider();
        Layout.initImageZoom();
        Layout.initTouchspin();
        Layout.initTwitter();
        //Layout.initFixHeaderWithPreHeader();
        //Layout.initNavScrolling();



        var pathname = window.location.pathname;
        //alert(pathname);
        if (pathname === '/CheckOut' || pathname === '/Account/Register' || pathname === '/Account/Login' || pathname === '/WebContent/Career' || pathname === '/Account/ForgotPassword' || pathname === '/Account/ResetPassword') {
            
        } else {
            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        }



        $('.top-cart-content-wrapper').on('click', '.del-goods', function () {
            var productId = $(this).data("id");
            var colorId = $(this).data("color");
            var sizeId = $(this).data("size");

            console.log(productId, colorId, sizeId);

            var cartObjectArray = JSON.parse(localStorage.getItem('cartObjectArray'));

            for (var j = 0; j < cartObjectArray.length; j++) {
                if (cartObjectArray[j].productId == productId &&
                    cartObjectArray[j].colorId == colorId &&
                    cartObjectArray[j].sizeId == sizeId) {
                    console.log(productId, colorId, sizeId);
                    localStorage.removeItem("cartObjectArray");
                    cartObjectArray.splice(j, 1);
                    localStorage.setItem('cartObjectArray', JSON.stringify(cartObjectArray));
                    loadCartMainBody();
                    Layout.initTouchspin();
                    loadTopCart();
                }
            }

            if (cartObjectArray.length <= 0) {
                localStorage.removeItem("cartObjectArray");
            }
        });








        $('.typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                limit: 10,
                async: true,
                source: function (query, processSync, processAsync) {
                    return $.ajax({
                        url: "/Product/GetSearchHintsList",
                        type: 'GET',
                        data: { query: query },
                        dataType: 'json',
                        success: function (json) {
                            // in this example, json is simply an array of strings
                            return processAsync(json);
                        }
                    });
                }
            });


        $("#searchProductMobile").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("SearchResult", "Product", new { search = "SEARCH_KEY"})';
            
            url = url.replace("SEARCH_KEY", $("#searchMobile").val());
            window.location.href = url;
        });
        $("#searchProductDesktop").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("SearchResult", "Product", new { search = "SEARCH_KEY"})';
            
            url = url.replace("SEARCH_KEY", $("#searchDesktop").val());
            window.location.href = url;
        });




        $(".button-first-view").click(function () {
            var productId = $(this).data("id");
            $.ajax
            ({
                url: "/Product/FastViewProduct",
                data: { "productId": productId },
                contentType: "application/html; charset=utf-8",
                type: "GET",
                cache: !0,
                datatype: "html",
                success: function(t) {
                    $("#modalBody").html(t);
                },
                error: function() {
                    $("#modalBody").html("some things wrong !");
                }
            });
        });
    });
    </script>



    @RenderSection("scripts", required: false)




    <!--Start Modal Script Before Home Page Loading-->

    <script>

        window.jQuery(document).ready(function () {
            var box = $('#overlay');
            $.fancybox.open(box);
        });


        //$(document).ready(function() {
        //    $.fancybox("#overlay");
        //});

        //$('#overlay').modal('show');

        //setTimeout(function () {
        //    $('#overlay').modal('hide');
        //}, 5000);


    
        $('#myCarousel').carousel({
            interval: 3000,
            cycle: true
        });





        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });

        });
    </script>

    <!--End Modal Script Before Home Page Loading -->
    <!--Script For Search Bar Auto Text Type-->
    <script>
        // Add something to given element placeholder
        function addToPlaceholder(toAdd, el) {
            el.attr('placeholder', el.attr('placeholder') + toAdd);
            // Delay between symbols "typing"
            return new Promise(resolve => setTimeout(resolve, 100));
        }

        // Cleare placeholder attribute in given element
        function clearPlaceholder(el) {
            el.attr("placeholder", "");
        }

        // Print one phrase
        function printPhrase(phrase, el) {
            return new Promise(resolve => {
                // Clear placeholder before typing next phrase
                clearPlaceholder(el);
                var letters = phrase.split('');
                // For each letter in phrase
                letters.reduce(
                    (promise, letter, index) => promise.then(_ => {
                        // Resolve promise when all letters are typed
                        if (index === letters.length - 1) {
                            // Delay before start next phrase "typing"
                            setTimeout(resolve, 1000);
                        }
                        return addToPlaceholder(letter, el);
                    }),
                    Promise.resolve()
                );
            });
        }

        // Print given phrases to element
        function printPhrases(phrases, el) {
            // For each phrase
            // wait for phrase to be typed
            // before start typing next
            phrases.reduce(
                (promise, phrase) => promise.then(_ => printPhrase(phrase, el)),
                Promise.resolve()
            );
        }

        // Start typing
        function runMobile() {
            var phrases = [
                "Search By (Ex. \"Chino\")",
                "Search By (Ex. \"Ethnic 3ps\")",
                "Search By (Ex. \"Fashion Tops\")",
                "Search By (Ex. \"Saree\")",
                "Search By (Ex. \"Kids Frock\")",
                "Search By (Ex. \"T-Shirts\")",
                "Search By (Ex. \"Casual Shirt\")"

            ];

            printPhrases(phrases, $('#searchMobile'));
        }

        runMobile();

        function runDesktop() {
            var phrases = [
                "Search By (Ex. \"Chino\")",
                "Search By (Ex. \"Ethnic 3ps\")",
                "Search By (Ex. \"Fashion Tops\")",
                "Search By (Ex. \"Saree\")",
                "Search By (Ex. \"Kids Frock\")",
                "Search By (Ex. \"T-Shirts\")",
                "Search By (Ex. \"Casual Shirt\")"

            ];

            printPhrases(phrases, $('#searchDesktop'));
        }

        runDesktop();
    </script>
<!--End Script For Search Bar Auto Text Type-->


<!--Start Script For Pre Header-->
<script>

</script>
<!--End Script For Pre Header-->
  



</body>
</html>
