﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
        <ul class="list-unstyled list-inline pull-right">
            <li><a href="@Url.Action("Faq", "WebContent")"><i class="fa fa-question-circle"></i>Help / Support |</a></li>
            <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-search"></i>Find A Store |</a></li>
            <li><a href="@Url.Action("Dashboard", "CustomerProfile")"><i class="fa fa-user-plus"></i>My Account |</a></li>
            <li class="username_email">
                @Html.ActionLink("Hello " + ((ClaimsIdentity)User.Identity).FindFirst("FirstName").Value + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"}) |
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log Out</a></li>
        </ul>
        
    }
}
else
{<ul class="list-unstyled list-inline pull-right">
     <li><a href="@Url.Action("Faq", "WebContent")" style=""><i class="fa fa-question-circle"></i>Help / Support |</a></li>
     <li><a href="@Url.Action("Contact", "Home")" style="color: #64aed9;"><i class="fa fa-search"></i>Find A Store |</a></li>
     <li><i class="fa fa-user-plus"></i><a style="text-decoration: none;">@Html.ActionLink("Register", "Register", "Account", routeValues: new { returnUrl = @Request.Url.AbsolutePath }, htmlAttributes: new { id = "registerLink" }) |</a></li>
     <li><i class="fa fa-sign-in"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: new {returnUrl = @Request.Url.AbsolutePath}, htmlAttributes: new {id = "loginLink"})</li>
 </ul>
        
}
