﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="col-md-12" style="min-height: 300px;">
<h1 class="text-danger text-center">Error!</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger text-center">An error occurred while processing your request !!</h2>
    }
    else
    {
        <h2 class="text-danger text-center">@ViewBag.errorMessage</h2>
    }
}

</div>
