﻿
@{
    ViewBag.Title = "AboutSaRa";
}


<!--Modal For Page-->

<div class="modal fade" id="data1" tabindex="-1" role="dialog"
     aria-labelledby="data1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="box-shadow: none;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                <p class="modal-title" id="data1" style="font-size: 17px;font-weight:500;letter-spacing: 1px;text-align: center">
                    <a href="#" data-toggle="modal" data-target="#data3">About SaRa Lifestyle</a>
                </p>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row margin-bottom-20 news-event-content">
                    <div class="col-md-12 col-xs-12">
                        <img src="~/plugins/pages/img/news/2.jpg" class="img-responsive" alt="" style="width:100%;height:auto;border:1px solid #ddd;padding:5px;" />
                    </div>

                </div>
                <div class="row margin-bottom-20 news-event-content">
                    <div class="col-md-12 col-xs-12">
                        <p style="font-size: 20px;font-weight:500;letter-spacing: 1px;"><a href="#" data-toggle="modal" data-target="#data5">About SaRa Lifestyle</a></p>
                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: rgba(124, 124, 124, 1);">
                            Snowtex launched its own fashion brand “SaRa” in Dhaka on May 12. It is another exemplary initiative by Bangladesh’s local RMG entrepreneurs to establish clothing brand in the world of fashion. The first flagship shop opened in Section 6, Mirpur-Dhaka.Fashion show, catwalk, video presentation and other events were arranged at the grand opening. Famous media personalities Ali Zaker and Sara Zaker were present as special guest while some other actors, models, singers and media people also attended.
                            The main objectives of SaRa is to provide quality clothing at affordable price for its customers. To celebrate upcoming Eid-ul-Fitr, it will present a collection of different clothing, which is designed by following local and western culture to attract the customers and make its brand loyalty. Snowtex has capitalized the experience of 20 years of garments making and selling for international reputed fashion brands.
                            “All kinds of men’s, women’s and kid’s products will be available at the flagship shop where customer will get local, traditional and western tastes of fashion,” said Mr. SM Khaled, Managing Director of Snowtex Outerwear and SaRa Lifestyle Ltd. in a press conference at ‘The Daily Star Centre’ in Dhaka on 9 May.The clothing including punjabi, Shirt, t-shirt, polo shirt, chino pant, and jeans are for men and boys. Western tops, shirt, ethnic tops, exclusive party tops, t-shirts, polo shirts, leggings, jeans, and chinos are for women and girls.“We have now started our first store in Mirpur. Gradually we will expand its store in Dhaka and other districts of the country,” said Khaled in the opening ceremony in a short speech.
                            “We have a plan to open SaRa stores internationally in near future,” he added.Figure 3: SM Khaled, Managing Director of Snowtex Outerwear and SaRa Lifestyle ltd. Snowtex started its journey in 2000 by a buying house and now it has three different apparel manufacturing units where more than 10,000 of people are working. Snowtex Outerwear Ltd. is a green garments factory, which has achieved LEED gold certificate from US Green Building Council and Health and Safety Award from the Ministry of Labour and Employment in 2018.
                            Sharifun Reba and Md. Mosarrof Hossain, Director of Snowtex Outerwear and SaRa Lifestyle, Assistant Director Mohammed Motiur Rahman and Head of Designer Kashfia Nehreen Hossain were also presented in the opening ceremony.
                        </p>
                    </div>

                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-dismiss="modal">
                    <i class="fa fa-times-circle"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>


<!--End Modal For Page -->


<div class="row margin-bottom-20 news-events" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7">
        <p class="news-feed" style="font-size:27px;">About SaRa</p>
        <div class="row margin-bottom-20 news-event-content">
            <div class="col-md-2 col-xs-12">
                <img src="~/plugins/pages/img/news/2.jpg" class="img-responsive" style="width:120px;height:120px;border:1px solid #ddd;padding:5px;" alt="about sara lifestyle ltd" />
            </div>

            <div class="col-md-10 col-xs-12 news-content">
                @*<h4><a href="#" style="font-size: 20px;color: #2F3337;">SaRa starts its journey in Dhaka</a></h4>*@
                <h4 style="font-size: 20px;color: #2F3337;"><a href="#" data-toggle="modal" data-target="#data1">SaRa starts its journey in Dhaka</a></h4>
                <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                    SaRa, a new fashion brand, started its journey on Saturday (12 May 2018) with a grand opening as “SaRa Lifestyle Ltd”. 
                    The brand opened its first branch in Mirpur, Dhaka. SaRa Lifestyle Ltd. is a sister concern of Snowtex, an export oriented readymade garment industry in Bangladesh. 
                    The opening ceremony was arranged with a fashion show, cat walk, video presentation and other gorgeous events. 
                    Media personality, Sara Zaker was present as the special guest while S M Khaled, Managing Director of Snowtex and Sara Lifestyle Ltd., Sarifun Reba and Mosarraf Hossain, Directors of Snowtex and Sara Lifestyle Ltd., Assistant Director, Motiur Rahman, Head of Designer, Kashfia Nahrin and other officials of the organizations were also present in the event. 
                    Snowtex, has launched its own brand 'SaRa' through Sara Lifestyle Ltd. The main objective of this brand is to create a positive image in fashion which will open a new door for the garment sector in Bangladesh, said a press release. Sara lifestyle aims to deliver quality garments in affordable price to its customers.
                </p>
            </div>
        </div>







        <!-- END CONTENT -->
    </div>
</div>









