﻿
@{
    ViewBag.Title = "BillingAndPayments";
}



<div class="row margin-bottom-20 news-events" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7">
        <h2 class="news-feed">BILLING & PAYMENT</h2>

 
            <div class="panel panel-default" style="">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                            BILLING & PAYMENT POLICY
                        </a>
                    </h4>
                </div>
                <div id="accordion1_1" class="panel-collapse collapse  in">
                    <div class="panel-body">
                        <strong>Payment</strong>

                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            Payment methods in saralifestyle.com.bd is always easy. Because we care about our customers. You can complete your payment via Cash on Delivery, Card payment, Mobile banking.

                        </p>

                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            <strong>Card Payment- </strong>You can easily pay for your product via your DBBL-Nexus, DBBL-Master Debit, DBBL Visa Debit, Visa, Master Card.



                        </p>

                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            <strong> Mobile Payment-</strong> You can easily pay for your product via bKash, DBBL.



                        </p>

                        @*<p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            <strong> Internet Payment-</strong>  Now you can pay from internet via payza. After receiving the payment, we will ship your products to your shipping address.



                        </p>*@

                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            <strong> Cash on delivery-</strong>   saralifestyle.com.bd also provide cash on delivery system for customer in side Dhaka.



                        </p>



                    </div>
                </div>
            </div>


            <!-- END CONTENT -->
        </div>











        <!-- END CONTENT -->
    </div>









