﻿
@{
    ViewBag.Title = "Cancellation";
}


<div class="row margin-bottom-20 news-events" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-9 margin-top-10" style="margin-bottom: 15px;">
    <h1>CANCELLATION</h1>
    <div class="faq-page">
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Cancellation policy
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <p class="text-justify">15 days return and replacement Policy: *Product Condition: If you receive the item in defective / damaged or incorrect / incomplete in condition, it is eligible for return and replacement if provided the exact item is available with the same seller. *If the same item is not available from the same seller, a refund will be issued. *Custom made items, innerwear cannot be returned. *The product must be unused, unworn, unwashed and without any unclaimed damage.*We will only accept return/ replace the product if it is resalable. *You can return the item if, the original invoice slip and exchange form must be enclosed with all returns or exchanges. *We do not accept returns or exchanges without the original invoice slip. You can bring your return items at any of our outlets. * Return/ Refunds policy for online purchases will be- •	*Refundable amount will be given in cash. You may collect the amount from our shop or from the delivery agent. • We don’t process exchanges after 15 days of the original purchase date. *Pack your exchange securely in the original package and attach the invoice slip.</p>
                </div>
            </div>
        </div>
      






        <!-- END CONTENT -->
    </div>
</div>
</div>










