﻿@model SaRaEcommerce.ViewModel.CareerModel
@{
    ViewBag.Title = "Career";
}

<div class="col-md-12">
    <div class="col-md-1"></div>

    <div class="col-md-8">

        <div class="career_content">
            @using (Html.BeginForm("Career", "WebContent", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>

                    <!-- Form Name -->
                    <legend>
                        <p class="text-center" style="font-weight: 600;font-size: 20px;">To Apply SaRa Lifestyle, Please Upload Your Resume.</p>
                        <p class="text-center text-muted" style="font-size: 15px;">SaRa Lifestyle Ltd is looking for experienced, self motivated, talented persons who are interested in fashion industry.</p>
                    </legend><br />



                    <div class="form-group">
                        <label class="col-md-4 control-label"><b>Interest</b></label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                @Html.DropDownListFor(m => m.CareerType, new SelectList(ViewBag.DepartmentList, "Value", "Text"), new { @class = "form-control input-sm", @style = "height: 30px" })
                                @Html.ValidationMessageFor(m => m.CareerType)
                            </div>
                        </div>
                    </div>
                
              


                    <!-- Text input-->
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label"><b>Resume File (<span style="color:red">PDF File</span>)</b></label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                                @Html.TextBoxFor(m => m.Cv, new { @type = "file", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Cv)

                            </div>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">SUBMIT <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>

                </fieldset>
            }

        </div>


    </div>
    
    <div class="col-md-2">
        <div style="width: 100%;background-color: #fff;box-shadow: 0 1px 6px rgba(57,73,76,0.35);margin-bottom: 20px; min-height: 100px;">
            <p style="font-weight: 600; text-align: center; font-size: 20px;padding: 13px 0px;">To Apply Snowtex</p>
            <center>
                <a href="http://snowtex.com.bd/Home/Career" target="_blank" style="font-size: 15px;">Click Here</a>
            </center>
        </div>
    </div>

    <div class="col-md-1"></div>

    </div>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "2000",
            "hideDuration": "2000",
            "timeOut": "2000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        @{
            if (ViewBag.message != null)
            {
                <text>
                    toastr.info("@ViewBag.message", 'Information!');
                </text>
            }
        }
    });
</script>
@Scripts.Render("~/bundles/jqueryval")

