﻿
@{
    ViewBag.Title = "CookiePolicy";
}


<div class="row margin-bottom-20 news-events">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-9 margin-top-10" style="margin-bottom: 15px;">
    <h1>COOKIE POLICY</h1>
    <p class="text-justify" style="font-weight:600;font-size:14px;">This website uses Cookies. By using this website, you are agreeing to this policy and consenting to saralifestyle.com.bd for the use of Cookies in accordance with the terms of this Cookie policy.</p>
    <div class="faq-page">
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        What are Cookies?
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <p class="text-justify">Cookies are messages that web servers pass to your web browser when you visit Internet sites to store your preferences. The information is sent back to the server each time the browser requests a page from the server. This enables a web server to identify and track web browsers. Cookies are simple text files, used to help navigate automatic logins, password authentication, shopping cart functions, personal preference settings and a variety of other functions. Cookies make these functions smooth and hassle-free to the user. There are two main kinds of Cookies: Session Cookies and Persistent Cookies. Session Cookies are deleted from your computer when you close your browser, whereas Persistent Cookies remain stored on your computer until deleted, or until they reach their expiry date.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                        Are Cookies Safe?
                    </a>
                </h4>
            </div>
            <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Cookies are harmless. They cannot introduce viruses on your computer. Cookies doesn’t search your computer for information. Cookies register the information you provide through your browser. Information stored by Cookies is usually encoded; it is protected from potential computer hackers by security features. A Cookie will simply remember your information on the website to save your time. Cookies only store the information you provide. A Cookie cannot “grab” your email address. A Cookie can store your email address on the website—if you have typed in your email address; a Cookie stores all information you voluntarily give when you visit a website.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                        Google Cookies & How we use it
                    </a>
                </h4>
            </div>
            <div id="accordion1_3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">saralifestyle.com.bd uses Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of Cookies, which are stored on the user’s computer. The generated information relating to our website is used to create reports about the use of the website. Google will store and use this information. We may use the information what we obtain from your use of our Cookies for the following purposes:1To recognize your computer when you visit the website2. To track you as you navigate the website, and to enable the use of any e-commerce facilities. 3 To improve the website's usability 4.To analyse the use of the website5. in the administration of the website 6To personalize the website for you, including targeting advertisements which may be of particular interest to you.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                        Facebook & Other Cookies
                    </a>
                </h4>
            </div>
            <div id="accordion1_4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">This website is expressly owned and operated by SaRa lifestyle ltd. It is to be noted that, all design and content featured on saralifestyle.com.bd, including navigational buttons and images, logos, artwork, icons, graphics, photography, text, and the like, are copyrights, trademarks, trade dress, and/or intellectual property that are owned, controlled, or licensed by SaRa. This website in its entirety is protected by copyright and applicable trade dress and are protected under Bangladeshi and international copyright laws. All worldwide rights, titles, and interests are reserved. The contents of our website and the website as a whole are intended solely for any one’s personal, non-commercial use. Any use of our website and its content for the purpose of personal and non-commercial, is prohibited without the prior written permission of SaRa. Do not reproduce, publish, display, modify, sell, or distribute any of the materials from SaRa. You may, however, download or electronically copy and print any of the page contents displayed on the site, but please remember that, these are not available for your personal, non-commercial use.</p>
                    <p class="text-justify"></p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">
                        Refusing Cookies
                    </a>
                </h4>
            </div>
            <div id="accordion1_5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Most browsers give you the option of enabling Cookies by notification of a “pop-up” message that says, “Allow” or” Don’t Allow”. However, blocking Cookies will have a negative impact upon the usability of some websites, as many of the websites rely on the use of Cookies to ensure a smooth and hassle-free running of their systems. Browsers such as the Internet Explorer, Firefox or Chrome wholly or partially allow their users to refuse Cookies.</p>
                </div>
            </div>
        </div>
            
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">
                        Deleting Cookies
                    </a>
                </h4>
            </div>
            <div id="accordion1_6" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">You can also delete Cookies which is already stored on your computer. Internet Explorer lets you to manually delete cookie files; b. Firefox lets you delete Cookies by, first ensuring that Cookies are to be deleted when you "clear private data" (this setting can be changed by clicking "Tools", "Options" and "Settings" in the "Private Data" box) and then clicking "Clear private data" in the "Tools" menu. c. Google Chrome lets you adjust your cookie permissions by clicking "Options", "Under the hood", Content Settings in the "Privacy" section. Click on the Cookies tab in the Content Settings. d. Safari lets you delete Cookies by clicking "Preferences", selecting the "Privacy" tab and "Remove All Website Data".</p>
                </div>
            </div>
        </div>



        <!-- END CONTENT -->
    </div>
</div>
</div>







