﻿
@{
    ViewBag.Title = "Faq";
}



<div class="row margin-bottom-20 news-events">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-9 margin-top-10" style="margin-bottom: 15px;">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
        
    <div class="faq-page">
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        How can I place my order on SaRa Lifestyle website?
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <p class="text-justify">• Go to our main navigation bar, browse items by category, and select the items you want to buy. After finalizing your choice(s), go for checkout option, select your shipping methods and payment options. Once you have made the payment, your checkout will be completed.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                        Can I ship different items to different shipping addresses?
                    </a>
                </h4>
            </div>
            <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">We process one shipping address per order. If you would like to ship to different addresses you could consider placing separate orders and making payments for them separately.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                        How do I check my order status?
                    </a>
                </h4>
            </div>
            <div id="accordion1_3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Simply go to the contact us page to send a query and we will notify you shortly. Please make sure about your order number to insert into the required field. If you are a registered user, you can check your order status at any time. To do so, just click on my order history after logging into your SaRa account.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                        Do I have to sign up for a SaRa account to buy something from saralifestyle.com.bd?
                    </a>
                </h4>
            </div>
            <div id="accordion1_4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">You are not required to create a SaRa account to place an order. You will have the option to simply proceed as a guest shopper. However, you may be deprived of some benefits which is available to our registered users. For example, opportunity to easily track orders any time for the registered people only!</p>
                    <p class="text-justify"></p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">
                        What forms of payment does SaRa accept for online purchase?
                    </a>
                </h4>
            </div>
            <div id="accordion1_5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">As we always care about our customers, we are providing a very easy Payment gateway system in saralifestyle.com.bd. You can complete your payment via Cash on Delivery, Banking Card payment (coming soon), Bkash, Rocket.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_6">
                        What currency will my order be billed in?
                    </a>
                </h4>
            </div>
            <div id="accordion1_6" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Your billing amount will be shown in Bangladeshi Taka (BDT) on the payment gateway.</p>
                </div>
            </div>
        </div>  
            
            
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_7">
                        Can I change my billing address?
                    </a>
                </h4>
            </div>
            <div id="accordion1_7" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Yes, this service is available for our registered users only.</p>
                </div>
            </div>
        </div>
            
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_8">
                        How long will it take to receive my order?
                    </a>
                </h4>
            </div>
            <div id="accordion1_8" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Standard shipping time is 3-4 working days and express shipping is 48 hours.</p>
                </div>
            </div>
        </div>   
            
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_9">
                        How my order will be shipped?
                    </a>
                </h4>
            </div>
            <div id="accordion1_9" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">We will ship the order to your address (within Bangladesh) via courier services from our warehouse in Dhaka, Bangladesh. Once you check out, a courier service will automatically be assigned to your order based on the shipping address that is provided by you.</p>
                </div>
            </div>      
                
            <div class="panel panel-default" style="margin-bottom:3px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_10">
                            I confirmed my order, but was later informed that my order got cancelled.Why did that happen?
                        </a>
                    </h4>
                </div>
                <div id="accordion1_10" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-justify">Some of possible reasons for which your order may be cancelled included: •You have provided an incorrect address . •Your credit or debit card payment was declined by the financial institution. •The recipient of the shipping address you have provided refused to receive your ordered products . •The recipient of the shipping address you have provided was unavailable.</p>
                    </div>
                </div>
            </div>      
                
            <div class="panel panel-default" style="margin-bottom:3px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_11">
                            Does SaRa lifestyle deliver products outside of Bangladesh?
                        </a>
                    </h4>
                </div>
                <div id="accordion1_11" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-justify">Currently, we are unable to ship products outside of Bangladesh. However, you can place an order from outside of Bangladesh and we can deliver it to your friends and family in Bangladesh.</p>
                    </div>
                </div>
            </div>   

            <div class="panel panel-default" style="margin-bottom:3px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_12">
                            What is the process for returns and exchanges?
                        </a>
                    </h4>
                </div>
                <div id="accordion1_12" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="text-justify">15 days return and replacement Policy: *Product Condition: If you receive the item in defective / damaged or incorrect / incomplete in condition, it is eligible for return and replacement if provided the exact item is available with the same seller. *If the same item is not available from the same seller, a refund will be issued. *Custom made items, innerwear cannot be returned. *The product must be unused, unworn, unwashed and without any unclaimed damage. *We will only accept return/ replace the product if it is resalable. *You can return the item if, the original invoice slip and exchange form must be enclosed with all returns or exchanges. *We do not accept returns or exchanges without the original invoice slip. You can bring your return items at any of our outlets. * Return/ Refunds policy for online purchases will be- •	*Refundable amount will be given in cash. You may collect the amount from our shop or from the delivery agent. • We don’t process exchanges after 30 days of the original purchase date. *Pack your exchange securely in the original package and attach the invoice slip.</p>
                    </div>
                </div>
            </div>



            <!-- END CONTENT -->
        </div>
    </div>
</div>
</div>









