﻿
@{
    ViewBag.Title = "HowToOrder";
}

<div class="row margin-bottom-20" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->

    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7">
        <h3 class="news-feed">HOW TO ORDER ?</h3>


        <div class="how_to_order-page">
            <div class="panel panel-default" style="margin-bottom:3px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                           Order Policy
                        </a>
                    </h4>
                </div>
                <div id="accordion1_1" class="panel-collapse collapse  in">
                    <div class="panel-body">
                        <p style="font-size: 14px;color: #2F3337;font-weight:600;">Browse by category</p>
                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            Your guide to browsing the online store is to use the main navigation menu, which has the names of the different product categories (Men, Women, Kids).
                        </p>

                        <p style="font-size: 14px;color: #2F3337;font-weight:600;">Select items</p>
                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            Each subcategory of products can be sorted based on price, name and color etc on the Site. Once you see and individual item in this menu you may click on that item to get more details about item description, product information. And also check your destination for availability for shipment. If you ordered clothing, don’t forget to specify the sizes and colors per clothing.
                        </p>
                        
                        <p style="font-size: 14px;color: #2F3337;font-weight:600;">Add items to your cart</p>
                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            Click the item and press the ADD TO CART button to add the Item to your cart. A system generated message will pop up that your product successfully added to your bag. From there you can finalize your shopping and go for CHECKOUT or else you can CONTINUE SHOPPING. CONTINUE SHOPPING will redirect you to the main page for more shopping and go to CHECKOUT will take you to for further process/final checkout.
                        </p>
                        
                        <p style="font-size: 14px;color: #2F3337;font-weight:600;">Check Your Shopping Cart and Checkout</p>
                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            On your shopping bag page, you will see the status of your order: the items you added to the bag, quantity, and the total amount. From there you may remove an item you decided not to buy, or edit the quantity of the product and UPDATE SHOPPING BAG. If you wish to continue browsing for more items, just CONTINUE SHOPPING.

                            Before you appear on final checkout if you are having any discount or promotional coupon, just place the coupon details on the Redeem Promotions & Coupons and get your discount. Now Click the CHECKOUT button located at the lower right bottom of the page. You will be asked to login to your SaRa account. If you are not yet registered, you can register yourself.
                        </p>
                        
                        <p style="font-size: 14px;color: #2F3337;font-weight:600;">Verify Billing and Shipping details</p>
                        <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                            If you are checking out as a registered user you have to enter your shipping address for shipment, as we have your billing address stored in our system or as a guest user you have to provide all billing and shipping information as on required fields.


                        </p>
                    </div>
                </div>
            </div>


            <!-- END CONTENT -->
        </div>








        <!-- END CONTENT -->
    </div>
</div>







