﻿
@{
    ViewBag.Title = "OurPeople";
}

<div class="row">
    <div class="col-md-12">
        <div class="ui-title-page">
            <p class="text-center underline" style="margin-bottom: 30px;">Our People</p>

        </div>
    </div>
</div>
<br />

<div class="row margin-bottom-20 news-events" style="min-height:400px;">

    <h1 class="text-danger text-center">Under Development !!!</h1>

</div>
@*<div class="main">
   
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>          
            <li class="active">Our People</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>Our People</h1>
                <div class="content-page">
                    <div class="row front-team" >
                        <ul class="list-unstyled">
                            <li class="col-md-3">
                                <div class="thumbnail photo_gallery">
                                    <img alt="" src="/plugins/pages/img/people/img1-large.jpg">
                                    <h3>
                                        <strong>Lina Doe</strong>
                                        <small>Chief Executive Officer / CEO</small>
                                    </h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="thumbnail photo_gallery">
                                    <img alt="" src="/plugins/pages/img/people/img4-large.jpg">
                                    <h3>
                                        <strong>Carles Puyol</strong>
                                        <small>Chief Executive Officer / CEO</small>
                                    </h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="thumbnail photo_gallery">
                                    <img alt="" src="/plugins/pages/img/people/img2-large.jpg">
                                    <h3>
                                        <strong>Andres Iniesta</strong>
                                        <small>Chief Executive Officer / CEO</small>
                                    </h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                    
                                </div>
                            </li>
                            <li class="col-md-3">
                                <div class="thumbnail photo_gallery">
                                    <img alt="" src="/plugins/pages/img/people/img5-large.jpg">
                                    <h3>
                                        <strong>Jessica Alba</strong>
                                        <small>Chief Executive Officer / CEO</small>
                                    </h3>
                                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                                   
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row margin-bottom-30">
                        <!-- BEGIN INFO BLOCK -->
                        <div class="col-md-7">
                            <h2 class="no-top-space">Vero eos et accusamus</h2>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                            <p>Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
                            <!-- BEGIN LISTS -->
                            <div class="row front-lists-v1">
                                <div class="col-md-6">
                                    <ul class="list-unstyled margin-bottom-20">
                                        <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                                        <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                                        <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                                        <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                                        <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END LISTS -->
                        </div>
                        <!-- END INFO BLOCK -->
                        <!-- BEGIN CAROUSEL -->
                        <div class="col-md-5 front-carousel ">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner photo_gallery">
                                    <div class="item active ">
                                        <img src="/plugins/pages/img/pics/img2-medium.jpg" alt="">
                                        <div class="carousel-caption">
                                            <p>Excepturi sint occaecati cupiditate non provident</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="/plugins/pages/img/pics/img1-medium.jpg" alt="">
                                        <div class="carousel-caption">
                                            <p>Ducimus qui blanditiis praesentium voluptatum</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="/plugins/pages/img/pics/img2-medium.jpg" alt="">
                                        <div class="carousel-caption">
                                            <p>Ut non libero consectetur adipiscing elit magna</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- END CAROUSEL -->
                    </div>
                    <div class="row margin-bottom-40">
                        <!-- BEGIN TESTIMONIALS -->
                        <div class="col-md-12 testimonials-v1">
                            <h2>Testimonials</h2>
                            <div id="myCarousel1" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner ">
                                    <div class="active item">
                                        <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur adipisicing sit amet do eiusmod dolore.</p></blockquote>
                                        <div class="carousel-info">
                                            <img class="pull-left" src="/plugins/pages/img/people/img1-small.jpg" alt="">
                                            <div class="pull-left">
                                                <span class="testimonials-name">Lina Mars</span>
                                                <span class="testimonials-post">Commercial Director</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
                                        <div class="carousel-info">
                                            <img class="pull-left" src="/plugins/pages/img/people/img5-small.jpg" alt="">
                                            <div class="pull-left">
                                                <span class="testimonials-name">Kate Ford</span>
                                                <span class="testimonials-post">Commercial Director</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
                                        <div class="carousel-info">
                                            <img class="pull-left" src="/plugins/pages/img/people/img2-small.jpg" alt="">
                                            <div class="pull-left">
                                                <span class="testimonials-name">Jake Witson</span>
                                                <span class="testimonials-post">Commercial Director</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
                                <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- END TESTIMONIALS -->
                       
                    </div>

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
 
</div>*@
