﻿
@{
    ViewBag.Title = "PhotoGallery";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h3 class="text-center" style="margin-bottom: 30px; font-size: 23px; font-weight: 500; color: #64AED9;">Our Photo Gallery</h3>
        </div>

        <div class="col-md-4"></div>
    </div>
    </div>

<div class="home">
    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">

            <li class="col-xs-6 col-sm-6 col-md-2 padding-0" data-responsive="/plugins/pages/img/photo_gallery/a1.jpg" data-src="/plugins/pages/img/photo_gallery/1.jpg" data-sub-html="<h4>
Our own brand will give more control on the market</h4><p>Fast Fashion is creating fierce competition mainly on price issue and so the brands and retailers built on creating brand identities to claim bit more from the consumers.</p>">
                <a href="">
                    <img class="img-responsive" src="/plugins/pages/img/photo_gallery/1.jpg" alt="sara starts its journey in dhaka" />
                    <div class="demo-gallery-poster">
                        <img src="/plugins/pages/img/photo_gallery/zoom.png" alt="sara starts its journey in dhaka" />
                    </div>
                </a>
            </li>

            <li class="col-xs-6 col-sm-6 col-md-2 padding-0" data-responsive="/plugins/pages/img/photo_gallery/2a.jpg" data-src="/plugins/pages/img/photo_gallery/2a.jpg" data-sub-html="<h4>
SaRa starts its journey in Dhaka</h4><p>SaRa, a new fashion brand, started its journey on Saturday (12 May, 2018) with a grand opening as “Sara Lifestyle Ltd.” The brand opened its first branch in Mirpur, Dhaka. Sara Lifestyle Ltd. </p>">
                <a href="">
                    <img class="img-responsive" src="/plugins/pages/img/photo_gallery/2a.jpg" alt="sara starts its journey in dhaka" />
                    <div class="demo-gallery-poster">
                        <img src="/plugins/pages/img/photo_gallery/zoom.png" alt="sara starts its journey in dhaka" />
                    </div>
                </a>
            </li>

            <li class="col-xs-6 col-sm-6 col-md-2 padding-0" data-responsive="/plugins/pages/img/photo_gallery/2b.jpg" data-src="/plugins/pages/img/photo_gallery/2b.jpg" data-sub-html="<h4>Snowtex brings lifestyle brand SaRa</h4>
            <p>Apparel exporter Snowtex is set to launch a new fashion retail brand, Sara Lifestyle Ltd, in the local market to provide quality products at a reasonable price. “Our motto is 'Fashion for Everybody' as we are committed to offer quality apparels which everybody can afford,” said SM Khaled, managing director of Snowtex and Sara.</p>">
                <a href="">
                    <img class="img-responsive" src="/plugins/pages/img/photo_gallery/2b.jpg" alt="sara starts its journey in dhaka" />
                    <div class="demo-gallery-poster">
                        <img src="/plugins/pages/img/photo_gallery/zoom.png" alt="sara starts its journey in dhaka" />
                    </div>
                </a>
            </li>

            <li class="col-xs-6 col-sm-6 col-md-2 padding-0" data-responsive="/plugins/pages/img/photo_gallery/2c.jpg" data-src="/plugins/pages/img/photo_gallery/2c.jpg" data-sub-html="<h4>Snowtex launches its own fashion brand SaRa</h4>
            <p>Snowtex launched its own fashion brand “SaRa” in Dhaka on May 12. It is another exemplary initiative by Bangladesh’s local RMG entrepreneurs to establish clothing brand in the world of fashion. The first flagship shop opened in Section 6, Mirpur-Dhaka.Fashion show, catwalk, video presentation and other events were arranged at the grand opening.</p>">
                <a href="">
                    <img class="img-responsive" src="/plugins/pages/img/photo_gallery/2c.jpg" alt="sara starts its journey in dhaka" />
                    <div class="demo-gallery-poster">
                        <img src="/plugins/pages/img/photo_gallery/zoom.png" alt="sara starts its journey in dhaka" />
                    </div>
                </a>
            </li>

            <li class="col-xs-6 col-sm-6 col-md-2 padding-0" data-responsive="/plugins/pages/img/photo_gallery/2d.jpg" data-src="/plugins/pages/img/photo_gallery/2d.jpg" data-sub-html="<h4>SaRa starts its journey in Dhaka</h4>
            <p>SaRa, a new fashion brand, started its journey on Saturday (12 May, 2018) with a grand opening as “Sara Lifestyle Ltd.”. The brand opened its first branch in Mirpur, Dhaka. Sara Lifestyle Ltd. is a sister concern of Snowtex, an export oriented readymade garment industry in Bangladesh.</p>">
            <a href="">
            <img class="img-responsive" src="/plugins/pages/img/photo_gallery/2d.jpg" alt="sara starts its journey in dhaka" />
            <div class="demo-gallery-poster">
            <img src="/plugins/pages/img/photo_gallery/zoom.png" alt="sara starts its journey in dhaka" />
            </div>
            </a>
            </li>

            <li class="col-xs-6 col-sm-6 col-md-2 padding-0" data-responsive="/plugins/pages/img/photo_gallery/2e.jpg" data-src="/plugins/pages/img/photo_gallery/2e.jpg" data-sub-html="<h4>SaRa Showroom</h4>
            <p>The brand opened its first branch in Mirpur, Dhaka. Sara Lifestyle Ltd.</p>">
            <a href="">
            <img class="img-responsive" src="/plugins/pages/img/photo_gallery/2e.jpg" alt="sara starts its journey in dhaka" />
            <div class="demo-gallery-poster">
            <img src="/plugins/pages/img/photo_gallery/zoom.png" alt="sara starts its journey in dhaka" />
            </div>
            </a>
            </li>




        </ul>
    </div>
</div>






<script type="text/javascript">
    $(document).ready(function () {
        $('#lightgallery').lightGallery();
    });
</script>




