﻿
@{
    ViewBag.Title = "PrivacyPolicy";
}



<div class="row margin-bottom-20 news-events" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-9 margin-top-10" style="margin-bottom: 15px;">
    <h1>Privacy Policy</h1>
    <div class="faq-page">
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Who Are We?
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <p class="text-justify">SaRa Lifestyle is a new name in the Fashion Era of Bangladesh. Our aim is to serve our customers with the best quality products at a very reasonable price.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                        What Do We Do with Your Information?
                    </a>
                </h4>
            </div>
            <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Our ecommerce website may collect various type of required information if you want to place an order for the desired product you want to buy from us using the website. When you purchase something from our online store through the website, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. We will receive, store and process your data for preparing your purchase order on our ecommerce site and will save it for any possible future allegation.
                        We usually collect personal information such as your title, name, gender, date of birth, email address, postal address, delivery address (if different), telephone number, mobile number, payment procedure and another similar kind of information. When you browse our store,
                        we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. With your permission, we may send you emails about our store, new products, and other updates. However, if you use a credit or debit card for your purchases we will collect your card-related information and your signature in order to process your payment. We may also collect your suggestions, complaints or enquiries through emails or complaint/suggestion forms.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                        Third Party Policy
                    </a>
                </h4>
            </div>
            <div id="accordion1_3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">We may pass your details to other companies affiliated with us only for the purpose of providing you better service. We may pass your details to our agents and subcontractors to help with analyzing data and providing us with marketing or customer service assistance. We may also use third parties to assist us with delivering products to you and to help us to collect payments from you. In general, the third-party providers contacted by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us. However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                        Security of Your Information
                    </a>
                </h4>
            </div>
            <div id="accordion1_4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure that, it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you make shopping with your credit card, the information will be encrypted using secure socket layer technology (SSL). Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards. We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service. Visit our Terms and Conditions page to learn more about our complete terms of service.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">
                        Your Right to Withdraw & Change
                    </a>
                </h4>
            </div>
            <div id="accordion1_5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">If you change your mind, you may withdraw your consent for us to contact you. For the continued collection, use or disclosure of your information and if you would like to access, correct, amend or delete any personal information which we have about you, register a complaint, or simply want more information contact us at support@saralifestylebd.com.</p>
                </div>
            </div>
        </div>



        <!-- END CONTENT -->
    </div>
</div>
</div>




