﻿@model SaRaEcommerce.ViewModel.ReturnFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN RETURN FORM -->

<div class="registration_form">

    @*@using (Html.BeginForm("ReturnForm", "WebContent", FormMethod.Post, new { @class = "register-form" }))
    {
        @Html.AntiForgeryToken()*@
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10 col-xs-12">
                <h3>Product Replacement Form</h3>
                <p> Enter the following information below:</p>
            </div>
            <div class="col-md-1"></div>
        </div>



        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10 col-xs-12">

                <div class="form-group">
                    <label class="control-label">Order No <span style="color:red;">*</span></label>
                    <div class="input-icon">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type Order Number" id="txtSearch"/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" id="orderButton" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        
                        


                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row margin-bottom-10">
            <div class="col-md-1"></div>

            <div class="col-md-10 col-xs-12">
                <div style="width: 100%; border: 1px solid #dbdbdb;overflow: auto; height: 160px;">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="orderTable">
                                <thead>
                                <tr class="bg-primary" id="return_form">
                                    <th scope="col">
                                        #
                                    </th>
                                    <th scope="col">Product</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col">Price</th>
                                </tr>
                                </thead>
                                <tbody id="orderTableBody">
                                    <tr>
                                        <td colspan="5" class="text-center">Search product by order number</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>


            <div class="col-md-1"></div>
        </div>
    </div>


        <div class="row margin-bottom-10">
            <div class="col-md-1"></div>

            <div class="col-md-10 col-xs-12">
                <div style="width: 100%; border: 1px solid #dbdbdb;">
                    <p style="text-align: justify; margin: 10px 10px 10px 10px;">
                        If you are not content with the order you made or with an item within your order,
                        we will openly accept replacement within 15 days of purchase as long as the product(s) is unworn and is still in the original packaging.
                    </p>

                    <p style="text-align: justify; margin: 10px 10px 10px 10px;">
                        Please use this form and attach it to the return package to either receive an exchange or a refund.
                    </p>

                    <p style="text-align: justify; margin: 10px 10px 10px 10px;">
                        In the case of a defect, please contact <a href="mailto:ecom@saralifestyle.com.bd">ecom@saralifestyle.com.bd</a> and attach detailed photos of the defect.
                        Defects that are sent back without our approval will not be processed.

                    </p>
                </div>
            </div>


            <div class="col-md-1"></div>
        </div>



        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 col-xs-12">
                <div class="form-group">
                    @*<label class="control-label">Reason for Return <span style="color:red;">*</span></label>*@
                    @Html.LabelFor(c => c.ReturnReason, new { @class = "control-label" })<span style="color: red;">*</span>
                    <div class="input-icon">
                        <i class="fa fa-font"></i>
                        @Html.DropDownListFor(m => m.ReturnReason, new SelectList(ViewBag.ReturnReasonList, "Value", "Text"), new { @class = "select2 form-control" })
                    </div>
                    @Html.ValidationMessageFor(c => c.ReturnReason)
                </div>
            </div>

            <div class="col-md-5 col-xs-12">

                <div class="form-group">
                    @*<label class="control-label">Exchange For <span style="color:red;">*</span></label>*@
                    @Html.LabelFor(c => c.ExchangeType, new { @class = "control-label" })<span style="color: red;">*</span>
                    <div class="input-icon">
                        <i class="fa fa-font"></i>
                        @Html.DropDownListFor(m => m.ExchangeType, new SelectList(ViewBag.ExchangeTypeList, "Value", "Text"), new { @class = "select2 form-control" })
                    </div>
                    @Html.ValidationMessageFor(c => c.ExchangeType)
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-1"></div>

            <div class="col-md-10 col-xs-12">
                @*<label class="msg" for="Message">Customer Comment's: <span style="color: red;">*</span></label>*@
                @Html.LabelFor(c => c.Comment, new { @class = "control-label" })<span style="color: red;">*</span>
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    @*<textarea class="form-control" rows="5" placeholder="Customer Comment's"></textarea>*@
                    @Html.TextAreaFor(c => c.Comment, new { @class = "form-control", rows = "5", placeholder = "Customer Comment's" })
                </div>
                @Html.ValidationMessageFor(c => c.Comment)

            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row margin-bottom-15">
            <div class="col-md-1"></div>

            <div class="col-md-10 col-xs-12">
                <div style="width: 100%; border: 1px solid #dbdbdb;">
                    <p class="text-center" style="text-decoration: underline; margin-top: 10px; font-weight: bold;">Please sends replacement to</p>
                    <p class="text-center" style="font-size: 15px;">SaRa Lifestyle Ltd.</p>
                    <address style="text-align: center;">House 966, Road 14, Avenue 2, Mirpur DOHS 1216</address>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>


        <div class="row margin-bottom-15">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-xs-12">
                <div style="width: 100%; border: 1px solid #dbdbdb;">
                    <p class="text-center" style="text-decoration: underline; margin-top: 10px; font-weight: bold;">PLEASE NOTE:</p>

                    <p style="text-align: justify; margin: 10px 10px 10px 10px;">
                        • Please ensure all Product being replacement through packet. Please also pack all returns carefully to avoid being damaged during transit.
                    </p>

                    <p style="text-align: justify; margin: 10px 10px 10px 10px;">
                        • Shipping costs will not be refunded.
                    </p>

                    <p style="text-align: justify; margin: 10px 10px 10px 10px;">
                        • Replacement/Exchanges are normally processed within 2 days after arrival.
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row margin-bottom-10">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div style="border: 1px solid #dbdbdb; width: 100%; min-height: 115px;">

                    <div class="col-md-3 col-xs-12">
                        <h5 style="text-transform: capitalize; margin: 45px 0px 0px 0px;">Further Information</h5>
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <h5 style="text-transform: capitalize; margin: 45px 0px 0px 0px;">Call: +8801885998899</h5>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <h5 style="text-transform: none; margin: 45px 0px 0px 0px;">Email: ecom@saralifestyle.com.bd</h5>
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row margin-bottom-10">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <button type="submit" id="saveReturnRequest" class="btn btn-primary pull-right">Submit</button>
            </div>

            <div class="col-md-1"></div>
        </div>

    @*}*@
</div>
<!-- END RETURN FORM -->

@Scripts.Render("~/bundles/jqueryval")

<script>
    var totalProduct = 0;
    function loadOrderList(orderNumber) {
        $.ajax({
            type: 'GET',
            url: '/WebContent/GetOrderProduct',
            data: { orderNumber: orderNumber },
            dataType: 'json',
            success: function (data) {
                totalProduct = data.length;
                if (data.length > 0) {
                    $('#orderTableBody').html("");

                    $.each(data, function (i, data) {
                        $("#orderTableBody").append('<tr>' +
                            '<th scope="row"><label><input type="checkbox" name="check" class="selectorCheck" checked><span class="label-text"></span></label></th>' +
                            '<td>' + data.ProductName + '<br>Color:' + data.ColorName + '<br> Size:' + data.SizeName +'' +
                            '<input type="hidden" value="' + data.OrderNumber +'" class="orderNumber"/>' +
                            '<input type="hidden" value="' + data.ProductId +'" class="productId"/>' +
                            '<input type="hidden" value="' + data.ColorId +'" class="colorId"/>' +
                            '<input type="hidden" value="' + data.SizeId +'" class="sizeId"/>' +
                            '</td>' +
                            '<td>' + data.Sku + '</td>' +
                            '<td class="text-center"><div class="more_details_qty" style="width:100%;">' +
                            '<button class="minus-btn product_quantity" type="button" name="button"><img src="/plugins/layout/img/icons/minus.svg" alt="" /></button>' +
                            '<input type="text" name="name" style="width: 50px;" id="qtyVal" class="qtyVal" max="' + data.Quantity +'" value="' + data.Quantity +'" />' +
                            '<button class="plus-btn product_quantity" type="button" name="button"><img src="/plugins/layout/img/icons/plus.svg" alt="" /></button>' +
                            '</div></td>' +
                            '<td>' + data.Price +'</td>' +
                            '</tr>');
                    });
                } else {
                    $('#orderTableBody').html("");
                    $('#orderTableBody').append("<tr><td colspan='5' class='text-center'>No data found or invalid order number</td></tr>");
                }

            },
            async: false,
            error: function(ex) {
                toastr.info("Failed to retrieve Size List.", 'Information!');
            }
        });
    }

    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <text>
                    var message = '@ViewBag.message';
                    toastr.success(message);
                </text>
            }
        }

        $('#txtSearch').keypress(function (e) {
            var key = e.which;
            if(key == 13)  // the enter key code
            {
                $('#orderButton').click();
                return false;  
            }
        });

        $(document).on('click', '#orderButton', function () {
            var orderNumber = $("#txtSearch").val();
            if (orderNumber) {
                loadOrderList(orderNumber);
            } else {
                toastr.warning("Order number is required");
            }

        });

        $('#orderTableBody').on('click', '.plus-btn', function () {
            var maxValue = $(this).siblings('.qtyVal').attr("max");
            var value = $(this).siblings('.qtyVal').val();
            if (maxValue > value) {
                $(this).siblings(".qtyVal").val(parseInt(value) + 1);
            }
        });

        $('#orderTableBody').on('click', '.minus-btn', function () {
            var value = $(this).siblings('.qtyVal').val();
            if (value > 1) {
                $(this).siblings(".qtyVal").val(parseInt(value) - 1);
            }
        });

        $("#saveReturnRequest").click(function(e) {
            e.preventDefault();

            var orderNumber = "";
            var item = [];
            item.length = 0;
            $.each($("#orderTableBody tr"),
                function () {
                    var checked = $(this).find('.selectorCheck').is(":checked");
                    if ($(this).find('.orderNumber').val() != null && checked) {
                        orderNumber = $(this).find('.orderNumber').val();
                        item.push({
                            OrderNumber: $(this).find('.orderNumber').val(),
                            ProductId: $(this).find('.productId').val(),
                            ColorId: $(this).find('.colorId').val(),
                            SizeId: $(this).find('.sizeId').val(),
                            Quantity: $(this).find('.qtyVal').val()
                        });
                    }
                });

            var returnObject = {
                'OrderNumber': orderNumber,
                'ReturnReason': $("#ReturnReason").val(),
                'ExchangeType': $("#ExchangeType").val(),
                'Comment': $("#Comment").val(),
                'OrderedProductModels': item
            }

            var returnFormObject = JSON.stringify({ 'returnForm': returnObject });
            //var vForm = $('#__AjaxAntiForgeryForm');
            //var vToken = $('input[name="__RequestVerificationToken"]', vForm).val();

            //var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                url: '@Url.Action("ReturnForm", "WebContent")',
                data: returnFormObject,
                success: function (data) {
                    $.confirm({
                        icon: 'fa fa-spinner fa-spin',
                        title: 'Message!',
                        content: data.message,
                        buttons: {
                            Ok: function () {
                                window.location = data.redirectUrl;
                            }
                        }
                    });
                },
                async: false,
                error: function(ex) {
                    $.confirm({
                        icon: 'fa fa-spinner fa-spin',
                        title: 'Error!',
                        content: ex,
                        buttons: {
                            Ok: function () {
                                window.location = data.redirectUrl;
                            }
                        }
                    });
                }
            });
        });
    });


</script>