﻿
@{
    ViewBag.Title = "ReturnPolicy";
}



<div class="row margin-bottom-20 news-events" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Replacement Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-9 margin-top-10" style="margin-bottom: 15px;">
    <h1>REPLACEMENT POLICY</h1>

    <div class="faq-page">
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Replacement policy:
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    @*<p class="text-justify">
                        15 days return and replacement Policy: *Product Condition: If you receive the item in defective / damaged or incorrect / incomplete in condition, it is eligible for return and replacement if provided the exact item is available with the same seller. *If the same item is not available from the same seller, a refund will be issued. 
                        *Custom made items, innerwear cannot be returned. *The product must be unused, unworn, unwashed and without any unclaimed damage.*We will only accept return/ replace the product if it is resalable. 
                        *You can return the item if, the original invoice slip and exchange form must be enclosed with all returns or exchanges. *We do not accept returns or exchanges without the original invoice slip. 
                        You can bring your return items at any of our outlets. * Return/ Refunds policy for online purchases will be- • *Refundable amount will be given in cash. 
                        You may collect the amount from our shop or from the delivery agent. 
                        • We don’t process exchanges after 30 days of the original purchase date. 
                        *Pack your exchange securely in the original package and attach the invoice slip.
                    </p>*@   
                    
                    <p class="text-justify">
                        At SaRa we gladly exchange within 15 days of purchase and refund items within 3 days of purchase with an original receipt. Items must be in their original state: unwashed, unworn, unaltered, and must have all tickets attached.</p>

                    <p class="text-justify">
                        Products must be returned or exchanged with original receipt within 15 days after receiving the package. All returned goods will be refunded in the original form of payment.
                    </p>

                    <p class="text-justify">
                        Returned Products that was originally paid for by alternate tenders (i.e. Gift Card etc.) other than cash, debit or credit card will receive an exchange or refund in the form of a store credit onto a SaRa Gift Card. Cash will not be issued.</p>

                    <p class="text-justify">
                        To protect our customers from fraudulent activity, SaRa reserves the right to request valid photo ID for the purposes of validating customer information when processing a return or exchange. For more information, please contact SaRa Customer Service at +8801885998899 or email us at service@saralifestyle.com.bd
                        The following Return Policy only applies to online purchases made through http://www.saralifestyle.com.bd/
                    </p>

                        1. Returns are accepted within 15 days from the Shipped Date.<br>
                        2. All store purchases may only be returned to Sara lifestyle Stores with purchase receipt. Please contact your local store for Return Policy information.<br>
                        3. Refund will be issued only after the product is received at our warehouse.<br>
                        4. SaRa will not be responsible for any incorrect fund transfer/voucher issuance against returns arising due to erroneous input by the customers. The customer takes the complete responsibility of the accuracy of the information provided.<br>
                        5. Please note that limited period offers which run for a specific period or product specific discounts may not be available by the time you return the order.<br>
                        6. Free Gift cards cannot be returned or exchanged.<br><br>


                    <p class="text-justify">
                        What qualifies as a return?
                        Any product would qualify as a return if it meets any of the following conditions:
                    </p>

                         Wrong product, size or color.<br/>
                         Damaged product.<br/>
                         Product lost in shipment.<br/>
                         Products with major quality defects.<br/><br />

                        <b>How do I return an item?</b><br /><br />

                    <p class="text-justify">
                        The customer needs to fill-up the return and exchange form that must be enclosed with all returns or exchanges. If you no longer have the return/exchange form please <a href="@Url.Action("ReturnForm","WebContent")" target="_blank">click here</a> to fill-up
                        the form. Please be sure to print out the form, complete all required information and include it with your return items. We do not accept returns or exchanges without the original invoice slip. You can return your items through courier or our delivery man service along with the return form to our e-commerce warehouse at the following address:</p>

                        <b>E-Commerce Warehouse:</b><br/>
                        <b>SaRa Lifestyle Ltd</b><br/>
                        <b>House 966, Road 14, Avenue 2, Mirpur DOHS 1216.</b><br/><br/>

                        <i>Please email to our customer support or call in case of any clarification.</i>

           
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                        RETURN & REPLACEMENT POLICY
                    </a>
                </h4>
            </div>
            <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify"><u>15 days Return & Replacement Policy: Product Condition-</u> <br/><br/> 1. The product must be unused, unworn, unwashed and without any flaws. Fashion products can be tried on to see if they fit and will still be considered unworn. <br /> 2. The product must include the original tags, user manual, warranty cards, freebies and accessories. <br /> 3. The product must be returned in the original and undamaged manufacturer packaging / box. If the product was delivered in a second layer of SaRa packaging, it must be returned in the same condition with return shipping label attached. Do not put tape or stickers on the manufacturers box. You can return the item if: The original invoice slip and exchange form must be enclosed with all returns or exchanges. We do not accept returns or exchanges without the original invoice slip. You can bring your return items at any of our outlets. Return/ Refunds policy for online purchases will be- <br /><br />   Refundable amount will be given in cash. You may collect the amount from our shop or from the delivery agent. <br />  We don’t process exchanges after 15 days of the original purchase date.<br />   Pack your exchange securely in the original package and attach the invoice slip.</p>
                </div>
            </div>
        </div>
  

        <!-- END CONTENT -->
    </div>

</div>
</div>









