﻿
@{
    ViewBag.Title = "ShippingAndDelivery";
}



<div class="row margin-bottom-20" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7">
        <h2 class="news-feed">SHIPPLING & DELIVERY</h2>


        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Order Policy
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <strong>How long will it take to receive my order?</strong>

                    <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                        Standard shipping time is 48 business hours within Dhaka City.

                        And for outside Dhaka it will take 5 to 7 days depending on 3rd party currier service (SAP, SUNDARBAN, CONTINENTAL, PATHO etc).


                    </p>

                    <strong>How is my order shipped?</strong>
                    <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                        We ship to your address (within Bangladesh) via courier services from our warehouse in Dhaka, Bangladesh. Once you check out, a courier service will automatically be assigned to your order based on the shipping address you have provided.



                    </p>
                    
                    <strong>I confirmed my order, but was later informed that my order got cancelled. Why did that happen?</strong>
                    <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                        Some of possible reasons for which your order may be cancelled include:br/>

                        • You provided an incorrect address<br />

                        • Your credit or debit card payment was declined by the financial institution<br />

                        • The recipient at the shipping address you have provided refused to receive your ordered products<br />

                        • The recipient at the shipping address you have provided was unavailable<br />



                    </p>

                    <strong>Does SaRa lifestyle deliver products outside of Bangladesh?</strong>
                    <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                        Currently we are unable to ship products outside of Bangladesh. However, you can place an order from outside of Bangladesh and we can deliver it to your friends and family in Bangladesh.



                    </p>
                </div>
            </div>
        </div>


        <!-- END CONTENT -->
    </div>
    
</div>









