﻿
@{
    ViewBag.Title = "Sitemap";
}

    <div class="col-md-12" style="background: #f5f5f5;border-radius: 5px; margin-bottom: 20px;box-shadow: 0 1px 6px rgba(57,73,76,0.35);" id="sitemap">
        <p class="text-center" style="margin-top: 20px;margin-bottom: 20px; font-size: 25px; font-weight: 400;">SaRa Lifestyle Site Map </p>
        <hr/>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h1 style="text-decoration: underline;">MEN</h1>
            <a href="#" style="font-size: 17px; color: navy;">SHIRT</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Casual Shirt</a></li>
                <li><a href="">Formal Shirt</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">BOTTOM</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Jeans</a></li>
                <li><a href="">Chino Regular Fit</a></li>
                <li><a href="">Pajama</a></li>
                <li><a href="">Formal Pant</a></li>
                <li><a href="">Joggers</a></li>
                <li><a href="">Chino Slim Fit</a></li>
                <li><a href="">Geromi Pant</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">POLO</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Long Sleeve</a></li>
                <li><a href="">Half Sleeve</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">FATUA</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Long Sleeve</a></li>
                <li><a href="">Half Sleeve</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">T-SHIRT</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Long Sleeve</a></li>
                <li><a href="">Half Sleeve</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">PANJABI</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Regular Fitted</a></li>
                <li><a href="">Slim Fitted</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">WINTER COLLECTION</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Jacket</a></li>
                <li><a href="">Hoodie</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <h1 style="text-decoration: underline;">WOMEN</h1>
            <a href="#" style="font-size: 15px; color: navy;">ETHNIC TOPS</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Long Length Kurti</a></li>
                <li><a href="">Mid Length Kurti</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">FASHION TOPS &amp; SHIRT</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Fashion Tops</a></li>
                <li><a href="">Casual Shirt</a></li>
                <li><a href="">Women Knit Shrug</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">TOPS &amp; TEES</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Half Sleeve</a></li>
                <li><a href="">Tank Tops</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">ETHNIC 3PS</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Long Length Kurti</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">SAREE</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Boishakh</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">BOTTOM</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Cotton Regular Fit</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <h1 style="text-decoration: underline;">KIDS</h1>
            <a href="#" style="font-size: 15px; color: navy;">6M-1.5Y</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Full Sleeve Shirt</a></li>
                <li><a href="">Half Sleeve Shirt</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">BABY BOYS (2-9Y)</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Polo Shirt</a></li>
                <li><a href="">Panjabi</a></li>
                <li><a href="">Full Sleeve Shirt</a></li>
                <li><a href="">Half Sleeve Shirt</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">BABY GIRLS (2-9Y)</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Kids Frock</a></li>
                <li><a href="">Kids Top &amp; Skirt</a></li>
            </ul>

            <a href="#" style="font-size: 15px; color: navy;">GIRLS (10-15Y)</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Pant</a></li>
                <li><a href="">T-Shirt</a></li>
            </ul>


        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
            <h1 style="text-decoration: underline;">SUMMER COLLECTION</h1>
            <a href="#" style="font-size: 15px; color: navy;">Summer Collection</a>
            <ul type="circle" style="font-size: 15px;line-height: 22px;">
                <li><a href="">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Kids</a></li>
            </ul>
        </div>
  </div>


