﻿
@{
    ViewBag.Title = "SizeChart";
}

<div class="row margin-bottom-20" style="min-height:500px;">
    <h2 class="text-center" style="margin-bottom:30px;">Size Chart For Men &amp; Women </h2>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="~/plugins/pages/img/sizechart/men.jpg" alt="men size chart" class="img-responsive" style="border:1px solid #bebdbd;padding:10px;"/>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="~/plugins/pages/img/sizechart/women.jpg" alt="women size chart" class="img-responsive" style="border:1px solid #bebdbd;padding:10px;"/>
    </div>

</div>

