﻿
@{
    ViewBag.Title = "TermsAndConditions";
}




<div class="row margin-bottom-20 news-events" style="min-height:500px;">

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-9 margin-top-10" style="margin-bottom: 15px;">
    <h1>TERMS &amp; CONDITIONS</h1>
    <div class="faq-page">
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Availability
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <p class="text-justify">We are cordially giving you the information that our featured items are handcrafted and therefore in limited quantities and, because of their limited availability and nature of production, stock will not and cannot be refreshed. That means once an item is gone, it will not appear on the website again. When an item featured on saralifestyle.com.bd is no longer in stock, we make every attempt to remove that item from the website through a specific timely manner.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                        Product Information
                    </a>
                </h4>
            </div>
            <div id="accordion1_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Please note that, considering the laws of Bangladesh on shippable items, fragility and other constraints, saralifestyle.com.bd does not carry every item that you would find in our stores. The prices displayed on the website are quoted in Bangladeshi Taka (BDT). Most of the SaRa products displayed on the website are available in selected SaRa stores in Bangladesh while supplies last. In some cases, web merchandise may not be available in Bangladesh stores. Stores may also have different prices or promotional events at different times. Sale prices on the website are only ecommerce only specials, and do not reflect the pricing of SaRa outlet stores.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                        Inaccuracy Disclaimer
                    </a>
                </h4>
            </div>
            <div id="accordion1_3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">From time to time, there may be updated information on our website or in our newsletter that contains typographical errors, inaccuracies, or omissions which may relate to product descriptions, pricing, and availability. SaRa reserves the right to correct any errors, inaccuracies or omissions and to change or update information at any time without prior notice (including after you have submitted your order). We endeavor to present the most recent, most accurate, and most reliable information on our website at all times. However, there may be occasions when some of the information featured on saralifestyle.com.bd may contain incomplete data, typographical errors, or inaccuracies. Any errors are wholly unintentional and we apologies if erroneous information is reflected in merchandise price, item availability, or in any way affects your individual order. Please be aware that, we present our content 'as it is' and make no claims to its accuracy, either expressed or implied.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                        Legal Information
                    </a>
                </h4>
            </div>
            <div id="accordion1_4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">This website is expressly owned and operated by SaRa lifestyle ltd. It is to be noted that, all design and content featured on saralifestyle.com.bd, including navigational buttons and images, logos, artwork, icons, graphics, photography, text, and the like, are copyrights, trademarks, trade dress, and/or intellectual property that are owned, controlled, or licensed by SaRa. This website in its entirety is protected by copyright and applicable trade dress and are protected under Bangladeshi and international copyright laws. All worldwide rights, titles, and interests are reserved. The contents of our website and the website as a whole are intended solely for any one’s personal, non-commercial use. Any use of our website and its content for the purpose of personal and non-commercial, is prohibited without the prior written permission of SaRa. Do not reproduce, publish, display, modify, sell, or distribute any of the materials from SaRa. You may, however, download or electronically copy and print any of the page contents displayed on the site, but please remember that, these are not available for your personal, non-commercial use.</p>  
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-bottom:3px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">
                        Correspondence and Communications
                    </a>
                </h4>
            </div>
            <div id="accordion1_5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="text-justify">Although we will make our best effort to respond quickly to applicable email messages, saralifestyle.com.bd is under no obligation to respond to all pieces of correspondence received through this site, or to maintain your submitted comments in confidence, or to pay compensation of any kind for your comments or submissions. While we welcome your comments and feedback regarding saralifestyle.com.bd, our merchandise and our services, we do not wish to receive any confidential or proprietary ideas, suggestions, materials, or information via this website or any email connection. All your comments, feedback, ideas, suggestions, and other submissions that are disclosed or submitted to our organization through saralifestyle.com.bd shall become and remain the property of SaRa. Any such disclosure or submission by you is a declaration of the full release of all proprietary claims and/or intellectual rights regarding your submission. However, we will not use your name in connection with any such materials, information, suggestions, ideas or comments unless we first obtain your permission or otherwise are required by law to do so.</p>
                </div>
            </div>
        </div>



        <!-- END CONTENT -->
    </div>
</div>
</div>





