﻿
@{
    ViewBag.Title = "TrackYourOrders";
}




<div class="row margin-bottom-20 news-events" style="min-height:500px;"> 

    <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-5">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HELP</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Faq", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; FAQ</a>
                <a href="@Url.Action("PrivacyPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Privacy Policy</a>
                <a href="@Url.Action("TermsAndConditions", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Terms &amp; Conditions</a>
                <a href="@Url.Action("CookiePolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Cookie Policy</a>
                <a href="@Url.Action("ReturnPolicy", "WebContent")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-angle-right"></i> &nbsp; Return Policy</a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7">
        <h2 class="news-feed">TRACK YOUR ORDERS</h2>

        <div class="panel panel-default" style="">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Order Tracking
                    </a>
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse  in">
                <div class="panel-body">
                    <p class="text-justify" style="font-size: 13px;line-height: 24px;color: #000;">
                        To track your order simply go to the contact us page and select shipping and returns under Topic. Please note down your order number to insert into the required field. You will be notified shortly.

                        If you are a registered user you can check your order status at any time. To do so click on my order history after logging into your SaRa account.


                    </p>

                    <strong>Alternatively you may call +880 1885-998899 (call cost as per international rates) or email us at customerservice info@saralifestylebd.com</strong>



                </div>
            </div>
        </div>








        <!-- END CONTENT -->
    </div>
    
</div>











