﻿
@{
    ViewBag.Title = "VideoGallery";
}



<br /><br />

<div class="row margin-bottom-20 news-events" style="min-height:400px;">

    <h1 class="text-danger text-center">Under Development !!!</h1>

</div>
