﻿@model SaRaEcommerce.ViewModel.CheckoutModel
<link href="~/Content/invoice.css" rel="stylesheet" />
<div class="portlet light">
    <div class="portlet-body">
        <div class="invoice">
            <div class="row invoice-logo">
                <div class="col-xs-6 invoice-logo-space">
                    <img src="/Plugins/layout/img/logos/logo-shop-blue.png" class="img-responsive" alt="">
                </div>
                <div class="col-xs-6">
                    <p>
                        #@Model.OrderNumber / @Model.OrderDate <span class="muted">
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-4">
                    <h3>Client:</h3>
                    <ul class="list-unstyled">
                        <li>
                            @Model.FirstName
                        </li>
                        <li>
                            @Model.LastName
                        </li>
                        <li>
                            @Model.Phone
                        </li>
                        <li>
                            @Model.Email
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h3>About:</h3>
                    <ul class="list-unstyled">
                        <li>
                            Drem psum dolor sit amet
                        </li>
                        <li>
                            Laoreet dolore magna
                        </li>
                        <li>
                            Consectetuer adipiscing elit
                        </li>
                        <li>
                            Magna aliquam tincidunt erat volutpat
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 invoice-payment">
                    <h3>Shipping Details:</h3>
                    <ul class="list-unstyled">
                        <li>
                            <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                        </li>
                        <li>
                            <strong>Account Name:</strong> Cash On Delivery
                        </li>
                        <li>
                            <strong>Address:</strong> @Model.Address1, @Model.Address2
                        </li>
                        <li>
                            <strong>City:</strong> @Model.City, @Model.Country
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            @*<tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Unit Cost
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>*@
                        </thead>
                        <tbody>
                        @{
                            double total = 0;
                            int counter = 1;
                            foreach (var data in Model.CartProducts)
                            {

                                double subtotal = @data.Quantity * @data.Price;
                                total = total + subtotal;
                                <tr>
                                    <td>@counter</td>
                                    <td>@data.ProductName ( @data.Sku )</td>
                                    <td>Color: @data.ColorName, Size: @data.SizeName</td>
                                    <td>@data.Quantity</td>
                                    <td><span>&#2547</span> @data.Price</td>
                                    <td><span>&#2547</span> @subtotal</td>
                                </tr>
                                counter = counter + 1;
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="well">
                        <address>
                            <strong>SaRa Lifestyle</strong><br>
                            Avenue -2, Road -14, House -966<br>
                            Mirpur DOHS, Dhaka-1216, Bangladesh.<br>
                            <abbr title="Phone">P:</abbr> +88 01885 998899
                        </address>
                        <address>
                            <strong>Contact</strong><br>
                            <a href="http://saralifestyle.com.bd/">
                                service@saralifestyle.com.bd
                            </a>
                        </address>
                    </div>
                </div>
                <div class="col-xs-8 invoice-block">
                    <ul class="list-unstyled amounts">
                        <li>
                            <strong>Sub - Total amount:</strong> <span>&#2547</span> @total
                        </li>
                        <li>
                            <strong>Shipping Cost:</strong> <span>&#2547</span> 0
                        </li>
                        <li>
                            <strong>VAT:</strong> -----
                        </li>
                        <li>
                            <strong>Grand Total:</strong> <span>&#2547</span> @total
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
