﻿@model SaRaEcommerce.ViewModel.CheckoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Invoice</title>

    <link rel="shortcut icon" href="~/favicon.png">

    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->
    <!-- Fonts END -->

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <link href="/Plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css">
    <link href="/plugins/layout/css/themes/blue.css" rel="stylesheet" id="style-color">
    <link href="~/Content/invoice.css" rel="stylesheet" />
    <link href="/plugins/layout/css/custom.css" rel="stylesheet">


</head>

<body class="ecommerce">



    <div class="portlet light">
        <div class="portlet-body">
            <div class="invoice">
                <div class="row invoice-logo">
                    <div class="col-xs-6 invoice-logo-space">
                        <img src="/Plugins/layout/img/logos/logo-shop-blue.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-6">
                        <p>
                            #@Model.OrderNumber | ( @Model.OrderDate ) <span class="muted">
                            </span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4">
                        <h3>Client:</h3>
                        <ul class="list-unstyled">
                            <li>
                                @Model.FirstName&nbsp;@Model.LastName
                            </li>
                            <li>
                                @Model.Phone
                            </li>
                            <li>
                                @Model.Email
                            </li>
                            <li>
                                <strong>Address:</strong> @Model.Address1, @Model.Address2
                            </li>
                            <li>
                                <strong>City:</strong> @Model.City, @Model.Country
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3>About:</h3>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Home Delivery: </strong> 2-3 business days
                            </li>
                            <li>
                                15 Days Returns
                            </li>
                            <li>
                                You Can Change This Product<br/> From any Branch of SaRa Lifestyle Ltd.
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 invoice-payment">
                        <h3>Shipping Details:</h3>
                        <ul class="list-unstyled">
                            <li>
                                <strong>V.A.T Reg #:</strong> 001168308
                            </li>
                            <li>
                                <strong>Account Type:</strong> @Model.CardType
                            </li>
                            <li>
                                <strong>Payment Status:</strong> @Model.PaymentStatus
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Item
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Unit Cost
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                    </tr>
                            </thead>
                            <tbody>
                                @{
                                    double total = 0;
                                    int counter = 1;
                                    foreach (var data in Model.CartProducts)
                                    {

                                        double subtotal = @data.Quantity * @data.Price;
                                        total = total + subtotal;
                                        <tr>
                                            <td>@counter</td>
                                            <td>@Html.Raw(data.ProductName) ( @data.Sku )</td>
                                            <td>Color: @data.ColorName, Size: @data.SizeName</td>
                                            <td>@data.Quantity</td>
                                            <td>@data.Price TK</td>
                                            <td>@subtotal TK</td>
                                        </tr>
                                        counter = counter + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="well">
                            <address>
                                <strong>SaRa Lifestyle</strong><br>
                                Avenue -2, Road -14, House -966<br>
                                Mirpur DOHS, Dhaka-1216, Bangladesh.<br>
                                <abbr title="Phone">Phone:</abbr> +88 01885 998899
                            </address>
                            <address>
                                <strong>Contact</strong><br>
                                <a href="http://saralifestyle.com.bd/">
                                    ecom@saralifestyle.com.bd
                                </a>
                            </address>
                        </div>
                    </div>
                    <div class="col-xs-8 invoice-block">
                        <table class="amounts pull-right table" style="width: 40%; border-bottom: 1px solid black">
                            <tr>
                                <td><strong>Sub - Total amount:</strong></td>
                                <td>@total TK</td>
                            </tr>
                            <tr>
                                <td><strong>Shipping Cost:</strong></td>
                                <td>@Model.ShippingCost TK</td>
                            </tr>
                            <tr>
                                <td><strong>( 7.5% ) VAT:</strong></td>
                                <td>Included</td>
                            </tr>
                            @if (!string.IsNullOrWhiteSpace(Model.Discount))
                            {
                                var discountAmount = ((total * Convert.ToDouble(Model.Discount)) / 100);
                                <tr>
                                    <td><strong>Discount ( @Model.Discount% ) :</strong></td>
                                    <td>@discountAmount TK</td>
                                </tr>
                                <tr>
                                    <td><strong>Grand Total:</strong></td>
                                    <td>@Convert.ToDouble(Model.TotalAmount) TK</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><strong>Grand Total:</strong></td>
                                    <td>@Model.TotalAmount TK</td>
                                </tr>
                            }

                        </table>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Invoice was created on a computer and is valid without the signature and seal. <br/>Call us at +8801885998899,+8809639000333 at any time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/scriptGlobal")
    @Scripts.Render("~/bundles/scriptPage")
    <script src="/plugins/rateit/src/jquery.rateit.js" type="text/javascript"></script>
    <script type="text/javascript">
        loadTopCart();
        var setColor = function (color) {
            $('#style-color').attr("href", "/Plugins/layout/css/themes/" + color + ".css");
            $('.corporate .site-logo img').attr("src", "/Plugins/layout/img/logos/logo-corp-" + color + ".png");
            $('.ecommerce .site-logo img').attr("src", "/Plugins/layout/img/logos/logo-shop-" + color + ".png");
        }
        $(document).ready(function () {
            var panel = $('.color-panel');
            var themeStyle = JSON.parse(localStorage.getItem('themeStyle'));
            if (themeStyle != null) {
                setColor(themeStyle);
                $('.inline li', panel).removeClass("current");
                $(this).addClass("current");
            }

            Layout.init();
            Layout.initOWL();
            LayersliderInit.initLayerSlider();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();
            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();



            $(".button-first-view").click(function () {
                var productId = $(this).data("id");
                $.ajax
                    ({
                        url: "/Product/FastViewProduct",
                        data: { "productId": productId },
                        contentType: "application/html; charset=utf-8",
                        type: "GET",
                        cache: !0,
                        datatype: "html",
                        success: function (t) {
                            $("#modalBody").html(t);
                        },
                        error: function () {
                            $("#modalBody").html("some things wrong");
                        }
                    });
            });
        });
    </script>
</body>
</html>