﻿@model SaRaEcommerce.ViewModel.CheckoutModel
@{
    ViewBag.Title = "Index";
}
<style>
    body.preloader-site {
        overflow: hidden;
    }

    .preloader-wrapper {
        height: 100%;
        width: 100%;
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }

    .preloader-wrapper .preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 120px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("ProductList", "Product")">Store</a></li>
            <li class="active">Checkout</li>
        </ul>
    </div>
</div>

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
    <div class="preloader-wrapper" style="display: none">
        <div class="preloader">
            <img src="/Content/2.gif" alt="SaRa">
        </div>
    </div>
<!-- BEGIN CONTENT -->
<div class="col-md-12 col-sm-12">
<h1>Checkout</h1>
<!-- BEGIN CHECKOUT PAGE -->
<div class="panel-group checkout-page accordion scrollable" id="checkout-page">
@if (!Request.IsAuthenticated)
{
    <div id="checkout" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle">
                    Step 1: Checkout Options
                </a>
            </h2>
        </div>
    
        <div id="checkout-content" class="panel-collapse collapse in">
            <div class="panel-body row">
                <div class="col-md-6 col-sm-6">
                    <h3>New Customer</h3>
                    <p>Checkout Options:</p>
                    <div class="radio-list">
                        <label>
                            <input type="radio" id="register" name="account" value="register" checked="checked"> Create Account
                        </label>
                        <label>
                            <input type="radio" id="guest" name="account" value="guest"> Guest Checkout
                        </label>
                    </div>
                    <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                    <button class="btn btn-primary" id="Step1" type="button" data-toggle="collapse" data-parent="#checkout-page">Continue</button>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h3>Returning Customer</h3>
                    <p>I am a returning customer. Please @Html.ActionLink("Log in", "Login", "Account", routeValues: new {returnUrl = @Request.Url.AbsolutePath}, htmlAttributes: new {id = "loginLink"})</p>
                    <hr/>

                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="checkout" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle">
                    Step 1: Checkout Options
                </a>
            </h2>
        </div>
        <div id="checkout-content" class="panel-collapse collapse in">
            <div class="panel-body row">
                <p class="text-center">You are a registered customer</p>
                <hr/>
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" id="Step1" type="button" data-toggle="collapse" data-target="#shipping-address-content" data-parent="#checkout-page">Continue</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- BEGIN SHIPPING ADDRESS -->
<div id="shipping-address" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a data-toggle="collapse" id="shippingContent" data-parent="#checkout-page" href="#" class="accordion-toggle">
                Step 2: Delivery Details
            </a>
        </h2>
    </div>
    <div id="shipping-address-content" class="panel-collapse collapse">
        <form id="checkout-delivery">
            <div class="panel-body row">
                @Html.AntiForgeryToken()
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(c => c.FirstName)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.FirstName, new {@class = "form-control", value = Model.FirstName})
                        @Html.ValidationMessageFor(c => c.FirstName)

                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(c => c.LastName)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.LastName, new {@class = "form-control", value = Model.LastName})
                        @Html.ValidationMessageFor(c => c.LastName)
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(c => c.Email)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.Email, new {@class = "form-control", value = Model.Email})
                        @Html.ValidationMessageFor(c => c.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.Phone)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.Phone, new {@class = "form-control", value = Model.Phone})
                        @Html.ValidationMessageFor(c => c.Phone)
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(c => c.Address1)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.Address1, new {@class = "form-control", value = Model.Address1})
                        @Html.ValidationMessageFor(c => c.Address1)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.City)
                        @Html.TextBoxFor(c => c.City, new {@class = "form-control", value = Model.City })
                        @Html.ValidationMessageFor(c => c.City)
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(c => c.City)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.City, new {@class = "form-control", value = Model.City})
                        @Html.ValidationMessageFor(c => c.City)
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(c => c.Country)
                        <span style="color: red; margin-top: 15px;">*</span>
                        @Html.TextBoxFor(c => c.Country, new {@class = "form-control", value = Model.Country})
                        @Html.ValidationMessageFor(c => c.Country)
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary" type="button" id="" data-toggle="collapse" data-parent="#checkout-page" data-target="#checkout-content">Back</button>&nbsp;&nbsp;
                    <button class="btn btn-primary pull-right" type="button" id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#">Continue</button>
                </div>
                <div id="progress" class="modal">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END SHIPPING ADDRESS -->
<!-- BEGIN PAYMENT METHOD -->
<div id="payment-method" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a data-toggle="collapse" id="paymentMethod" data-parent="#checkout-page" href="#" class="accordion-toggle">
                Step 3: Payment Method
            </a>
        </h2>
    </div>
    <div id="payment-method-content" class="panel-collapse collapse">
        <div class="panel-body row">
            <div class="col-md-12">
                <p style="text-align: justify;font-weight: 600;color: #64aed9;">Please select the preferred payment method to use on this order.</p>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="radio-list">
                            <label class="element" id="element1" style="width: 100%; height:55px;background: #f6f6f6;padding: 15px; cursor: pointer;" title="Cash On Delivery">
                                <input type="radio" id="cashOnDelevery" name="radio" value="0">
                                <img src="~/plugins/layout/img/payments/Cash Delivery_2.png" class="img-responsive" alt="Cash On Delivery" title="Cash On Delivery" style="margin: -27px 0 0 25px;height: 35px;">
                                <p style="margin: -28px 0 0 90px;font-weight: 700;">Cash on Delivery</p>
                            </label>
                            
                            <label class="element" id="element2" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="DBBL Nexus Card Debit">
                                <input type="radio" id="dbbl_nexus" name="radio" value="1">
                                <img src="~/plugins/layout/img/payments/DBBL Nexus_2.png" class="img-responsive" alt="DBBL Nexus Debit" title="DBBL Nexus Debit" style="margin: -27px 0 0 25px;height: 35px;">
                                <p style="margin: -28px 0 0 90px;font-weight: 700;">DBBL Nexus Debit Card </p>
                            </label>
                            
                            <label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="DBBL Master Card Debit">
                                <input type="radio" id="dbbl_master_debit" name="radio" value="2">
                                <img src="~/plugins/layout/img/payments/DBBL_Master_2.png" class="img-responsive" alt="DBBL Master Card Debit" title="DBBL Master Card Debit" style="margin: -27px 0 0 25px;height: 35px;">
                                <p style="margin: -28px 0 0 90px;font-weight: 700;">DBBL Master Debit Card</p>
                            </label>

                            <label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="DBBL Visa Card Debit">
                                <input type="radio" id="dbbl_visa_debit" name="radio" value="3">
                                <img src="~/plugins/layout/img/payments/DBBL_Visa_2.png" class="img-responsive" alt="DBBL Visa Card Debit" title="DBBL Visa Card Debit" style="margin: -27px 0 0 25px;height: 35px;">
                                <p style="margin: -28px 0 0 90px;font-weight: 700;">DBBL Visa Debit Card</p>
                            </label>
                            
                            <!--label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="City Bank Payment">
                                <input type="radio" id="city_bank_payment" name="radio" value="8">
                                <img src="~/plugins/layout/img/payments/city_bank.jpg" class="img-responsive" alt="City Bank Payment" title="City Bank Payment" style="margin: -29px 0 0 25px;">
                                <p style="margin:-27px 0 0 90px;font-weight: 700;">City Bank Payment</p>
                            </label-->

			                @*<label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="Bkash Payment">
                                <input type="radio" id="bkash_payment" name="radio" value="7">
                                <img src="~/plugins/layout/img/payments/bKash.png" class="img-responsive" alt="Bkash Payment" title="Bkash Payment" style="margin: -34px 0 0 25px;">
                                <p style="margin:-27px 0 0 90px;font-weight: 700;">Bkash Payment</p>
                            </label>*@	
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radio-list">
                            <label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="Visa Card">
                                <input type="radio" id="visa_card" name="radio" value="4">
                                <img src="~/plugins/layout/img/payments/Visa.png" class="img-responsive" alt="Visa Card" title="Visa Card" style="margin: -27px 0 0 25px;height: 35px;">
                                <p style="margin: -28px 0 0 90px;font-weight: 700;">Visa Card</p>
                            </label>

                            <label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="Master Card">
                                <input type="radio" id="master_card" name="radio" value="5">
                                <img src="~/plugins/layout/img/payments/MasterCard.png" class="img-responsive" alt="Master Card" title="Master Card" style="margin: -27px 0 0 25px;height: 35px;">
                                <p style="margin: -28px 0 0 90px;font-weight: 700;">Master Card</p>
                            </label>

                            <label class="element" style="width: 100%; height: 55px; background: #f6f6f6; padding: 15px; cursor: pointer;" title="Rocket Mobile Banking">
                                <input type="radio" id="rocket_mobile_banking" name="radio" value="6" checked="checked">
                                <img src="~/plugins/layout/img/payments/Rocket.png" class="img-responsive" alt="Rocket Mobile Banking" title="Rocket Mobile Banking" style="margin: -34px 0 0 25px;height: 35px;">
                                <p style="margin: -22px 0 0 90px;font-weight: 700;">Rocket Mobile Banking</p>
                            </label>
                        </div>
                    </div>
                </div>                
                
                <div style="width: 100%; height: 10px;"></div>

                <div class="form-group">
                    <label for="delivery-payment-method">Add Comments About Your Order</label>
                    <textarea id="delivery-payment-method" rows="8" class="form-control"></textarea>
                </div>
                <div>
                    @*<p>For employee benefits <a id="employeeDiscount"><b><u>Click Here</u></b></a> || For Privilege Card <a id="privilegeCard"><b><u>Click Here</u></b></a></p>*@
                    <p>For GP Star <a id="gpStar"><b><u>Click Here</u></b></a></p>
                </div>
                <button class="btn btn-primary" type="submit" id="" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content">Back</button>
                <button class="btn btn-primary pull-right" type="submit" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page">Continue</button>
                <div class="checkbox pull-right">
                    <label>
                        <input type="checkbox" id="termAndCondition" name="checkbox" value="1"> I have read and agree to the <a title="Terms & Conditions" href="javascript:;">Terms & Conditions </a> &nbsp;&nbsp;&nbsp;
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAYMENT METHOD -->
<!-- BEGIN CONFIRM -->
<div id="confirm" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#checkout-page" id="confirm-method" href="#" class="accordion-toggle">
                Step 4: Confirm Order
            </a>
        </h2>
    </div>
    <div id="confirm-content" class="panel-collapse collapse">
        <div class="panel-body row">
            <div class="col-md-12 clearfix">
                <div class="table-wrapper-responsive">
                    <table id="cartTable"></table>
                </div>
                <div class="checkout-total-block" id="cartSummery">

                </div>
                <div class="clearfix"></div>
                <button class="btn btn-primary pull-right" type="submit" onclick="loader()" id="button-confirm"><i class="fa fa-check"></i> Confirm Order</button>
                <button class="btn btn-primary pull-right hidden" type="button" id="bKash_button" disabled="disabled"><i class="fa fa-check"></i> Pay with bkash</button>
                <a href="@Url.Action("Index", "Home")">
                    <button type="button" class="btn btn-danger pull-right margin-right-20"><i class="fa fa-close"></i> Cancel</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END CONFIRM -->
</div>
<!-- END CHECKOUT PAGE -->
</div>
<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
@Scripts.Render("~/bundles/jqueryval")
<script>
    var discountTypeG = "";
    function loader() {
        $(".preloader-wrapper").removeAttr("style");
        var body = $('body');
        body.addClass('preloader-site');

        checkoutConfirm();
    }

    function getPrice(str)
    {
        return str.replace(/[^0-9\.]/gi, '');
    }

    function checkoutConfirm(bKashObject) {
        var parsedDataCart = JSON.parse(localStorage.getItem('singleProduct'));
        if (parsedDataCart == null) {
            parsedDataCart = JSON.parse(localStorage.getItem('cartObjectArray'));
            if (parsedDataCart == null) {
                window.location.replace("/Product/ProductList");
            }
        } else {
            var data = [];
            data.push(parsedDataCart);
            parsedDataCart = data;
        }

        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var email = $("#Email").val();
        var phone = $("#Phone").val();
        var address1 = $("#Address1").val();
        var address2 = $("#Address2").val();
        var city = $("#City").val().trim();
        var country = $("#Country").val();
        var userId = '@Model.CustomerId';
        var cardType = $('input[name=radio]:checked').val();
        var totalAmount = getPrice($(".priceTotalCheckout").text());
        var discount = getPrice($(".discount").text());

        var shippingCost = city.toLowerCase() === "dhaka" ? 0 : 100;
        //var shippingCost = city.toLowerCase() === "dhaka" ? 0 : 0;
        var discountType = "";
        if (discount) {
            discountType = discountTypeG;
        }
        


        var userObject = {
            'CustomerId': userId,
            'firstName': firstName,
            'lastName': lastName,
            'email': email,
            'phone': phone,
            'address1': address1,
            'address2': address2,
            'city': city,
            'country': country,
            'shippingCost' : shippingCost,
            'CardType': cardType,
            'TotalAmount': totalAmount,
            'discount': discount,
            'discountType': discountType,
            'cartProducts': parsedDataCart,
            'BkashPaymentResponse' : bKashObject
        }

            
        var dataListUser = JSON.stringify({ 'checkout': userObject });

        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            url: '@Url.Action("SaveCheckout", "CheckOut")',
            data: dataListUser,
            success: function (data) {
                //console.log(data);
                if (data.isRedirect) {
                    window.onbeforeunload = null;
                    localStorage.removeItem("cartObjectArray");
                    localStorage.removeItem("singleProduct");
                    //window.setTimeout(function(){
                    //    window.location = data.redirectUrl;
                    //}, 1000);
                    window.location = data.redirectUrl;
                } else {
                    alert(data);
                    console.log(data);
                }
            },
            async: false,
            error: function(ex) {
                console.log(ex);
            },
            complete: function(){
                $('.preloader-wrapper').fadeOut();
                $('body').removeClass('preloader-site');
            }
        });
    }

    function bkashPayment(idToken, amount, appKey, invoiceNumber) {
        var paymentID;
        var paymentConfig;

        $.getScript("https://scripts.pay.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout.js")
            .done(function (script) {
                bKash.init({
                    paymentMode: 'checkout',
                    paymentRequest: {
                        amount: amount,
                        intent: 'sale',
                        authorization: idToken,
                        appKey: appKey,
                        currency: 'BDT',
                        merchantInvoiceNumber: invoiceNumber
                    },
                    createRequest: function (request) {
                        $.ajax({
                            url: '@Url.Action("CreatePayment", "CheckOut")',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(request),
                            beforeSend: function(request) {
                                request.setRequestHeader("Authorization", idToken);
                                request.setRequestHeader("X-APP-Key", appKey);
                            },
                            success: function (data) {
                                if (data && data.paymentID != null) {
                                    paymentID = data.paymentID;
                                    bKash.create().onSuccess(data);

                                } else {
                                    bKash.create().onError();//run clean up code
                                }
                            },
                            error: function () {
                                bKash.create().onError();//run clean up code
                            }
                        });
                    },
                    executeRequestOnAuthorization: function () {
                        var executePayment = {
                            Authorization: idToken,
                            AppKey: appKey,
                            paymentID: paymentID
                        };
                        $.ajax({
                            url: '@Url.Action("ExecutePayment", "CheckOut")',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(executePayment),

                            success: function (data) {
                                if (data && data.paymentID != null) {
                                    if (data && data.trxID != null) {
                                        bKash.execute().onError();//run clean up code
                                        checkoutConfirm(data);
                                    } else {
                                        alert('[ERROR] data : ' + JSON.stringify(data));
                                        bKash.execute().onError();//run clean up code
                                    }
                                } else {
                                    if (data.errorCode) {
                                        alert(data.errorMessage);
                                        bKash.execute().onError();
                                    }
                                }
                            },
                            error: function () {
                                alert('An alert has occured during execute');

                                bKash.execute().onError();//run clean up code

                            }
                        });
                    },
                    onClose: function () {
                        alert('user close the window');
                    }
                });
                $('#bKash_button').removeAttr('disabled');
            });
    }

    $(document).ready(function () {
        var discount = 0;

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        var parsedDataCart = JSON.parse(localStorage.getItem('singleProduct'));
        if (parsedDataCart == null) {
            parsedDataCart = JSON.parse(localStorage.getItem('cartObjectArray'));
            if (parsedDataCart == null) {
                window.location.replace("/Product/ProductList");
            }
        } else {

            $("#register").attr('disabled', true);
            $('#guest').attr('checked', true);

            window.onbeforeunload = function (event) {
                var s = "You have unsaved changes. Really leave?";
                event = event || window.event;
                if (event) {
                    // This is for IE
                    event.returnValue = s;
                }
                // This is for all other browsers
                return s;
            }

            $(window).unload(function () {
                window.localStorage.removeItem('singleProduct');
            });
        }

        Checkout.init();
        Layout.initUniform();
        var city = $("#City").val().trim();
        if (city.toLowerCase() !== "dhaka") {
            checkoutSummery(discount, 100);
            //checkoutSummery(discount, 0);

        } else {
            checkoutSummery(discount);
        }

        //for privilege Card Discount
        $("#privilegeCard").click(function() {
            $.confirm({
                title: 'privilege Card!',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter privilege Card Number Here</label>' +
                    '<input type="text" placeholder="Your Card Number" class="name form-control" required />' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.name').val();
                            if(!name){
                                $.alert('provide a valid card number');
                                return false;
                            }
                            $.ajax({
                                type: 'GET',
                                contentType: 'application/json',
                                dataType: 'json',
                                url: '@Url.Action("VerifyPrivilegeCard", "CheckOut")',
                                data: {cardNumber: name},
                                success: function (data) {
                                    if (data !== 0) {
                                        discount = data.Discount;
                                        discountTypeG = "privilege Card: " + data.CardNumber;
                                        var city = $("#City").val();
                                        if (city.toLowerCase() !== "dhaka") {
                                            checkoutSummery(discount, 100);
                                            //checkoutSummery(discount, 0);
                                        } else {
                                            checkoutSummery(discount);
                                        }
                                        $.alert("verification successfully done");
                                    } else {
                                        $.alert("Invalid Card Number");
                                    }
                                },
                                async: false,
                                error: function(ex) {
                                    console.log(ex);
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    }
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        });
        //End privilege Card Discount

        //for gpStar
        $("#gpStar").click(function() {
            $.confirm({
                title: 'GP STAR!',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter Your Coupon Number</label>' +
                    '<input type="text" placeholder="Your Coupon Number" class="name form-control" required />' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {
                            var name = this.$content.find('.name').val();
                            if (!name) {
                                $.alert('provide a valid Coupon number');
                                return false;
                            }
                            if (name === "SARASTAR") {
                                discount = 12;
                                discountTypeG = "GP Star: ";
                                var city = $("#City").val();
                                if (city.toLowerCase() !== "dhaka") {
                                    checkoutSummery(discount, 100);
                                    //checkoutSummery(discount, 0);
                                } else {
                                    checkoutSummery(discount);
                                }
                                $.alert("verification successfully done");
                            }
                            else {
                                $.alert("Invalid Card Number");
                            }
                        }
                    },
                    cancel: function () {
                        //close
                    }
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        });
        //End gpStar

        //for employee discount
        $("#employeeDiscount").click(function () {
            $.confirm({
                title: 'Employee Discount!',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter User ID</label>' +
                    '<input type="text" placeholder="Your ID" class="name form-control" required />' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'alt'],
                        action: function () {
                            var name = this.$content.find('.name').val();
                            if (!name) {
                                $.alert('provide a valid ID');
                                return false;
                            }
                            $.ajax({
                                type: 'GET',
                                contentType: 'application/json',
                                dataType: 'json',
                                url: '@Url.Action("GetEmployeeInfo", "CheckOut")',
                                data: { employeeId : name},
                                success: function (data) {
                                    if (data.Id != null) {
                                        $.confirm({
                                            title: 'Employee Info!',
                                            columnClass: 'col-md-6 col-md-offset-3',
                                            content: '' +
                                                '<div class="row">' +
                                                '<div class="col-md-6">' +
                                                '<div class="form-group">' +
                                                '<label>Employee Name</label>' +
                                                '<input type="text" class="form-control" value="' + data.Name + '" />' +
                                                '</div>' +
                                                '<div class="form-group">' +
                                                '<label>Department</label>' +
                                                '<input type="text" class="form-control" value="' + data.Department + '" />' +
                                                '</div>' +
                                                '</div>' +
                                                '<div class="col-md-6">' +
                                                '<div class="form-group">' +
                                                '<label>Phone</label>' +
                                                '<input type="text" class="form-control" value="' + data.Contact + '" />' +
                                                '</div>' +
                                                '<div class="form-group">' +
                                                '<label>Email</label>' +
                                                '<input type="text" class="form-control" value="' + data.Email + '" />' +
                                                '</div>' +
                                                '</div>' +
                                                '</div>',
                                            buttons: {
                                                Verify: {
                                                    text: 'Verify',
                                                    btnClass: 'btn-blue',
                                                    keys: ['enter', 'alt'],
                                                    action: function () {
                                                        var uniqueId = Math.floor(Math.random() * 899999 + 100000);

                                                        $.ajax({
                                                            type: 'GET',
                                                            contentType: 'application/json',
                                                            dataType: 'json',
                                                            url: '@Url.Action("VerifyEmployee", "CheckOut")',
                                                            data: { userId: uniqueId, userPhone: data.Contact},
                                                            success: function (data1) {
                                                                if (data1 == "0") {
                                                                    $.confirm({
                                                                        title: 'Verification Code!',
                                                                        content: '' +
                                                                            '<div class="form-group">' +
                                                                            '<label>Enter verification code here</label>' +
                                                                            '<input type="text" placeholder="Your verification code" class="code form-control" required />' +
                                                                            '</div>',
                                                                        buttons: {
                                                                            formSubmit: {
                                                                                text: 'Submit',
                                                                                btnClass: 'btn-blue',
                                                                                keys: ['enter', 'alt'],
                                                                                action: function () {
                                                                                    var code = this.$content.find('.code').val();
                                                                                    if(!code){
                                                                                        $.alert('provide a valid code');
                                                                                        return false;
                                                                                    }
                                                                                    if (code == uniqueId) {
                                                                                        discount = 10;
                                                                                        discountTypeG = "Snowtex Employee: " + data.Id;
                                                                                        var city = $("#City").val().trim();
                                                                                        if (city.toLowerCase() !== "dhaka") {
                                                                                            //checkoutSummery(discount, 0);
                                                                                            checkoutSummery(discount, 100);
                                                                                        } else {
                                                                                            checkoutSummery(discount);
                                                                                        }
                                                                                        $.alert("verification successfully done");
                                                                                    } else {
                                                                                        $.alert("Invalid code or request time out, please try again...");
                                                                                    }
                                                                                }
                                                                            },
                                                                            cancel: function () {
                                                                                //close
                                                                            }
                                                                        }
                                                                    });
                                                                } else {
                                                                    $.alert("Please try again");
                                                                }
                                                            },
                                                            async: false,
                                                            error: function(ex) {
                                                                console.log(ex);
                                                            },
                                                            complete: function(){
                                                            }
                                                        });
                                                    }
                                                },
                                                cancel: function () {
                                                    //close
                                                }
                                            }
                                        })
                                    } else {
                                        $.alert("invalid Employee Id");
                                        return false;
                                    }
                                    
                                },
                                async: false,
                                error: function(ex) {
                                    console.log(ex);
                                },
                                complete: function(){
                                }
                            });
                        }
                    },
                    cancel: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        })
        //end employee discount

        $("#checkout").on('click', '#Step1', function () {

            if ($("#register").prop("checked") || $("#guest").prop("checked")) {
                if ($("#register").prop("checked")) {
                    var url = '@Request.Url.AbsolutePath';
                    window.location.href = "/Account/Register?returnUrl=" + url;
                }
                $(this).attr('data-target', '#shipping-address-content');
                $("#shippingContent").attr('href', '#shipping-address-content');
            } else {
                var userId = "@Model.CustomerId";
                if (userId.length === 0) {
                    toastr.info("Please Select One Option!", 'Information!');
                }
            }

            $("#button-shipping-address").click(function () {
                if ($("#checkout-delivery").valid()) {
                    var city = $("#City").val().trim();
                    if (city.toLowerCase() !== "dhaka") {
                        $('#element1').addClass('hidden');
                       //checkoutSummery(discount, 0);
                        checkoutSummery(discount, 100);
                    } else {
                        checkoutSummery(discount);
                        $('#element1').removeClass('hidden');
                    }
                    $("#button-shipping-address").attr('data-target', '#payment-method-content');
                    $("#shippingContent").attr('href', '#shipping-address-content');
                    $("#paymentMethod").attr('href', '#payment-method-content');
                } else {
                    $("#button-shipping-address").attr('data-target', '#');
                    $("#shippingContent").attr('href', '#');
                    $("#paymentMethod").attr('href', '#');
                }
            });

            $("#payment-method").on('click', '#button-payment-method', function() {
                if (($("input[name*='radio']:checked").length) <= 0) {
                    //alert("You must check at least 1 box");
                    toastr.info("You must check at least 1 box", 'Information!');
                    return false;
                }
                else if (($("input[name*='checkbox']:checked").length) <= 0) {
                    //alert("You must select checkbox !");
                    toastr.info("Must have to select terms & conditions!", 'Information!');
                    //console.log("hi");
                    //return false;
                } else {
                    $("#button-payment-method").attr('data-target', '#confirm-content');
                    $("#paymentMethod").attr('href', '#payment-method-content');
                    $("#confirm-method").attr('href', '#confirm-content');

                    var paymentType = $('input[name=radio]:checked').val();
                    if (parseInt(paymentType) === 7) {
                        $('#button-confirm').addClass('hidden'); 
                        $('#bKash_button').removeClass('hidden');
                        var totalAmount = getPrice($(".priceTotalCheckout").text());
                        //var totalAmount = '10';
                        var invoiceNumber = Math.floor(1000 + Math.random() * 9000);
                        $.ajax({
                            type: 'GET',
                            contentType: 'application/json',
                            dataType: 'json',
                            url: '@Url.Action("GetIdTokenAndAppKey", "CheckOut")',
                            success: function (data) {
                                if (data == "0") {
                                    $.alert('unexpected error, please try again');
                                } else {
                                    bkashPayment(data.id_token, totalAmount, data.appKey, invoiceNumber.toString());
                                }
                            },
                            async: false,
                            error: function(ex) {
                                console.log(ex);
                            }
                        });

                        
                    } else {
                        $('#button-confirm').removeClass('hidden');
                        $('#bKash_button').addClass('hidden');
                    }
                }
            });
        });
    });


    $(".element").click(function() {
        //Remove the my-list--selected class from any elements that already have it
        $('.my-list--selected').removeClass('my-list--selected');
        //Add the my-list--selected class to the clicked element
        $(this).addClass('my-list--selected');
    });

</script>
