﻿@using SaRaEcommerce.ViewModel
@model SaRaEcommerce.ViewModel.CustomerReview
@{
    var reviewList = ViewBag.ReviewList as List<CustomerReview>;
}

@if (reviewList != null && reviewList.Count != 0)
{
    foreach (var review in reviewList)
    {
        <div class="review-item clearfix">
            <div class="review-item-submitted">
                <strong>@review.CustomerName</strong>
                <em>@review.ReviewDate</em>
                <div class="rateit" data-rateit-value="@review.Rating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
            </div>
            <div class="review-item-content">
                <p>@Html.Raw(review.Message)</p>
            </div>
        </div>
    }
}
else
{
    <p>There are no reviews for this product.</p>
}


<!-- BEGIN FORM-->
@using (Html.BeginForm("SaveCustomerReview", "Product", FormMethod.Post, new { @id = "reviewForm", @class = "reviews-form", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Write a review</h2>
    <div class="form-group">
        @Html.LabelFor(c => c.CustomerName) <span class="require" style="color:red;">*</span>
        @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CustomerName)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.CustomerEmail) <span class="require" style="color:red;">*</span>
        @Html.TextBoxFor(c => c.CustomerEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CustomerEmail)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.CustomerPhone)
        @Html.TextBoxFor(c => c.CustomerPhone, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CustomerPhone)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Message) <span class="require" style="color:red;">*</span>
        @Html.TextAreaFor(c => c.Message, new { @class = "form-control", @rows = "8" })
        @Html.ValidationMessageFor(c => c.Message)
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="range" value="4" step="0.25" id="backing5">
        <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
        </div>
    </div>
    <div class="padding-top-20">
        @Html.HiddenFor(c => c.ProductId)
        @Html.HiddenFor(c => c.Rating)
        @Html.HiddenFor(c => c.CustomerId)
        @Html.HiddenFor(c => c.ReviewId)

        <button type="submit" class="btn btn-primary" id="customerReview">Send</button>


    </div>

}


<!-- END FORM-->
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        @if (ViewBag.Message != null)
        {
            <text>
                var vMessage = '@ViewBag.Message';
                toastr.info(vMessage, 'Information!');
            </text>
        }

        $("#customerReview").click(function (e) {

            var rateValue = $("#backing5").val();
            $("#Rating").val(rateValue);

        });

    });

</script>
