﻿@using System.Globalization
@model SaRaEcommerce.ViewModel.ProductListPage


<!-- BEGIN PRODUCT LIST -->
@{
    int counter = 1;
    int length = Model.ProductModels.Count();
    foreach (var product in Model.ProductModels)
    {
        if (counter == 1)
        {
            @Html.Raw("<div class='row product-list'>");
        }
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="product-item product-grid">
                <div class="pi-img-wrapper">
                    <a href="#product-pop-up" data-id="@product.ProductId" style="border-width: 0px !important;" class="btn btn-default fancybox-fast-view button-first-view">
                        <img src="@Url.Content("/Files/ImageProductMain/" + product.PrimaryImage)" class="img-responsive" alt="@product.ProductName" />
                    </a>
                    <div>
                        <a href="@Path.Combine("/Files/ImageProductMain/", product.PrimaryImage)" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="#product-pop-up" data-id="@product.ProductId" class="btn btn-default fancybox-fast-view button-first-view">View</a>
                    </div>
                </div>
                <h3><a href="@Url.Action("SingleProduct", "Product", new { productId = product.ProductId })">@product.ProductName || @product.Sku</a></h3>
                @if (product.Discount > 0)
                {
                    <div class="pi-price">
                        <span style="text-decoration: line-through;">&#2547  @product.SellAmount</span>&nbsp;&nbsp; <span style=" color:red;">&#2547 @product.NewAmount</span>
                    </div>
                }
                else
                {
                    <div class="pi-price">
                        <span>&#2547  @product.SellAmount</span>
                    </div>
                }
                <a href="@Url.Action("SingleProduct", "Product", new { productId = product.ProductId })" class="btn btn-default add2cart">Details</a>
            </div>
            @if (product.Discount > 0)
            {
                <div class="sticker-discount">
                    <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@product.Discount%</p>
                    @*<p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">P</p>*@
                </div>
            }
            else
            {
                if (product.TotalQuantity < 1)
                {
                    <div class="sticker sticker-sale"></div>
                }
                else
                {
                    var vFromDate = DateTime.ParseExact(product.InsertDate, "dd/MM/yyyy", null);
                    var vToDate = DateTime.ParseExact(DateTime.Now.Date.ToString("dd/MM/yyyy"), "dd/MM/yyyy", null);
                    var compare = (int)(vToDate - vFromDate).TotalDays;

                    if (compare < 3)
                    {
                        <div class="sticker sticker-new"></div>
                    }
                }
            }
        </div>
        if (counter == 4)
        {
            @Html.Raw("</div>");
            counter = 1;
        }
        else
        {
            counter = counter + 1;
        }
    }
    if (length % 4 != 0)
    {
        @Html.Raw("</div>");
    }
}


<!-- END PRODUCT LIST -->


@if (!Model.ProductModels.Any())
{
    <div class="row product-list text-center">
        <div class="col-md-12">
            <div class="details" style="margin-top: 50px; margin-bottom: 50px;">
                <h3>Oops!  Nothing Found !!</h3>
                <p>
                    We can not find any product in this category.<br>
                    <a href="@Url.Action("ProductList", "Product")" class="link">Return Shop.</a>
                </p>
            </div>
        </div>
    </div>
}