﻿@model SaRaEcommerce.ViewModel.ProductListSideBar


<ul class="list-group margin-bottom-25 sidebar-menu hidden-xs">
    @foreach (var menuMain in Model.MenuMains)
    {
        if (!menuMain.MenuSubs.Any())
        {
            if (Model.CategoryId != null && Model.CategoryId == menuMain.MenuMainId)
            {
                <li class="list-group-item clearfix active"><a href="@Url.Action("ProductList", "Product", new { categoryId = menuMain.MenuMainId })"><i class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> @menuMain.MenuMainName</a></li>
            }
            else
            {
                <li class="list-group-item clearfix"><a href="@Url.Action("ProductList", "Product", new { categoryId = menuMain.MenuMainId })"><i class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> @menuMain.MenuMainName</a></li>
            }
        }
        else
        {
            if (Model.CategoryId != null && Model.CategoryId == menuMain.MenuMainId)
            {
                @Html.Raw("<li class='list-group-item clearfix dropdown active'>")
                @Html.Raw("<a href='javascript:void(0);' class='collapsed'><i class='fa fa-angle-right'></i>" + menuMain.MenuMainName + "</a>")
                @Html.Raw("<ul class='dropdown-menu' style='display: block;'>")
            }
            else
            {
                @Html.Raw("<li class='list-group-item clearfix dropdown'>")
                @Html.Raw("<a href='javascript:void(0);'><i class='fa fa-angle-right'></i>" + menuMain.MenuMainName + "</a>")
                @Html.Raw("<ul class='dropdown-menu'>")
            }
            foreach (var subMenu in menuMain.MenuSubs)
            {
                if (!subMenu.MenuSubSubs.Any())
                {
                    if (Model.SubCategoryId != null && Model.SubCategoryId == subMenu.MenuSubId)
                    {
                        <li class="active"><a href="@Url.Action("ProductList", "Product", new {categoryId = menuMain.MenuMainId, subCategoryId = subMenu.MenuSubId})"><i class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> @subMenu.MenuSubName</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("ProductList", "Product", new {categoryId = menuMain.MenuMainId, subCategoryId = subMenu.MenuSubId})"><i class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> @subMenu.MenuSubName</a></li>
                    }
                }
                else
                {
                    if (Model.SubCategoryId != null && Model.SubCategoryId == subMenu.MenuSubId)
                    {
                        @Html.Raw("<li class='list-group-item dropdown clearfix active'>")
                        @Html.Raw("<a href='javascript:void(0);' class='collapsed'><i class='fa fa-angle-right'></i>" + subMenu.MenuSubName + "</a>")
                        @Html.Raw("<ul class='dropdown-menu' style='display: block'>")
                    }
                    else
                    {
                        @Html.Raw("<li class='list-group-item dropdown clearfix'>")
                        @Html.Raw("<a href='javascript:void(0);'><i class='fa fa-angle-right'></i>" + subMenu.MenuSubName + "</a>")
                        @Html.Raw("<ul class='dropdown-menu'>")
                    }
                    foreach (var subSubMenu in subMenu.MenuSubSubs)
                    {
                        if (Model.SubSubCategoryId != null && Model.SubSubCategoryId == subSubMenu.MenuSubSubId)
                        {
                            <li class="active"><a href="@Url.Action("ProductList", "Product", new {categoryId = menuMain.MenuMainId, subCategoryId = subMenu.MenuSubId, subSubCategoryId = subSubMenu.MenuSubSubId})"><i class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>@subSubMenu.MenuSubSubName</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("ProductList", "Product", new {categoryId = menuMain.MenuMainId, subCategoryId = subMenu.MenuSubId, subSubCategoryId = subSubMenu.MenuSubSubId})"><i class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>@subSubMenu.MenuSubSubName</a></li>
                        }

                    }
                    @Html.Raw("</ul>")
                    @Html.Raw("</li>")
                }
            }
            @Html.Raw("</ul>")
            @Html.Raw("</li>")
        }
    }
</ul>

@*<div class="sidebar-filter margin-bottom-25 hidden-xs">
    <h2>Filter</h2>
    <div class="row col-md-12">
        <h3>Color</h3>
        <div class="checkbox-list" id="filter-color">
            @foreach (var data in Model.Colors)
            {
                if (data.Checked)
                {
                    <div class="col-md-6">
                        <label style="font-size:smaller"><input type="checkbox" checked="checked" name="filter-color" class="filter-color" value="@data.ColorId"> @data.ColorName</label>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <label style="font-size:smaller"><input type="checkbox" name="filter-color" class="filter-color" value="@data.ColorId"> @data.ColorName</label>
                    </div>
                }

            }

        </div>
    </div>
    <div class="row col-md-12">
        <h3>Size</h3>
        <div class="checkbox-list" id="filter-size">
            @foreach (var data in Model.Sizes)
            {
                if (data.Checked)
                {
                    <div class="col-md-6">
                        <label style="font-size:smaller"><input type="checkbox" name="filter-size" checked="checked" class="filter-size" value="@data.SizeId"> @data.SizeName</label>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <label style="font-size:smaller"><input type="checkbox" name="filter-size" class="filter-size" value="@data.SizeId"> @data.SizeName</label>
                    </div>
                }

            }
        </div>
    </div>
    <h3>_____________</h3>
    <p>
        @*<label for="amount">Range:</label>*@
        @*<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">*@
    @*</p>*@
    @*<div id="slider-range"></div>*@

@*</div>*@

<div class="sidebar-filter margin-bottom-25 hidden-xs">
    <h2>Filter</h2>
    <div class="row col-md-12">
        <h3>Color</h3>
        <div class="checkbox-list" id="filter-color">
            @foreach (var data in Model.Colors)
            {
                if (data.Checked)
                {
                    <div class="col-md-6">
                        <label style="font-size:smaller"><input type="checkbox" checked="checked" name="filter-color" class="filter-color" value="@data.ColorId"> @data.ColorName</label>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <label style="font-size:smaller"><input type="checkbox" name="filter-color" class="filter-color" value="@data.ColorId"> @data.ColorName</label>
                    </div>
                }

            }

        </div>
    </div>


    <div class="row col-md-12 margin-bottom-10">
        <h3>Size</h3>
        <div class="checkbox-list" id="filter-size">
            @foreach (var data in Model.Sizes)
            {
                if (data.Checked)
                {
                    <div class="col-md-6">
                        <label style="font-size: smaller"><input type="checkbox" name="filter-size" checked="checked" class="filter-size" value="@data.SizeId"> @data.SizeName</label>
                    </div>
                }
                else
                {
                    <div class="col-md-6">
                        <label style="font-size: smaller"><input type="checkbox" name="filter-size" class="filter-size" value="@data.SizeId"> @data.SizeName</label>
                    </div>
                }

            }
        </div>
    </div>

    <h3>Price Range</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <input type="number" class="minimum" value="@Model.MinPrice" placeholder="Min" style="padding: 5px; width: 90px; height: 30px; border: 1px solid #ddd; border-radius: 3px !important;" />
            </div>

            <div class="col-md-4 col-sm-4 col-lg-4">
                <input type="number" class="maximum" value="@Model.MaxPrice" placeholder="Max" style="padding: 5px; width: 90px; height: 30px; border: 1px solid #ddd; border-radius: 3px !important;" />
            </div>

            <div class="col-md-4 col-sm-4 col-lg-4">
                <button type="button" class="btn btn-info btn-sm" id="priceSearch" style="width: 45px; height: 30px; border-radius: 3px !important; padding: 5px;"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>


</div>

<div class="sidebar-products clearfix hidden-xs">
    <h2>Best selling Product</h2>
    @foreach (var data in Model.ProductModels)
    {
        <div class="item">
            <a>
                <img src="@Path.Combine("/Files/ImageProductMain/", data.PrimaryImage)" width="65px" alt="@data.ProductName">
            </a>
            <h3><a href="@Url.Action("SingleProduct", "Product", new { productId = data.ProductId })">@data.ProductName (@data.Sku)</a></h3>
            <div class="price"><span>&#2547 </span> @data.SellAmount</div>
        </div>
    }
</div>

<!--Filter Products For Mobile Devices -->
<div class="filter-modal">

    <i class="fa fa-times-circle-o" aria-hidden="true" style="color: #000; padding: 10px; font-size: 23px; float: right;"></i>

    <div class="close-button">

        @*<i class="fa fa-times-circle-o" aria-hidden="true" style="color: #000; padding: 10px; font-size: 23px;"></i>*@

    </div>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-12 col-sm-12 col-xs-12">

            <div id="filter_sidebar" class="sidebar-filter" style="background: #f9f9f9; padding: 15px 15px 20px; width: 312px; margin: 20px auto; box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); min-height: 400px;">
                <h2>Filter</h2>

                <h3>Color</h3>

                <div class="row checkbox-list" id="filter-color-mobile">

                    @foreach (var data in Model.Colors)
                    {
                        if (data.Checked)
                        {
                            <div class="col-md-6 col-xs-6">
                                <label style="font-size: smaller"><input type="checkbox" checked="checked" name="filter-color-mobile" class="filter-color-mobile" value="@data.ColorId"> @data.ColorName</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 col-xs-6">
                                <label style="font-size: smaller"><input type="checkbox" name="filter-color-mobile" class="filter-color-mobile" value="@data.ColorId"> @data.ColorName</label>
                            </div>
                        }

                    }
                </div>

                <hr />


                <h3>Size</h3>
                <div class="row checkbox-list" id="filter-size-mobile">


                    @foreach (var data in Model.Sizes)
                    {
                        if (data.Checked)
                        {
                            <div class="col-md-6 col-xs-6">
                                <label style="font-size: smaller"><input type="checkbox" checked="checked" name="filter-size-mobile" class="filter-size-mobile" value="@data.SizeId"> @data.SizeName</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 col-xs-6">
                                <label style="font-size: smaller"><input type="checkbox" name="filter-size-mobile" class="filter-size-mobile" value="@data.SizeId"> @data.SizeName</label>
                            </div>
                        }

                    }
                </div>
                <hr/>
                <h3 style="margin-top: -20px;">Price Range</h3>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <input type="number" class="form-group min-price-mobile" value="@Model.MinPrice" placeholder="Min" style="padding: 5px; width: 130px; height: 30px; border: 1px solid #ddd; border-radius: 3px !important;" />
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <input type="number" class="max-price-mobile" value="@Model.MaxPrice" placeholder="Max" style="padding: 5px; width: 130px; height: 30px; border: 1px solid #ddd; border-radius: 3px !important;" />
                    </div>
                </div>

                <div class="row" style="margin-top: 75px; margin-bottom: 0px;">
                    <div class="col-xs-6" style="height: 40px; width: 45%; background: #5ca0d3; margin-left: 16px;" id="reset_button">
                        <a href="#" id="filter-reset-mobile" style="color: #fff; text-align: center; line-height: 41px; font-size: 18px; padding: 40px; font-weight: normal; text-decoration: none;">Reset</a>
                    </div>
                    <div class="col-xs-6" style="height: 40px; width: 45%; background: #ED5158;">
                        <a href="#" id="filter-done-mobile" style="color: #fff; text-align: center; line-height: 41px; font-size: 18px; padding: 40px; font-weight: normal; text-decoration: none;">Done</a>
                    </div>
                </div>


            </div>
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
</div>
<!--End Filter Products For Mobile Devices -->

<script>
    $(document).ready(function () {
        //$("body").on('DOMSubtreeModified', "slider-range", function() {
        //    alert('changed');
        //});
        //$(".ui-slider-range").change(function() {
        //    $.confirm({
        //        icon: 'fa fa-spinner fa-spin',
        //        title: 'Working!',
        //        content: 'This feature is under development.',
        //        buttons: {
        //            Ok: function () {
        //            }
        //        }
        //    });
        //});
        //jQuery('#amount').click(function() {
        //    alert("hi");
        //});

    });
</script>