﻿@model SaRaEcommerce.ViewModel.OrderStatus
<!-- Modal Header -->
<div class="modal-header" style="min-height: 96.4286px;">
    <div class="row">
        <div class="col-md-6 text-left">
            <h4 style="text-align: left !important">Order No. &nbsp;@Model.OrderNumber</h4>
            @*<p class="text-muted">Approved (@Model.OrderSummeries.Count())</p>*@
            @if (Model.DeliveryStatus == "processing")
            {
                <p class="text-danger">@Model.DeliveryStatus</p>
            }
            else if(Model.DeliveryStatus == "Canceled")
            {
                <p class="text-danger">@Model.DeliveryStatus</p>
                <p class="muted">Remarks message: <span class="muted">@Model.RejectRemarks</span></p>
            }
            else
            {
                <p class="text-success">@Model.DeliveryStatus</p>
            }

        </div>
        <div class="col-md-6">
            <p class="text-right"><strong>Shipping Address:</strong></p>
            <p class="text-right">@Model.CustomerName</p>
            <p class="text-right">@Model.CustomerAddress</p>
            <p class="text-right">Phone : @Model.CustomerPhone</p>
        </div>
    </div>
    @*<h4 class="modal-title" id="myModalLabel" style="text-align: left;">Order No. @Model.OrderNumber</h4>
    <p class="text-muted">Approved (@Model.OrderSummeries.Count())</p>
    <p class="text-danger">@Model.DeliveryStatus</p>*@
    @*<div class="modal_header_top">
        <p class="text-right"><strong>Shipping Address:</strong></p>
        <p class="text-right">@Model.CustomerName</p>
        <p class="text-right">@Model.CustomerAddress</p>
        <p class="text-right">Phone : @Model.CustomerPhone</p>
    </div>*@
</div>

<!-- Modal Body -->
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Sub Total</th>
                </tr>
            </thead>
            <tbody>
            @{
                int counter = 1;
                double subTotal = 0;
                double shipping = Model.ShippingCost;
                double discountAmount = 0;
                double discount = !string.IsNullOrWhiteSpace(Model.DiscountPercentage) ? Convert.ToDouble(Model.DiscountPercentage) : 0;
                foreach (var data in Model.OrderSummeries)
                 {
                     <tr>
                         <td>@counter</td>
                         <td><img style='width: 50px;height: 50px;border: 1px solid #ddd;padding: 3px;' src='@Path.Combine("/Files/ImageProductMain/",data.ProductImage)' /></td>
                         <td>@Html.Raw(data.ProductName + " (" +data.Sku + ")")</td>
                         <td>Color: @data.ColorName<br/> Size: @data.SizeName</td>
                         <td>@data.Price</td>
                         <td class="text-center">@data.Quantity</td>
                         <td class="text-center">@data.TotalPrice</td>
                     </tr>
                    counter = counter + 1;
                    subTotal = subTotal + data.TotalPrice;
                }
                discountAmount = (subTotal * discount) / 100;
                double total = (subTotal - discountAmount) + shipping;
            }
            </tbody>
        </table>
    </div>
    <div class="pull-right">
        <p class="text-right">Sub Total:&nbsp;&nbsp;&nbsp;&nbsp; @subTotal Tk.</p>
        <p class="text-right">Shipping:&nbsp;&nbsp;&nbsp;&nbsp; @shipping Tk.</p>
        @if (discountAmount > 0)
        {
            <p class="text-right">Discount (@discount%):&nbsp;&nbsp;&nbsp;&nbsp; @discountAmount Tk.</p>
        }
        <p class="text-right"><strong>Total Payable:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @total Tk.</strong></p>
    </div>

</div>

<!-- Modal Footer -->
<div class="modal-footer" style="border:none; margin-top: 180px;">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close </button>
</div>
