﻿@model SaRaEcommerce.ViewModel.CustomerModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="col-md-12 margin-bottom-40">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">My Account</li>
    </ul>

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40 user-profile">
        <!-- BEGIN SIDEBAR -->
    <div class="col-md-3 col-sm-3">

        <ul class="list-group user-dashboard">
           <a href="#my-account" class="list-group-item list-group-item-action bg-light clearfix"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; My Account</a>
           <a href="#my-order" class="list-group-item list-group-item-action bg-light clearfix"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; My Orders</a>
           <a href="#" id="myWishlist" class="list-group-item list-group-item-action bg-light clearfix"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp; My Wishlist</a>
           <a href="#" id="customerReviews" class="list-group-item list-group-item-action bg-light clearfix"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;My Reviews</a>

        </ul>
    </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-7 profile">

    <div class="content-page" id="my-account">
    <p class="text-center" style="color:#2F3337;font-size:20px;font-weight:600;">Welcome <strong> ( @Model.FirstName @Model.LastName ) </strong> to SaRa Lifestyle.</p>

    <hr>
    <!-- User Account Information Update With Nodal-->
    <!-- Modal -->
    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            @using (Html.BeginForm("UpdateUser", "CustomerProfile", FormMethod.Post, new {@class = "", role = "form"}))
            {
                <div class="modal-content" style="box-shadow:none;">
                    <!-- Modal Header -->
                    @*<div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Update Your Account Info
                        </h4>
                    </div>*@

                    <!-- Modal Body -->
                    <div class="modal-body">



                        <!--START UPDATE FORM-->
                        <div class="update_account_info">
                           

                                    @*<div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10 col-xs-12">
                                            <h3>Create Your Account</h3>
                                            <p> Enter your personal details below:</p>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>*@

                                    <div class="row">

                                        <div class="col-md-1 col-sm-1"></div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.FirstName, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-font"></i>
                                                    @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control placeholder-no-fix", @placeholder = "Update First Name" })
                                                    @Html.ValidationMessageFor(c => c.FirstName)

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5  col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.LastName, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-font"></i>
                                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control placeholder-no-fix", @placeholder = "Update Last Name" })
                                                    @Html.ValidationMessageFor(c => c.FirstName)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1  col-sm-1"></div>

                                    </div>
                                    
                                    <div class="row">

                                        <div class="col-md-1 col-sm-1"></div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Email, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-envelope"></i>
                                                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Update Email" })
                                                    @Html.ValidationMessageFor(c => c.Email)

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5  col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Phone, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-phone"></i>
                                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control placeholder-no-fix", @placeholder = "Update Phone" })
                                                    @Html.ValidationMessageFor(c => c.Phone)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1  col-sm-1"></div>

                                    </div>
                                    
                                    <div class="row">

                                        <div class="col-md-1 col-sm-1"></div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Address1, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-map-marker"></i>
                                                    @Html.TextBoxFor(c => c.Address1, new { @class = "form-control placeholder-no-fix", @placeholder = "Update Address1" })
                                                    @Html.ValidationMessageFor(c => c.Address1)

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5  col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Address2, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-map-marker"></i>
                                                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control placeholder-no-fix", @placeholder = "Update Address2" })
                                                    @Html.ValidationMessageFor(c => c.Address2)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1  col-sm-1"></div>

                                    </div>
                                    
                                    <div class="row">

                                        <div class="col-md-1 col-sm-1"></div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.City, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-map-marker"></i>
                                                    @Html.TextBoxFor(c => c.City, new { @class = "form-control placeholder-no-fix", @placeholder = "Update City" })
                                                    @Html.ValidationMessageFor(c => c.City)

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5  col-sm-5 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Country, new { @class = "control-label" })
                                                <div class="input-icon">
                                                    <i class="fa fa-map-marker"></i>
                                                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control placeholder-no-fix", @placeholder = "Update Country" })
                                                    @Html.ValidationMessageFor(c => c.Country)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1  col-sm-1"></div>

                                    </div>
                                    
                                    <div class="row">

                                        <div class="col-md-1  col-sm-1"></div>

                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Gender, new { @class = "control-label" })
                                                <div class="checkbox-list">
                                                    Male
                                                    @if (Model.Gender != null && Model.Gender == "Male")
                                                    {
                                                        @Html.RadioButtonFor(model => model.Gender, "Male", new {@checked = true})
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.Gender, "Male")
                                                    }
                                                    Female
                                                    @if (Model.Gender != null && Model.Gender == "Female")
                                                    {
                                                        @Html.RadioButtonFor(model => model.Gender, "Female", new {@checked = true})
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButtonFor(model => model.Gender, "Female")
                                                    }
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-1  col-sm-1"></div>

                                    </div>
                                    
                                    
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary pull-right">
                                                Save changes
                                            </button>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    


                       

                         
                            
                        </div>
                        <!-- END UPDATE FORM -->



                    </div>

                    <!-- Modal Footer -->
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>*@
                </div>
            }

        </div>
    </div>
    <!-- End User Account Information Update With Nodal-->

    <div class="portlet blue-hoki box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Account Info
            </div>
            <div class="actions">
                <a style="color:#fff;border:1px solid #fff;" href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalNorm">
                    <i class="fa fa-pencil" style="color:#fff;"></i> Edit
                </a>
            </div>
        </div>
        @*@<div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 col-sm-5 col-xs-5 name">
                    First Name:
                </div>
                <div class="col-md-1 col-sm-1 col-xs">\</div>
                <div class="col-md-6 col-sm-6 col-xs-6 name">
                    @Model.FirstName


                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Last Name:
                </div>
                <div class="col-md-7 name">
                    @Model.LastName
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Email:
                </div>
                <div class="col-md-7 name">
                    @Model.Email
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Phone:
                </div>
                <div class="col-md-7 name">
                    @Model.Phone
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Address 1:
                </div>
                <div class="col-md-7 name">
                    @Model.Address1
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Address 2:
                </div>
                <div class="col-md-7 name">
                    @Model.Address2
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Gender:
                </div>
                <div class="col-md-7 name">
                    @Model.Gender
                </div>
            </div>
        </div>*@

        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                 
                    <tbody>
                    <tr>

                        <td class="highlight">
                            <div class="success">
                            </div>
                         
                                <a style="text-decoration: none;">First Name</a>
                        </td>
                        <td>
                            @Model.FirstName
                        </td>


                    </tr>
                    <tr>
                        <td class="highlight">
                            <div class="success">
                            </div>
                            
                                <a style="text-decoration: none;">Last Name</a> 
                        </td>
                        <td>
                            @Model.LastName
                        </td>

                    </tr>

                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                             
                                    <a style="text-decoration: none;">Email</a> 
                            </td>
                            <td>
                                @Model.Email
                            </td>

                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a style="text-decoration: none;">Phone</a> 
                            </td>
                            <td>
                                @Model.Phone
                            </td>

                        </tr>

                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a style="text-decoration: none;">Address 1</a>
                            </td>
                            <td>
                                @Model.Address1
                            </td>

                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a style="text-decoration: none;">Address 2</a>
                            </td>
                            <td>
                                @Model.Address2
                            </td>

                        </tr>
                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a style="text-decoration: none;">Gender</a> 
                            </td>
                            <td>
                                @Model.Gender
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- END PORTLET-->



    </div>


    </div>
    <!-- Modal Page For Order Details-->
    <div class="modal fade" id="myModalDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="SummeryModal" style="box-shadow: none;">

            </div>
        </div>
    </div>
    <!--End Modal Page For Order Details-->

    <div class="content-page" id="my-order">
        <h3>My Orders</h3>
        <p class="text-muted" id="customerTotalOrder">Total Order: @Model.OrderStatuses.Count()</p>
        <hr/>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Order Summary
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="customerOrderTable">
                        <thead>
                            <tr>
                                <th class="text-center">Order No</th>
                                <th class="text-center">Order Date</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Order Status</th>
                                <th class="text-center">Payment Type</th>
                                <th class="text-center">Payment Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.OrderStatuses.Any())
                        {
                            foreach (var data in Model.OrderStatuses)
                            {
                            <tr>
                                <td class="text-center">@data.OrderNumber</td>
                                <td class="text-center">@data.OrderDate</td>
                                <td class="text-center">@data.CustomerPhone</td>
                                @if (data.DeliveryStatus == "approved")
                                {
                                    <td class="text-center" style="color: green">@data.DeliveryStatus</td>
                                }
                                else
                                {
                                    <td class="text-center" style="color: red">@data.DeliveryStatus</td>
                                }
                                <td class="text-center">@data.PaymentType</td>
                                <td class="text-center">@data.PaymentStatus</td>
                                <td class="text-center">
                                    <a href="#" class="orderDetails" data-ordernumber="@data.OrderNumber" data-customerid="@Model.CustomerId" data-toggle="modal" data-target="#myModalDetails">Details</a> |

                                    @if (data.DeliveryStatus == "processing")
                                    {
                                        <a href="#" class="cancelOrder" data-ordernumber="@data.OrderNumber" data-customerid="@Model.CustomerId">Cancel |</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="cancelRequest" data-ordernumber="@data.OrderNumber" data-customerid="@Model.CustomerId">Cancel Request</a>
                                    }

                                        @*<a href="@Url.Action("OrderTracking", "CustomerProfile")" class="track_order" data-ordernumber="@data.OrderNumber" data-customerid="@Model.CustomerId">Track Order</a>*@

                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Data Found</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

    <div class="content-page" id="my-wishlist">
        <h3>My Wish List</h3>
        <div class="goods-page">
            <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                    <table summary="Shopping cart">
                        <tr>
                            <th class="goods-page-image">Image</th>
                            <th class="goods-page-description">Description</th>
                            <th class="goods-page-stock">Stock</th>
                            <th class="goods-page-price" colspan="2">Unit price</th>
                        </tr>
                        <tr>
                            <td class="goods-page-image">
                                <a href="javascript:;"><img src="/plugins/pages/img/products/model3.jpg" alt="Berry Lace Dress"></a>
                            </td>
                            <td class="goods-page-description">
                                <h3><a href="javascript:;">Cool green dress with red bell</a></h3>
                                <p><strong>Item 1</strong> - Color: Green; Size: S</p>
                                <em>More info is here</em>
                            </td>
                            <td class="goods-page-stock">
                                In Stock
                            </td>
                            <td class="goods-page-price">
                                <strong><span>$</span>47.00</strong>
                            </td>
                            <td class="del-goods-col">
                                <a class="del-goods" href="javascript:;">&nbsp;</a>
                                <a class="add-goods" href="javascript:;">&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="goods-page-image">
                                <a href="javascript:;"><img src="/plugins/pages/img/products/model4.jpg" alt="Berry Lace Dress"></a>
                            </td>
                            <td class="goods-page-description">
                                <h3><a href="javascript:;">Cool green dress with red bell</a></h3>
                                <p><strong>Item 1</strong> - Color: Green; Size: S</p>
                                <em>More info is here</em>
                            </td>
                            <td class="goods-page-stock">
                                In Stock
                            </td>
                            <td class="goods-page-price">
                                <strong><span>$</span>47.00</strong>
                            </td>
                            <td class="del-goods-col">
                                <a class="del-goods" href="javascript:;">&nbsp;</a>
                                <a class="add-goods" href="javascript:;">&nbsp;</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="content-page" id="my-reviews">
        <h3>My Reviews (2)</h3>
        <div id="myTabContent" class="tab-content" style="background-color: #fff;">
            <div class="tab-pane fade" id="Description">
                <p>Lorem ipsum dolor ut sit ame dolore adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. </p>
            </div>

            <div class="tab-pane fade in active" id="Reviews">
                <!--<p>There are no reviews for this product.</p>-->
                <div class="review-item clearfix">
                    <div class="review-item-submitted">
                        <strong>Superadmin</strong>
                        <em>30/12/2013 - 07:37</em>
                        <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    </div>
                    <div class="review-item-content">
                        <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                    </div>
                </div>
                <div class="review-item clearfix">
                    <div class="review-item-submitted">
                        <strong>Superadmin</strong>
                        <em>13/12/2013 - 17:49</em>
                        <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    </div>
                    <div class="review-item-content">
                        <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>
        <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

</div>


<script type="text/javascript">
    jQuery(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        //Layout.init();    
        //Layout.initOWL();
        //Layout.initTwitter();


        // jQury for right side content //
        $('.content-page:not(:first)').hide();
        $('.list-group a').click(function (event) {
            event.preventDefault();
            var content = $(this).attr('href');
            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active');
            $(content).show();
            $(content).siblings('.content-page').hide();
        });
        // End jQury for right side content //

        $('#my-order').on('click', '.cancelRequest', function () {
            $.confirm({
                icon: 'fa fa-spinner fa-spin',
                title: 'Working!',
                content: 'This feature is under development. If you want to cancel your order please contact with us!!!',
                buttons: {
                    Ok: function () {
                    }
                }
            });
        });

        $("#myWishlist").click(function() {
            $.confirm({
                icon: 'fa fa-spinner fa-spin',
                title: 'Working!',
                content: 'This feature is under development.',
                buttons: {
                    Ok: function () {
                    }
                }
            });
        });

        $("#customerReviews").click(function () {
            $.confirm({
                icon: 'fa fa-spinner fa-spin',
                title: 'Working!',
                content: 'This feature is under development.',
                buttons: {
                    Ok: function () {
                    }
                }
            });
        });

        $('#my-order').on('click', '.cancelOrder', function () {
            var orderNo = $(this).data("ordernumber");
            var customerId = $(this).data("customerid");

            $.confirm({
                icon: 'fa fa-spinner fa-spin',
                title: 'Working!',
                content: 'If you cancel this, your order will remove permanently! do you want to continue???',
                buttons: {
                    confirm: {
                        text: 'Confirm',
                        btnClass: 'btn-danger',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: 'POST',
                                url: '/CustomerProfile/DeleteCustomerOrder/',
                                data: { orderNumber: orderNo, customerId: customerId },
                                dataType: 'json',
                                success: function (data) {
                                    $("#my-order").load(" #my-order > *");
                                    toastr.info(data, 'Information!');
                                },
                                error: function () {
                                    toastr.info("something not right, please contact with admin!!", 'Information!');
                                }
                            });
                        }
                    },
                    cancel: function () {
                        toastr.info("Canceled", 'Information!');
                    }
                }
            });
        });
            
        $('#my-order').on('click', '.orderDetails', function () {
            var orderNo = $(this).data("ordernumber");
            var customerId = $(this).data("customerid");

            $.ajax
            ({
                url: "/CustomerProfile/GetCustomerOrderSummery",
                data: { orderNumber: orderNo, customerId: customerId },
                contentType: "application/html; charset=utf-8",
                type: "GET",
                cache: !0,
                datatype: "html",
                success: function (t) {
                    $("#SummeryModal").html("");
                    $("#SummeryModal").append(t);
                },
                error: function () {
                    $("#SummeryModal").html("");
                    $("#SummeryModal").append("some things wrong");
                }
            });
        });
    });
</script>

