﻿
@{
    ViewBag.Title = "OrderTracking";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center" style="padding: 15px;border: 1px solid #d3d3d3;background: #fdfdfd;">Your Order Shipping Information</h2>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row" style="min-height: 400px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="work-process">

            <div class="row">
                <div class="col-md-1 col-sm-1"></div>

                <div class="col-sm-2 col-md-2 item">
                    <div class="inner-content">
                        <i class="fa fa-shopping-cart fa-4x"></i>
                        <span class="title">
                            অর্ডার গ্রহণ করা হয়েছে<br>
                            <h4>Jul 25, 2019 09:55 AM</h4>
                        </span>
                        <span class="dot"></span>
                    </div>
                    <i class="fa fa-arrow-right the-arrow-icon icon-step-right"></i>
                </div>

                <div class="col-sm-2 col-md-2 item">
                    <div class="inner-content">
                        <i class="fa fa-recycle fa-4x"></i>
                        <span class="title wow fadeIn" data-wow-duration="100ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 100ms; animation-delay: 500ms; animation-name: fadeIn;">
                            অর্ডার প্রস্তুতিকরণ চলছে <br>
                            <h4>Jul 25, 2019 09:55 AM</h4>
                        </span>
                    </div>
                    <i class="fa fa-arrow-right the-arrow-icon icon-step-right"></i>
                </div>

                <div class="col-sm-2 col-md-2 item">
                    <div class="inner-content">
                        <i class="fa fa-archive fa-4x"></i>
                        <span class="title wow fadeIn" data-wow-duration="100ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 100ms; animation-delay: 500ms; animation-name: fadeIn;">
                            অর্ডার প্রস্তুত হয়েছে <br>
                            <h4>Jul 25, 2019 09:55 AM</h4>
                        </span>
                    </div>
                    <i class="fa fa-arrow-right the-arrow-icon icon-step-right"></i>
                </div>

                <div class="col-sm-2 col-md-2 item">
                    <div class="inner-content">
                        <i class="fa fa-rocket fa-4x"></i>
                        <span class="title wow fadeIn" data-wow-duration="100ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 100ms; animation-delay: 500ms; animation-name: fadeIn;">
                            অর্ডার কুরিয়ারের কাছে <br>
                            <h4>Jul 25, 2019 09:55 AM</h4>
                        </span>
                    </div>
                    <i class="fa fa-arrow-right the-arrow-icon icon-step-right"></i>
                </div>


                <div class="col-sm-2 col-md-2 item last">
                    <div class="inner-content">
                        <i class="fa fa-folder-open-o fa-4x"></i>
                        <span class="title wow fadeIn" data-wow-duration="100ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 100ms; animation-delay: 500ms; animation-name: fadeIn;">
                            অর্ডার ডেলিভারি হয়েছে <br>
                            <h4>Jul 25, 2019 09:55 AM</h4>
                        </span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

        </div>


        <div class="order_tracking_info">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ul type="square" style="line-height: 25px;font-size: 15px;">
                        <li><span class="text-secondary">Jul 28, 2019 05:21 PM &nbsp; অর্ডারটি ডেলিভারি দেয়া হয়েছে</span></li>
                        <li><span class="text-secondary">Jul 25, 2019 05:21 PM &nbsp; অর্ডারটি ডেলিভারির জন্য আমাদের কুরিয়ার Shanto (01976315316) এর কাছে দেয়া হয়েছে</span></li>
                        <li><span class="text-secondary">Jul 25, 2019 01:01 PM &nbsp; অর্ডারটি কুরিয়ারের কাছে দেয়ার জন্য প্রস্তুত হয়েছে</span></li>
                        <li><span class="text-secondary">Jul 25, 2019 09:56 AM &nbsp; অর্ডারটি প্রস্তুত করা হচ্ছে</span></li>
                        <li><span class="text-secondary">Jul 25, 2019 09:56 AM &nbsp; অর্ডারটি গ্রহণ করা হয়েছে</span></li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <div class="order_summary_info">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header"><h3>Order Summary</h3></div>

                        <div class="modal-body" style="height: auto !important;min-height: 280px;">
                            <strong>Order ID: 97642142487</strong>

                            <div class="table-responsive" style="margin-top: 15px;">
                                <table class="table table-striped table-bordered table-hover" id="customerOrderTable">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Image</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Qty</th>
                                        <th class="text-center">Sub Total</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                 
                                       
                                        

                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="pull-right">
                                <p class="text-right">Sub Total:&nbsp;&nbsp;&nbsp;&nbsp; 910 Tk.</p>
                                <p class="text-right">Shipping:&nbsp;&nbsp;&nbsp;&nbsp; 0 Tk.</p>
                                <p class="text-right"><strong>Total Payable:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 910 Tk.</strong></p>
                            </div>
                          
                        </div>
                    </div>   
                </div>
                
                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header"><h3>Shipping Address</h3></div>
                        <div class="card-img">
                        </div>
                        <div class="card-body">
                            <strong style="font-size: 18px;">Saddam Hossen</strong>

                            <p style="font-size: 15px; font-weight: 500; margin-top: 10px;">
                                Avenue #02, Road #14, House No #966, Mirpur DOHS, Dhaka-1216, Bangladesh.
                            </p>
                            
                            <p style="font-size: 15px; font-weight: 500;">Phone: 01611437365</p>
                            
                            <hr/>
                            
                            <p style="font-size: 15px; font-weight: 500;">Arrival Date:&nbsp; <span class="text-success" style="font-weight: 700;">
                                Jul 28, 2019
                            </span>
                            </p>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>


