/* http://www.menucool.com/jquery-slider */

#thumbs2 {
    height:300px; 
    display:inline-block;
    *display:inline; /* hack for old IE6-7 */
    background-color:#fff;
    _box-shadow: 0px 1px 11px rgba(0,0,0,0.2);
    _padding:16px;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbs2 div.inner {
    width:auto;
    padding:2px;

    /*the followings should not be changed */
    height:100%;
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    margin:0 auto;
}

 
#thumbs2 div.inner ul {
    
    /*the followings should not be changed */
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbs2 ul li {
    display:block;
    _border: 4px solid transparent;
    outline:1px solid transparent;
    margin:0;
    margin-bottom:3px; /* Spacing between thumbs*/
    box-sizing:content-box;
    text-align:center;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbs2 ul li.active {
   /*box-shadow:0 0 4px #999;*/
   _outline-color:black;
}

#thumbs2 li:hover {
    _border-color:rgba(255,255,255,0.5);
}


#thumbs2 .thumb {
    
    width:100%;
    height: 100px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbs2-pause-play {display:none;} /*.pause*/

#thumbs2-prev, #thumbs2-next
{
    position: absolute;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
    margin:0;
    z-index:10;
    cursor:pointer;
    transition:opacity 0.6s;
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
}

#thumbs2-prev {
    top:-36px;
}

#thumbs2-next {
    bottom:-36px;
}
#thumbs2-next.disabled, #thumbs2-prev.disabled {
    opacity:0.1;
    cursor:default;
}


/* arrows */
#thumbs2-prev::before, #thumbs2-next::before {
    position:absolute;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left:-20px;
    _border-left: 4px solid black;
    _border-top: 4px solid black;
}

#thumbs2-prev::before {
    top:12px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
}

#thumbs2-next::before {
    bottom:12px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(-135deg);
    transform: rotate(-135deg);
}
