﻿@model SaRaEcommerce.ViewModel.CheckoutModel
@{
    ViewBag.Title = "Shopping Cart";
}
<!-- Begun Shopping Cart -->
<div class="row margin-bottom-40">
    <div class="col-md-12">
        <h1>Shopping cart</h1>
        <div class="goods-page">
            <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                    <table summary="Shopping cart" id="cartTable"></table>
                </div>
                <div class="shopping-total" id="cartSummery">

                </div>
            </div>
            <a class="btn btn-default" href="@Url.Action("ProductList", "Product")">Continue shopping <i class="fa fa-shopping-cart" style="color: #fff;"></i></a>
            <a class="btn btn-primary" id="btnCheckout" href="@Url.Action("Index", "CheckOut")">Checkout <i class="fa fa-check"></i></a>
        </div>
    </div>
</div>
@*@using (Html.BeginForm("Index", "CheckOut", FormMethod.Post, new { @class = "form-horizontal checkout" }))
{
    <div class="hidden" id="cartProduct">
    </div>
}*@
<!-- End Shopping Cart -->
<!-- BEGIN SIMILAR PRODUCTS -->
<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h2>Most popular products</h2>
        <div class="owl-carousel owl-carousel4">
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="/Content/img/a.jpg" class="img-responsive" alt="Most popular products">
                        <div>
                            <a href="/Content/img/a.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        </div>
                    </div>
                    <div class="sticker sticker-new"></div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="/Content/img/b.jpg" class="img-responsive" alt="Most popular products">
                        <div>
                            <a href="/Content/img/b.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="/Content/img/c.jpg" class="img-responsive" alt="Most popular products">
                        <div>
                            <a href="/Content/img/c.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="/Content/img/d.jpg" class="img-responsive" alt="Most popular products">
                        <div>
                            <a href="/Content/img/d.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        </div>
                    </div>
                    <div class="sticker sticker-sale"></div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="/Content/img/a.jpg" class="img-responsive" alt="Most popular products">
                        <div>
                            <a href="/Content/img/a.jpg" class="btn btn-default fancybox-button">Zoom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="/Content/img/b.jpg" class="img-responsive" alt="Most popular products">
                        <div>
                            <a href="/Content/img/b.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            @*<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SIMILAR PRODUCTS -->

<script>

    $(document).ready(function() {
        loadMainCart();

        //console.log("hello");


        //$(".bootstrap-touchspin-up").click(function() {
        //    console.log("hola");
        //});

        //$('#cartTable').on('click touchstart', '.bootstrap-touchspin-down', function () {
        //    alert("hi");
        //    var quantity = $(this).parents(".input-group-btn").siblings(".input-sm").val();
        //    $(this).parents(".input-group-btn").siblings(".input-group-btn").find('.bootstrap-touchspin-up').prop('disabled', false);

        //    if (quantity <= 1) {
        //        $(this).prop('disabled', true);
        //        $(this).parents(".input-group-btn").siblings(".input-sm").val(1);
        //    } else {
        //        $(this).prop('disabled', false);
        //    }
        //});

        //$('.bootstrap-touchspin-up').on('click touchstart', function () {
        //    alert("hi");
        //    var quantity = $(this).parents(".input-group-btn").siblings(".input-sm").val();
        //    var availableQuantity = $(this).parents(".input-group-btn").siblings(".input-sm").data("availablequantity");
        //    $(this).parents(".input-group-btn").siblings(".input-group-btn").find('.bootstrap-touchspin-down')
        //        .prop('disabled', false);

        //    if (quantity >= availableQuantity) {
        //        $(this).prop('disabled', true);
        //        $(this).parents(".input-group-btn").siblings(".input-sm").val(availableQuantity);
        //    } else {
        //        $(this).prop('disabled', false);
        //    }
        
        //});

        //$('.bootstrap-touchspin-up').on('click touchstart', function () {
        //    var quantity = $(this).parents(".input-group-btn").siblings(".input-sm").val();
        //    $(this).parents(".input-group-btn").siblings(".input-group-btn").find('.bootstrap-touchspin-up')
        //        .prop('disabled', false);

        //    if (quantity <= 1) {
        //        $(this).prop('disabled', true);
        //        $(this).parents(".input-group-btn").siblings(".input-sm").val(1);
        //    } else {
        //        $(this).prop('disabled', false);
        //    }
        //});
    });
</script>
