﻿@model SaRaEcommerce.ViewModel.ProductListPage
@{
    ViewBag.Title = "ProductList";
}

<!--Modal Popup Before Home Page Loading-->
@*<div class="modal fade" id="overlay">
    <div class="modal-dialog">
        <div class="modal-content" style="height:auto;position:relative; margin-top: 21%; margin-left: 15px;">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Welcome to SaRa Lifestyle.</h4>
                </div>
            <div class="modal-body">
                <img src="/plugins/pages/img/modal_popup/nexuspay.jpg" style="height: auto;width: 100%;" />

            </div>
        </div>
    </div>
</div>*@
<!--End Modal Popup Before Home Page Loading-->
<!---HEADER BANNER-->
<div class="row">
    <div class="col-md-12">
        @*<div class="ui-title-page">

            <img src="/plugins/pages/img/title-bg/Mens_1.jpg" class="img-responsive" id="product_list_banner"/>

            @if (Model.SubSubCategoryName != null)
            {
                <p class="product_category_title">@Model.SubSubCategoryName</p>
            }
            else if (Model.SubCategoryName != null)
            {
                <p class="product_category_title">@Model.SubCategoryName</p>
            }
            else if (Model.CategoryName != null)
            {
                <p class="product_category_title">@Model.CategoryName</p>
            }
            else
            {
                <p class="product_category_title">Shop</p>
            }

        </div>*@
        
        <div class="counter">
            @if (Model.SubSubCategoryName != null)
            {
                <span>@Model.SubSubCategoryName</span>
            }
            else if (Model.SubCategoryName != null)
            {
                <span>@Model.SubCategoryName</span>
            }
            else if (Model.CategoryName != null)
            {
                <span>@Model.CategoryName</span>
            }
            else
            {
                <span>Shop</span>
            }
            <img src="/plugins/pages/img/title-bg/Title-Banner_777_Final_2.jpg" class="img-responsive" alt="sara product list"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("ProductList", "Product")">Store</a></li>
            @if (Model.CategoryId != null && Model.SubCategoryId == null && Model.SubSubCategoryId == null)
            {
                <li class="active">@Model.CategoryName</li>
            }
            @if (Model.CategoryId != null && Model.SubCategoryId != null && Model.SubSubCategoryId == null)
            {
                <li><a href="@Url.Action("ProductList", "Product", new {categoryId = Model.CategoryId})">@Model.CategoryName</a></li>
                <li class="active">@Model.SubCategoryName</li>
            }
            @if (Model.CategoryId != null && Model.SubCategoryId != null && Model.SubSubCategoryId != null)
            {
                <li><a href="@Url.Action("ProductList", "Product", new {categoryId = Model.CategoryId})">@Model.CategoryName</a></li>
                <li><a href="@Url.Action("ProductList", "Product", new {categoryId = Model.CategoryId, subCategoryId = Model.SubCategoryName})">@Model.SubCategoryName</a></li>
                <li class="active">@Model.SubSubCategoryName</li>
            }

        </ul>
        <div class="row list-view-sorting clearfix">
            @using (Html.BeginForm("ProductList", "Product", FormMethod.Post, new { @class = "", id = "SearchAndShortForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(c => c.CategoryId)
                @Html.HiddenFor(c => c.SubCategoryId)
                @Html.HiddenFor(c => c.SubSubCategoryId)
                @Html.HiddenFor(c => c.CurrentPage)
                @Html.HiddenFor(c => c.Take)
                @Html.HiddenFor(c => c.Skip)
                @Html.HiddenFor(c => c.SizeId)
                @Html.HiddenFor(c => c.ColorId)
                @Html.HiddenFor(c => c.MinPrice)
                @Html.HiddenFor(c => c.MaxPrice)
                <div class="col-md-2 col-sm-2 list-view">
                    <a href="javascript:;"><i class="fa fa-th-large"></i></a>
                    <a href="javascript:;"><i class="fa fa-th-list"></i></a>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="pull-right show">
                        <label class="control-label">Show:</label>
                        @Html.DropDownListFor(m => m.PageLength, new SelectList(ViewBag.PageLengthList, "Value", "Text"), new { @class = "form-control input-sm" })

                    </div>
                    <div class="pull-right sort_by">
                        <label class="control-label">Sort&nbsp;By:</label>
                        @Html.DropDownListFor(m => m.ShortBy, new SelectList(ViewBag.ShortByList, "Value", "Text"), new { @class = "form-control input-sm" })

                    </div>



                    <div class="hidden-sm hidden-md hidden-lg visible-xs filter_button" style="float: right;">
                        <button id="open-modal" class="cat_filter visible-xs" type="button" style="display: block !important; font-size: 13px; font-weight: 500; padding: 2px 5px 2px; margin-top: -5px; background-color: #64aed9; border: 1px solid #797e80; color: #fff; text-transform: uppercase; outline: 0;">
                            <i class="fa fa-filter"></i> Filter
                        </button>
                    </div>


                </div>
            }
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-12 col-sm-12 product-list-item">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-5" id="sidebarSection">
            @{
                Html.RenderAction("ProductListSidebar", "Product", new { categoryId = Model.CategoryId, subCategoryId = Model.SubCategoryId, subSubCategoryId = Model.SubSubCategoryId, colorId = Model.ColorArray, sizeId = Model.SizeArray, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice });
            }
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-7" id="productSection">
            @{
                Html.RenderPartial("ProductPagePartial/_ProductGridPartial", Model);

            }
            <!-- END PRODUCT LIST -->
            @if (Model.ProductModels.Count() < Model.TotalProduct)
            {
                <!-- BEGIN PAGINATOR -->
                <div class="row margin-bottom-25">
                    <div class="col-md-3 col-sm-4 items-info">Items @Model.Take to @Model.Skip of @Model.TotalProduct total</div>

                    <div class="col-md-9 col-sm-8">
                        <ul class="pagination pull-right">
                            <li><a href="javascript:;" id="previous">&laquo; Previous</a></li>
                            <li><span>@Model.CurrentPage</span></li>
                            <li><a href="javascript:;" id="next">Next &raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END PAGINATOR -->
            }
        </div>
        <!-- END CONTENT -->
    </div>
</div>

<!--jQuery For Product Filter Mobile Devices-->
<script>
    var mouseX;
    var mouseY;
    $(document).mousemove(function (e) {
        mouseX = e.pageX;
        mouseY = e.pageY;
    });

    $('#open-modal').click(function () {
        //alert("Test");
        $('.filter-modal').show();
        $('.filter-modal').removeClass('animated zoomOut').addClass('animated zoomIn');
    });

    $('.close-button').click(function () {
        $('.filter-modal').removeClass('animated zoomIn').addClass('animated zoomOut').delay(800).fadeOut(400);
    });
</script>
<!--End jQuery For Product Filter Mobile Devices-->


<script>

    function filterColor() {
        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
            isMobile = true;
        }
        var colorList = "";
        if (!isMobile) {
            $(".filter-color:checkbox:checked").each(function () {
                var value = $(this).val();
                colorList += value + ",";
            });
        } else {
            $(".filter-color-mobile:checkbox:checked").each(function () {
                var value = $(this).val();
                colorList += value + ",";
            });
        }
        return colorList;
    }

    function filterSize() {
        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
            isMobile = true;
        }

        var sizeList = "";
        if (!isMobile) {
            $(".filter-size:checkbox:checked").each(function () {
                var value = $(this).val();
                sizeList += value + ",";
            });
        } else {
            $(".filter-size-mobile:checkbox:checked").each(function () {
                var value = $(this).val();
                sizeList += value + ",";
            });
        }
        
        return sizeList;
    }

    function filterPriceMin() {
        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
            isMobile = true;
        }
        var minPrice = 0;
        if (!isMobile) { minPrice = $(".minimum").val(); }
        else { minPrice = $(".min-price-mobile").val(); }

        return minPrice;
    }

    function filterPriceMax() {
        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
            isMobile = true;
        }
        var maxPrice = 0;
        if (!isMobile) { maxPrice = $(".maximum").val(); }
        else { maxPrice = $(".max-price-mobile").val(); }

        return maxPrice;
    }

    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $("#filter-reset-mobile").click(function () {
            $(".filter-size-mobile:checkbox:checked").each(function () {
                $(this).prop('checked', false);
            });
            $(".filter-color-mobile:checkbox:checked").each(function () {
                $(this).prop('checked', false);
            });

            $(".max-price-mobile").val("");
            $(".min-price-mobile").val("");
        });
        $("#filter-done-mobile").click(function () {
            var colorList = filterColor();
            var sizeList = filterSize();

            $("#MinPrice").val(filterPriceMin());
            $("#MaxPrice").val(filterPriceMax());

            $("#CurrentPage").val("1");
            $("#Take").val("");
            $("#Skip").val("");
            $("#ColorId").val(colorList);
            $("#SizeId").val(sizeList);
            $("#SearchAndShortForm").submit();
        });

        $("#priceSearch").click(function () {
            var colorList = filterColor();
            var sizeList = filterSize();

            $("#MinPrice").val(filterPriceMin());
            $("#MaxPrice").val(filterPriceMax());

            $("#CurrentPage").val("1");
            $("#Take").val("");
            $("#Skip").val("");
            $("#ColorId").val(colorList);
            $("#SizeId").val(sizeList);
            $("#SearchAndShortForm").submit();
        });
        

        $(".filter-color").click(function () {
            var colorList = filterColor();
            var sizeList = filterSize();

            $("#CurrentPage").val("1");
            $("#Take").val("");
            $("#Skip").val("");
            $("#ColorId").val(colorList);
            $("#SizeId").val(sizeList);
            $("#SearchAndShortForm").submit();
        });

        $(".filter-size").click(function () {
            var colorList = filterColor();
            var sizeList = filterSize();

            $("#CurrentPage").val("1");
            $("#Take").val("");
            $("#Skip").val("");
            $("#ColorId").val(colorList);
            $("#SizeId").val(sizeList);
            $("#SearchAndShortForm").submit();
        });

        $("#PageLength").change(function () {
            var colorList = filterColor();
            var sizeList = filterSize();

            $("#CurrentPage").val("1");
            $("#Take").val("");
            $("#Skip").val("");
            $("#ColorId").val(colorList);
            $("#SizeId").val(sizeList);
            $("#SearchAndShortForm").submit();
        });

        $("#ShortBy").change(function () {
            var colorList = filterColor();
            var sizeList = filterSize();

            $("#CurrentPage").val("1");
            $("#Take").val("");
            $("#Skip").val("");
            $("#ColorId").val(colorList);
            $("#SizeId").val(sizeList);
            $("#SearchAndShortForm").submit();
        });

        $('input:radio[name="radio"]').change(
            function () {
                var value = $(this).val();
                $("#CurrentPage").val("1");
                $("#Take").val("");
                $("#Skip").val("");
                $("#SizeName").val(value);
                $("#SearchAndShortForm").submit();
            });

        $("#previous").click(function () {

            var currentPage = parseInt($("#CurrentPage").val());
            var pageLength = $("#PageLength").val();
            var previousTake = $("#Take").val();

            var previousPage = parseInt(currentPage) - 1;
            var take = parseInt(previousTake) - parseInt(pageLength);
            var skip = previousTake - 1;

            if (currentPage > 1) {
                var colorList = filterColor();
                var sizeList = filterSize();

                $("#CurrentPage").val(previousPage);
                $("#Take").val(take);
                $("#Skip").val(skip);
                $("#ColorId").val(colorList);
                $("#SizeId").val(sizeList);

                $("#SearchAndShortForm").submit();
            } else {
                //alert("No more product to check");
                toastr.info("No more product to check", 'Information!');
            }
        });

        $("#next").click(function () {

            var currentPage = $("#CurrentPage").val();
            var pageLength = $("#PageLength").val();

            var totalProduct = @Model.TotalProduct;
            var lastPage = Math.ceil(totalProduct / pageLength);

            var nextPage = parseInt(currentPage) + 1;
            var take;
            var skip;

            if (currentPage == 1) {
                take = parseInt(pageLength) + 1;
                skip = parseInt(pageLength) + parseInt(pageLength);
            } else {
                take = parseInt($("#Skip").val()) + 1;
                skip = parseInt($("#Skip").val()) + parseInt(pageLength);
            }


            if (lastPage != currentPage) {
                var colorList = filterColor();
                var sizeList = filterSize();

                $("#CurrentPage").val(nextPage);
                $("#Take").val(take);
                $("#Skip").val(skip);
                $("#ColorId").val(colorList);
                $("#SizeId").val(sizeList);

                $("#SearchAndShortForm").submit();
            } else {
                //alert("No more product to check");
                toastr.info("No more product to check", 'Information!');
            }
        });

        Layout.initSliderRange();
    });
</script>

