﻿@model SaRaEcommerce.ViewModel.SingleProduct
@{
    ViewBag.Title = "SingleProduct";
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("ProductList", "Product")">Store</a></li>
            @if (Model.CategoryId != null && Model.SubCategoryId == null && Model.SubSubCategoryId == null)
            {
                <li class="active">@Model.CategoryName</li>
            }
            @if (Model.CategoryId != null && Model.SubCategoryId != null && Model.SubSubCategoryId == null)
            {
                <li><a href="@Url.Action("ProductList", "Product", new { categoryId = Model.CategoryId })">@Model.CategoryName</a></li>
                <li class="active">@Model.SubCategoryName</li>
            }
            @if (Model.CategoryId != null && Model.SubCategoryId != null && Model.SubSubCategoryId != null)
            {
                <li><a href="@Url.Action("ProductList", "Product", new { categoryId = Model.CategoryId })">@Model.CategoryName</a></li>
                <li><a href="@Url.Action("ProductList", "Product", new { categoryId = Model.CategoryId, subCategoryId = Model.SubCategoryName })">@Model.SubCategoryName</a></li>
                <li class="active">@Model.SubSubCategoryName</li>
            }
        </ul>
    </div>
</div>

<div class="row margin-bottom-40">
    <div class="col-md-12 product-list-item">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-5" id="sidebarSection">
            @{
                Html.RenderAction("ProductListSidebar", "Product", new { categoryId = Model.CategoryId, subCategoryId = Model.SubCategoryId, subSubCategoryId = Model.SubSubCategoryId });
            }
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-7" id="singleProductSection">
            <div class="product-page">
                <div class="row">
                    <div class="col-md-5 col-sm-4 col-xs-12 col-lg-4">
                        <div class="product-main-image hidden-md hidden-lg hidden-sm visible-xs" id="MainImageSingle">
                            <img src="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)" alt="@Model.ProductName" class="img-responsive" data-BigImgsrc="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)" />
                        </div>

                        <div class="simpleLens-gallery-container hidden-xs" id="demo-2">
                            <div class="simpleLens-container">
                                <div class="simpleLens-big-image-container">
                                    <a class="simpleLens-lens-image" data-lens-image="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)">
                                        <img src="@Path.Combine("/Files/ImageProductMain/", Model.PrimaryImage)" alt="@Model.ProductName" class="simpleLens-big-image img-responsive" style="" />
                                    </a>
                                </div>
                            </div>
                            
                            @if (Model.Discount > 0)
                            {
                                <div class="sticker-discount" style="display: none;">
                                    <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@Model.Discount%</p>
                                    @*<p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">P</p>*@
                                </div>
                            }
                            else
                            {
                                if (Model.TotalQuantity < 1)
                                 {
                                     <div class="sticker sticker-sale"></div>
                                 }
                                 else
                                 {
                                     var vFromDate = DateTime.ParseExact(Model.InsertDate, "dd/MM/yyyy", null);
                                     var vToDate = DateTime.ParseExact(DateTime.Now.Date.ToString("dd/MM/yyyy"), "dd/MM/yyyy", null);
                                     var compare = (int)(vToDate - vFromDate).TotalDays;

                                     if (compare < 3)
                                     {
                                         <div class="sticker sticker-new"></div>
                                     }
                                 }
                            }
                            

                            <div style="width:80%;height: 15px; background: #fff;"></div>
                        </div>

                        <div class="product-other-images" id="productOtherImage"></div>

                        @if (Model.TotalQuantity < 1)
                        {
                            <div class="sticker sticker-sale"></div>
                        }
                        else
                        {
                            var vFromDate = DateTime.ParseExact(Model.InsertDate, "dd/MM/yyyy", null);
                            var vToDate = DateTime.ParseExact(DateTime.Now.Date.ToString("dd/MM/yyyy"), "dd/MM/yyyy", null);
                            var compare = (int)(vToDate - vFromDate).TotalDays;

                            if (compare < 3)
                            {
                                <div class="sticker sticker-new"></div>
                            }
                        }
                    </div>

                    <div class="col-md-4 col-sm-5 col-xs-12 col-lg-5">
                        <h1 class="product-title-sku">@Model.ProductName || @Model.Sku</h1>
                        <div class="price-availability-block clearfix">
                            @if (Model.Discount != 0)
                            {
                                <div class="price">
                                    <strong id="price"><span>&#2547</span>@Model.NewAmount</strong>
                                    <em>&#2547<span id="oldPrice">@Model.SellAmount</span></em>
                                    <div class="discount_tags" style="display: none;">
                                        <span>-@Model.Discount%</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="price">
                                    <strong id="price"><span>&#2547</span>@Model.SellAmount</strong>
                                </div>
                            }
                            @if (Model.TotalQuantity > 0)
                            {
                                <div class="availability" id="availableProduct">
                                    Availability: <strong style="color: green">In Stock</strong>
                                </div>
                            }
                            else
                            {
                                <div class="availability" id="availableProduct">
                                    Availability: <strong style="color: red">Out Of Stock</strong>
                                </div>
                            }

                        </div>

                        <div class="product-page-options" style="margin-top: -25px;">
                            <label class="control-label" style="font-size:16px;">Fabric:</label>
                            <p style="margin-top: 4px;font-weight:600;">@Model.FabricName</p>
                        </div>

                        <div class="description" style="margin-top: -20px;">
                            <p class="text-center text-justify">@Html.Raw(Model.ShortDescription)</p>
                        </div>
                        <hr>

                        <div class="more_details_color" style="width:100%;height:25px;margin-top: 20px;">
                            <div class="pull-left">
                                <label class="control-label" style="color:#929EAA;text-transform: uppercase;" id="colorName">Color:</label>
                                <div class="color-choose" id="colorList">
                                </div>
                            </div>
                        </div>

                        <div class="product-page-options">
                            <div class="pull-left">

                                <div class="cable-config">
                                    <span style="color: #9d9c9c;font-size: 15px;text-transform: uppercase;">Size:</span>
                                    <div class="cable-choose" id="sizeList">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="more_details_qty" style="width:100%;margin-top: -60px;margin-bottom: 20px;">
                            <span style="color: #9d9c9c;font-size: 15px;text-transform: uppercase;line-height: 30px;">Quantity:</span>
                            <div class="quantity">
                                <button class="minus-btn product_quantity" type="button" name="button">
                                    <img src="/plugins/layout/img/icons/minus.svg" alt="" />
                                </button>

                                <input type="text" name="name" id="qtyVal" value="1" />

                                <button class="plus-btn product_quantity" type="button" name="button">
                                    <img src="/plugins/layout/img/icons/plus.svg" alt="" />
                                </button>
                            </div>
                        </div>

                        <!--START SIZE GUIDE CHART-->
                        @if (Model.RatioLists.Any())
                        {
                            <div style="margin-bottom: 20px;">

                                <a class="fancybox" href="#size_guide">

                                    <button type="button" class="btn btn-primary"><i class="fa fa-th-list" aria-hidden="true"></i> Size Guide</button>
                                </a>
                            </div>

                            <div id="size_guide" style="width: 750px; height: auto; display: none;">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <h2 class="text-center">@Html.Raw(Model.ProductName)</h2>
                                        <table class="table table-bordered table-hover">
                                            @{
                                                int i = 0;
                                            }
                                            @{
                                                <thead>
                                                    @if (i == 0)
                                                    {
                                                        <tr class="bg-primary text-white">
                                                            <th class="text-center">Size</th>

                                                            @foreach (var sizeName in Model.RatioLists.First().RatioSizeLists)
                                                            {
                                                                <th class="text-center">@sizeName.SizeName</th>
                                                            }

                                                        </tr>
                                                    }
                                                </thead>
                                                <tbody>
                                                    @foreach (var data in Model.RatioLists)
                                                    {
                                                        <tr align="center">
                                                            <td>@data.RatioName</td>

                                                            @foreach (var sizeName in data.RatioSizeLists)
                                                            {
                                                                <td>@sizeName.SizeValue</td>
                                                            }
                                                        </tr>

                                                        i = i + 1;
                                                    }
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        <!--END SIZE GUIDE CHART-->



                        <p>
                            <span style="background: red; padding: 2px; color: #fff; border-radius: 3px !important;">Note:</span>
                            <span style="font-size: 12px; color: #512927; text-align: justify;">
                                Depending on your computer or mobile screen resolution, product color may vary slightly.
                            </span>
                        </p>

                        <div class="product-page-cart">
                            <button class="btn btn-primary" type="submit" id="addToCart">Add to cart</button>
                            <button class="btn btn-default buynow-btn" id="BuySingleProduct">Buy Now</button>
                        </div>
                        <div class="review">
                            <div class="rateit" data-rateit-value="@Model.ReviewScore" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                            <a id="customerReview2" href="#Reviews" data-toggle="tab">@Model.TotalReviewCount reviews&nbsp;&nbsp;|&nbsp;&nbsp;Write a review</a>
                        </div>
                        <ul class="social-icons">
                            <li><a class="facebook" data-original-title="facebook" href="https://www.facebook.com/saralifestyle.bd/"></a></li>
                            <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                            <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>
                            <li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>
                            <li><a class="instagram" data-original-title="tumblr" href="https://www.instagram.com/saralifestyle.bd/"></a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3 col-md-3 col-xs-12 col-lg-3 hidden-xs" style="background: #FAFAFA;box-shadow: 0 0 0 2px #ebeff3;margin-top: -14px;">

                        <div class="delivery_options" style="background: #FAFAFA;padding:10px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Delivery Options</p>
                            <p style="font-size:14px;color:#212121;margin-left:10px;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Home Delivery</p>
                            <p class="business_days" style="font-size:12px;color:#757575;margin-left:30px;margin-top:-6px;letter-spacing: 1px;">2-3 business days</p>

                            <p style="font-size:14px;color:#212121;margin-left:10px;"><i class="fa fa-truck"></i> Free Shipping</p>
                            <p style="font-size:12px;color:#757575;margin-left:19px;margin-top:-6px;"><i class="fa fa-circle-o" aria-hidden="true"></i> Express delivery within dhaka.</p>
                            <p style="font-size:12px;color:#757575;margin-left:19px;margin-top:-6px;"><i class="fa fa-circle-o" aria-hidden="true"></i> Delivery charge: 100 TK outside dhaka.</p>

                            <p class="cash_on_delivery" style="font-size:14px;color:#212121;margin-left:12px;"><i class="fa fa-money" aria-hidden="true"></i> Cash On Delivery Available</p>

                            <hr />
                        </div>

                        <div class="order_by_call" style="background: #FAFAFA;padding:5px;margin-top:-28px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Order By Call</p>
                            <p style="font-size:14px;color:#212121;margin-left:20px;"><i class="fa fa-phone-square" aria-hidden="true"></i> +88 01885 - 998899 </p>
                            <hr />
                        </div>

                        <div class="payment_method" style="background: #FAFAFA;padding:5px;margin-top:-25px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Payment Methods</p>
                            @*<p class="cash_on_delivery" style="font-size:14px;color:#212121;margin-left:16px;"><i class="fa fa-money" aria-hidden="true"></i> Cash on delivery</p>
                            <p class="card_on_delivery" style="font-size:14px;color:#212121;margin-left:16px;"><i class="fa fa-credit-card" aria-hidden="true"></i> Card on delivery</p>*@

                            @*<p class="cash_on_delivery" style="font-size:14px;color:#212121;margin-left:16px;"><i class="fa fa-credit-card" aria-hidden="true"></i> bKash payment</p>*@
                            
                            <img src="/plugins/layout/img/payments/bank_logo3.png" class="img-responsive" alt="payment methods" style="height: 115px;margin-left: 15px;"/>

                            <hr />
                        </div>

                        <div class="store_information" style="background: #FAFAFA;padding:5px;margin-top:-20px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Store Information</p>
                            <p style="font-size:14px;color:#212121;margin-left:10px;">
                                <a target="_blank" href="@Url.Action("Contact", "Home")" style="text-decoration: none; margin-left: 12px;"><i class="fa fa-search" aria-hidden="true"></i> Find A Store</a>
                            </p>
                            <hr />
                        </div>

                        <div class="size_guide" style="background: #FAFAFA;padding:5px;margin-top:-20px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Product Return</p>
                            <p style="font-size:14px;color:#212121;margin-left:10px;">
                                <a href="@Url.Action("ReturnForm", "WebContent")" target="_blank" style="text-decoration: none; margin-left: 12px;"><i class="fa fa-undo" aria-hidden="true"></i> Return Form</a>
                            </p>
                            <hr />
                        </div>

                        <div class="change_condition" style="background: #FAFAFA;padding:5px;margin-top:-20px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Change Condition</p>
                            <p style="font-size: 12px;color: #512927;margin-bottom: 10px;text-align: justify;">If for any reason you are not completely satisfied with your purchase, you may return the item(s) free of charge to any SaRa Lifestyle store for an exchange or refund. <a href="@Url.Action("ReturnPolicy", "WebContent")" target="_blank">details</a></p>
                            <hr />
                        </div>

                        <div class="return_options" style="background: #FAFAFA;padding:5px;margin-top:-20px;">
                            <p style="font-size:12px;color:#757575;font-weight:bold;">Return Policy</p>
                            <p style="font-size:14px;color:#212121;margin-left:27px;"><i class="fa fa-undo" aria-hidden="true"></i> 15 Days Returns</p>
                            <hr />
                            <p class="text-center">
                                <a target="_blank" href="@Url.Action("ProductList", "Product", new {categoryId = Model.CategoryId, subCategoryId = Model.SubCategoryId, subSubCategoryId = Model.SubSubCategoryId})" class="text-center">GO TO SHOP</a>
                            </p>
                        </div>
                    </div>

                    <div class="product-page-content">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active" id="descriptionTab"><a href="#Description" data-toggle="tab">Description</a></li>
                            <li class="" id="reviewTab"><a href="#Reviews" data-toggle="tab">Reviews (@Model.TotalReviewCount)</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="Description">
                                <p>@Html.Raw(Model.LongDescription)</p>
                            </div>
                            <div class="tab-pane fade" id="Reviews">
                                @{
                                    Html.RenderAction("CustomerReview", "Product", new { productId = @Model.ProductId });
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="new-arrival">Related products</h2>
        <div class="owl-carousel owl-carousel5">
            @foreach (var data in Model.ProductModels)
            {
                <div>
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@Path.Combine("/Files/ImageProductMain/", data.PrimaryImage)" class="img-responsive" alt="@data.ProductName">
                            <div>
                                <a href="@Path.Combine("/Files/ImageProductMain/", data.PrimaryImage)" class="btn btn-default fancybox-button">Zoom</a>
                                @*<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>*@
                            </div>
                        </div>
                        <h3><a href="@Url.Action("SingleProduct", "Product", new { productId = data.ProductId })">@data.ProductName || @data.Sku</a></h3>
                        @if (data.Discount != 0)
                        {
                            <div class="pi-price">
                                @*<span style="text-decoration: line-through;">&#2547  @data.SellAmount</span>&nbsp;&nbsp;*@ <span style=" color:red;">&#2547 @data.NewAmount</span>
                            </div>
                        }
                        else
                        {
                            <div class="pi-price">
                                <span>&#2547  @data.SellAmount</span>
                            </div>
                        }
                        <a href="@Url.Action("SingleProduct", "Product", new { productId = data.ProductId })" class="btn btn-default add2cart">Details</a>
                        @if (data.Discount != 0)
                        {
                            <div class="sticker-discount" style="display: none;">
                                @*<p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">-@data.Discount%</p>*@
                                <p style="color: #fff;text-align: center;line-height: 50px;font-size: 15px;font-weight: 600; margin-left: -7px;">P</p>
                            </div>
                        }
                        else
                        {
                            @*if (data.TotalQuantity < 1)
                                {
                                    <div class="sticker sticker-sale"></div>
                                }
                                else
                                {
                                    var vFromDate = DateTime.ParseExact(data.InsertDate, "dd/MM/yyyy", null);
                                    var vToDate = DateTime.ParseExact(DateTime.Now.Date.ToString("dd/MM/yyyy"), "dd/MM/yyyy", null);
                                    var compare = (int)(vToDate - vFromDate).TotalDays;

                                    if (compare < 3)
                                    {
                                        <div class="sticker sticker-new"></div>
                                    }
                                }*@
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#customerReview2").click(function () {
        $("#descriptionTab").removeClass('active');
        $("#reviewTab").addClass('active');
    });

    var productSizeId = 0;
    var productSizeName = "";

    function loadSizeList() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSizeList", "Product", new {productId = Model.ProductId})',
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#sizeList').html("");
                    productSizeId = data[0].SizeId;
                    productSizeName = data[0].SizeName;
                    var i = 0;
                    $.each(data, function (i, data) {
                        if (i == 0) {
                            $("#sizeList").append('<button class="btn-size active" value="' + data.SizeId + '">' + data.SizeName + '</button>');
                            productSizeId = data.SizeId;
                            productSizeName = data.SizeName;
                        } else {
                            $("#sizeList").append('<button class="btn-size" value="' + data.SizeId + '">' + data.SizeName + '</button>');
                        }
                        i++;
                    });
                } else {
                    $('#sizeList').html("");
                    productSizeId = 0;
                    productSizeName = "";
                }

            },
            async: false,
            error: function(ex) {
                toastr.info("Failed to retrieve Size List.", 'Information!');
            }
        });
    }

    function loadColorList() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetColorList", "Product", new {productId = Model.ProductId})',
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#colorList').html("");
                    $("#colorName").html("Color: " + data[0].ProductColorName);
                    var i = 0;
                    $.each(data, function (i, data) {
                        if (i == 0) {
                            $("#colorList").append('<div>' +
                                '<input data-image="' + data.ProductColorName + '" type="radio" id="' + data.ProductColorName + '" name="color" value="' + data.ProductColorId + '" checked />' +
                                '<label for="' + data.ProductColorName + '">' +
                                '<span style="background-color: ' + data.ProductColorCode + '"></span>' +
                                '</label>' +
                                '</div>');
                        } else {
                            $("#colorList").append('<div>' +
                                '<input data-image="' + data.ProductColorName + '" type="radio" id="' + data.ProductColorName + '" name="color" value="' + data.ProductColorId + '" />' +
                                '<label for="' + data.ProductColorName + '">' +
                                '<span style="background-color: ' + data.ProductColorCode + '"></span>' +
                                '</label>' +
                                '</div>');
                        }
                        i++;
                    });
                } else {
                    $('#colorList').html("");
                    $("#colorName").html("Color: ");
                }

            },
            async: false,
            error: function(ex) {
                toastr.info("Failed to retrieve Color List.", 'Information!');
            }
        });
    }

    function getImageList(colorId) {
        var productId = @Model.ProductId;
        $.ajax({
            type: 'POST',
            url: '/Product/GetImageList/',
            data: { productId: productId, colorId: colorId},
            dataType: 'json',
            success: function (data) {
                if (data.Image1 != null) {
                    var src = "/Files/ImageProductColor/" + data.Image1 + "";
                    $('#MainImageSingle').find('img').attr('src', src);
                    $('#MainImageSingle').find('img').attr('data-BigImgsrc', src);

                    $('.simpleLens-lens-image').attr('data-lens-image', src);
                    $('.simpleLens-big-image').attr('src', src);
                    //var src = ($(this).find('img').attr('src'));


                    Layout.initImageZoom();

                    $('#productOtherImage').html("");
                    $("#productOtherImage").append('<a href="javascript:;" class="imageForShow"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image1 +'"></a>');
                    $("#productOtherImage").append('<a href="javascript:;" class="imageForShow"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image2 + '"></a>');
                    $("#productOtherImage").append('<a href="javascript:;" class="imageForShow"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image3 +'"></a>');
                    $("#productOtherImage").append('<a href="javascript:;" class="imageForShow"><img alt="' + data.ProductColorName + '" src="/Files/ImageProductColor/' + data.Image4 + '"></a>');
                }

            },
            async: false,
            error: function (ex) { toastr.info("Failed to retrieve Image List.", 'Information!'); }
        });
    }

    var availableQuantity = 0;
    function getInventory() {
        var productId = @Model.ProductId;
        var sizeId = productSizeId;
        var colorId = $('input[name=color]:checked').val();
        $.ajax({
            type: 'POST',
            url: '/Product/GetInventoryValue/',
            data: { productId: productId, colorId: colorId, sizeId: sizeId},
            dataType: 'json',
            success: function (data) {
                $("#availableProduct").html("");
                if (data > 0) {
                    $("#availableProduct").append("Availability: <strong style='color: green'> In Stock </strong>");
                    availableQuantity = data;;
                } else {
                    $("#availableProduct").append("Availability: <strong style='color: red'> Out Of Stock </strong>");
                    availableQuantity = 0;;
                }
            },async: false,
            error: function (ex) {
                $("#availableProduct").html("");
                $("#availableProduct").append("Availability: <strong > inventory not available </strong>");
            }
        });
    }

    function changeMainImage() {
        $(".imageForShow").on('click touchstart', function () {
            var src = ($(this).find('img').attr('src'));

            $('#demo-2').find('img').attr('src', src);
            $('#demo-2').find('a').attr('data-lens-image', src);
            $('.zoomImg').attr('src', src);
            $('#demo-2').find('img').attr('data-BigImgsrc', src);

            $('#MainImageSingle').find('img').attr('src', src);
            $('#MainImageSingle').find('img').attr('data-BigImgsrc', src);
            Layout.initImageZoom();
        });
    }

    function cartQuantity(inventoryValue) {
        if (inventoryValue < 1) {
            $('.minus-btn').prop('disabled', true);
            $('.plus-btn').prop('disabled', true);
            $("#qtyVal").val(0);
            $('#addToCart').prop('disabled', true);
            $('#BuySingleProduct').prop('disabled', true);
        } else {
            $('.minus-btn').prop('disabled', false);
            $('.plus-btn').prop('disabled', false);
            $("#qtyVal").val(1);
            $('#addToCart').prop('disabled', false);
            $('#BuySingleProduct').prop('disabled', false);
        }
    }

    function getProductPrice() {
        var productId = @Model.ProductId;
        var sizeId = productSizeId;
        var colorId = $('input[name=color]:checked').val();
        var discount = @Model.Discount;
        $.ajax({
            type: 'POST',
            url: '/Product/GetProductPrice/',
            data: { productId: productId, colorId: colorId, sizeId: sizeId},
            dataType: 'json',
            success: function (data) {
                $("#price").html("");
                if (data > 0) {
                    var value = Math.round(data - ((data * discount) / 100));
                    $("#price").append("<span>&#2547</span>" + value + "");
                    $("#oldPrice").html(data);
                } else {
                    $("#price").append("<span>&#2547</span>"+ @Model.SellAmount +"");
                }
            },async: false,
            error: function (ex) {
                $("#price").html("");
                $("#price").append("<span>&#2547</span>Something went Wrong");
            }
        });
    }

    jQuery(document).ready(function() {
        Layout.initImageZoom();
        Layout.initTouchspin();
        loadSizeList();
        loadColorList();
        getProductPrice();

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(".sidebar-filter").remove();

        //$('.bootstrap-touchspin-down').prop('disabled', true);


        var colorId = $('input[name=color]:checked').val();
        getImageList(colorId);

        getInventory();
        cartQuantity(availableQuantity);

        $('.btn-size').click(function (e) {
            e.preventDefault();
            productSizeId = $(this).val();
            productSizeName = $(this).text();

            $('.btn-size').removeClass('active');
            $(this).addClass('active');

            getInventory();
            getProductPrice();
            cartQuantity(availableQuantity);

        });

        $('input[type=radio][name=color]').change(function () {
            var colorId = $(this).val();
            var colorName = $(this).data("image");
            $("#colorName").html("Color: " + colorName);
            getInventory();
            getImageList(colorId);
            changeMainImage();
            getProductPrice();
            cartQuantity(availableQuantity);
        });

        changeMainImage();

        $('.minus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            if (value > 1) {
                value = value - 1;
            } else {
                value = 1;
            }
            $input.val(value);

        });

        $('.plus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            if (value < availableQuantity) {
                value = value + 1;
            } else {
                value = availableQuantity;
            }
            $input.val(value);
        });

        $('.like-btn').on('click', function () {
            $(this).toggleClass('is-active');
        });

        function getPrice(str) {
            return str.replace(/[^0-9]/gi, '');
        }

        $("#addToCart").click(function () {
            var cartObjectArray = JSON.parse(localStorage.getItem('cartObjectArray'));

            var productId = @Model.ProductId;
            var productName = "@Model.ProductName";
            var sku = "@Model.Sku";
            var productImage = $('#MainImageSingle').find('img').attr('src');
            var productDescription = "@Model.ShortDescription";
            var colorId = $('input[name=color]:checked').val();
            var colorName = $('input[name=color]:checked').attr("id");
            var sizeId = productSizeId;
            var sizeName = productSizeName;
            var quantity = $("#qtyVal").val();
            var newPrice = @Model.NewAmount;
            var price = getPrice($("#price").text());
            //if (price != newPrice) {
            //    price = newPrice;
            //}

            if (colorId && sizeId && quantity) {
                var totalPrice = price * parseInt(quantity);
                if (quantity > availableQuantity) {
                    //alert("quantity can not grater the available quantity");
                    toastr.info("quantity can not grater the available quantity", 'Information!');
                } else {
                    var cartObject = {
                        'productId': productId,
                        'productName': productName,
                        'sku': sku,
                        'productImage': productImage,
                        'productDescription': productDescription,
                        'colorId': colorId,
                        'colorName': colorName,
                        'sizeId': sizeId,
                        'sizeName': sizeName,
                        'quantity': quantity,
                        'availableQuantity': availableQuantity,
                        'price': price,
                        'totalPrice': totalPrice
                    }

                    if (cartObjectArray == null) {
                        cartObjectArray = [];
                    } else {
                        for (var i = 0; i < cartObjectArray.length; i++) {
                            if (cartObjectArray[i].productId == productId && cartObjectArray[i].colorId == colorId && cartObjectArray[i].sizeId == sizeId) {
                                cartObjectArray.splice(i, 1);
                            }
                        }
                    }

                    cartObjectArray.push(cartObject);

                    // Put the object into storage
                    localStorage.setItem('cartObjectArray', JSON.stringify(cartObjectArray));

                    //alert("Item added to cart");
                    toastr.info("Item added to cart", 'Information!');
                    loadTopCart();
                }


            } else {
                toastr.info("Lack of information", 'Information!');
                loadTopCart();
            }
        });

        $("#BuySingleProduct").click(function() {
            var singleProduct = JSON.parse(localStorage.getItem('singleProduct'));

            var productId = @Model.ProductId;
            var productName = "@Model.ProductName";
            var sku = "@Model.Sku";
            var productImage = $('#MainImageSingle').find('img').attr('src');
            var productDescription = "@Model.ShortDescription";
            var colorId = $('input[name=color]:checked').val();
            var colorName = $('input[name=color]:checked').attr("id");
            var sizeId = productSizeId;
            var sizeName = productSizeName;
            var quantity = $("#qtyVal").val();
            var newPrice = @Model.NewAmount;
            var price = getPrice($("#price").text());
            var totalPrice = price * parseInt(quantity);

            if (quantity > availableQuantity) {
                //alert("quantity can not grater the available quantity");
                toastr.info("quantity can not grater the available quantity", 'Information!');
            } else {
                var cartObject = {
                    'productId': productId,
                    'productName': productName,
                    'sku': sku,
                    'productImage': productImage,
                    'productDescription': productDescription,
                    'colorId': colorId,
                    'colorName': colorName,
                    'sizeId': sizeId,
                    'sizeName': sizeName,
                    'quantity': quantity,
                    'availableQuantity': availableQuantity,
                    'price': price,
                    'totalPrice': totalPrice
                }

                localStorage.setItem('singleProduct', JSON.stringify(cartObject));
                window.location.replace("/CheckOut/Index");
            }

        });
    });
</script>

<script>
    $(document).ready(function () {

        $('#demo-2 .simpleLens-thumbnails-container img').simpleGallery({

            loading_image: 'plugins/pages/img/loading.gif'
        });

        $('#demo-2 .simpleLens-big-image').simpleLens({

            loading_image: 'plugins/pages/img/loading.gif'
        });

    });
</script>

<!-- Start Size Guide-->
<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });
    });
</script>
<!-- End Size Guide-->
