﻿@model SaRaEcommerce.Models.ChangePasswordViewModel
@*@{
    ViewBag.Title = "Change Password";
}*@

<h2>@ViewBag.Title</h2>

@*<div class="row" style="min-height:350px;">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-12" style="background: #fff;padding:10px;box-shadow:0 1px 6px rgba(57,73,76,0.35)">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-center" style="padding-top:15px;">Change Your Password</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info btn-icon">Change Password</button>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
    <div class="col-md-2"></div>
</div>*@


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="reset_password">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "forget-form", role = "" }))
            {
                @Html.AntiForgeryToken()
                <form class="forget-form" action="" method="post">
                    <h3>Change Your Account Settings</h3>
                    <p style="font-size:12.8px;text-align:justify;">
                        Enter the following info below to reset your password.
                    </p>
                   
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-key"></i>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control placeholder-no-fix",@placeholder="Old Password" })
                        </div>
                    </div>
                    
                 
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-key"></i>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control placeholder-no-fix", @placeholder = "New Password" })
                        </div>
                    </div>
                    
                  
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-key"></i>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", @placeholder = "Confirm New Password" })
                        </div>
                    </div>

                    
                    

                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn">
                            <a href="@Url.Action("Index", "Manage")" style="color:#000;text-decoration: none;"><i class="m-icon-swapleft"></i> Back</a>
                        </button>

                        <button type="submit" class="btn btn-primary pull-right">
                            Change <i class="m-icon-swapright m-icon-white"></i>
                        </button>
                    </div>
                </form>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
      
    </div> 

    
    <div class="col-md-4"></div>
</div>
    
